[2019-06-26 00:16] aaronmarkham opened #366 "ssl cert isn't working for the website"
https://gluon.ai gives a security warning.

[2019-07-02 20:29] zhreshold opened #385 "chapter_computational-performance/hybridize.ipynb has"
In the mentioned notebook, there's a code snippet not deleted?

[code]
I suppose these should be deleted?

[2019-07-24 02:21] lmxhappy opened #406 "yolo is not talked about"
yolo is one important method of object detection and had better to be known in the book.

[2019-07-24 03:53] astonzhang commented on #406
Thanks. We used to include that but the current CV chapter is too heavy. We may consider covering it in Volume 2.

[2019-07-24 11:37] lmxhappy commented on #406
very cool

[2019-07-25 18:22] hassaanseeker opened #412 "AutoMl"
Can a chapter on AutoMl for deep learning on cell and network architecture search included on image segmentation

[2019-07-26 00:42] astonzhang commented on #412
AutoML is on my radar, not AutoMI

[2019-07-26 06:51] hassaanseeker commented on #412
Sure it has been on my Radar not radar for a long time.

[2019-07-27 00:54] astonzhang opened #415 "Simplify"
y.grad == 4 * x is more straightforward than y.grad - 4 * x

explain: yield

in first lin reg section, plot training process, split train vs test

simplify true_w - w.reshape(true_w.shape)

[2019-08-06 02:54] astonzhang commented on #415
Installation:

conda option (recommendation)
native option

indicate: download bash version of conda

[2019-09-05 19:34] cannedprimates opened #445 "Chapter 2.2 typo"
Section on norms, paragraph three, final sentence:

That may seem like a mouthful, but if you digest it then you probably have grepped the important concepts here.

I assume grepped is supposed to be grokked.

For future reference, do you prefer issues or pull requests for this sort of thing?

[2019-09-05 19:45] cannedprimates commented on #445
actually found the contributors guide and submitted a pull request...

[2019-09-05 19:45] #445 closed

[2019-09-25 00:53] hcho3 opened #462 "Incomplete sentence in section 6.1.2"
The last sentence in section 6.1.2 ("Constraining the MLP") is currently incomplete.

I suppose the sentence should say something like "the model will fail to generalize"

[2019-10-12 03:18] tataudat opened #485 "http://en.diveintodeeplearning.org/ is down"
In the past, http://en.diveintodeeplearning.org/ would redirect users into https://d2l.ai/. The latter site is now down.

[2019-10-13 08:46] tataudat opened #487 "Single quote is wrongly spaced in html output"
For example:

<img width="1008" alt="image" src="https://user-images.githubusercontent.com/48503738/66713107-84e39a80-edd0-11e9-963d-4fd567a0e253.png">

The pdf output of `d2lbook build pdf` works fine.

[2019-10-13 08:52] tataudat commented on #487
This maybe due to the fact that the output html generates will generate an `’`, instead of a single quote `'`.

[code]

[2019-10-13 09:07] #485 closed

[2019-11-04 20:55] PaulCCCCCCH opened #550 "A glitch in section 2.4.11"
`ell_2` is not displayed properly here.

[2019-11-04 22:51] smolix commented on #412
@hassaanseeker - stay tuned. We need to get our software support for AutoML taken care of first. There's a lot of ground to cover here, many different algorithms. Once this is done we can teach it, but good code comes first.

[2019-11-04 22:51] #412 closed

[2019-11-05 19:57] astonzhang commented on #550
Thanks.
Fix: https://github.com/d2l-ai/d2l-en/commit/e0a4b36f92416bcc1e2453d48da683a206820c73

[2019-11-05 19:57] #550 closed

[2019-11-08 02:22] jjangga0214 opened #565 "Add build instruction"
For contributors, please describe how to build the book (html, pdf, or live server).

[2019-11-10 08:51] HeYDwane3 opened #570 "Questions about how to track the change"
Hi, all d2l developers

Thanks for bringing d2l, a fantastic learning book for machine learning. While reading the book, I found myself a little lost, and I am not very used to Github, so could you guys give me some help?

I started to read the book in October, and the way I use the book is to download the PDF, thus the version I was read then was the version released by **Sep 25, 2019**. And rece

[2019-11-11 01:48] astonzhang commented on #570
1. The PDF release date is updated automatically.
2. Minor changes are added almost every day, such as typo fix, presentation improvement, etc. We will describe major changes in every release note.

[2019-11-11 04:35] HeYDwane3 commented on #570
So, there would be some sort of auto pdf generator, right? I am also curious about how that works. Would you mind providing me some source to learn that? Or maybe some keywords is also appreciated.

By saying release note, do you mean here --> https://github.com/d2l-ai/d2l-en/releases
And if that is the place you referred to, I am wondering what is the schedule for the release? As the latest relea

[2019-11-11 05:29] pedro-abundio-wang opened #572 "wrong equations in 10.3. Gradient Descent"
In 10.3.3.2. Convergence Analysis
equations (10.3.10) is wrong, the denominator in right equations should be second order derivative

![image](https://user-images.githubusercontent.com/50159788/68563007-1b19e780-0487-11ea-846c-87846411155d.png)

[2019-11-15 06:42] HeYDwane3 opened #604 "Question about the table of contents"
Hi,

I have a question about how to show the materials as the table of contents of the book in the Jupyter Notebook.

I saw there is an index.ipynb in most folders, I assume this is to show the materials as the order of the table of contents of the book. So I am wondering how can we take advantage of index.ipynb to sort other things? As now all the files can only be sorted by time, name, or size.

[2019-11-16 17:51] mli commented on #604
That's a little bit tricky since the TOC format follows sphinx instead of jupyter. We may improve in a future release

[2019-11-16 17:51] #604 closed

[2019-11-16 17:53] mli commented on #570
Both PDF and HTML are built by a CI, available at http://ci.d2l.ai/blue/organizations/jenkins/d2l-en/branches/

Every time we make a change, the CI will rerun notebooks and publish both PDF and HTML. So the version here is ahead of the latest release. BTW, v0.7 will be released soon.

[2019-11-16 17:53] #570 closed

[2019-11-16 17:53] mli commented on #572
@astonzhang

[2019-11-16 17:57] mli commented on #565
@astonzhang we should have a document for how to build the HTML (without evaluation).

The easiest way is first

[code]

Then change `eval_notebook = True` to `eval_notebook = False` in `config.ini`,

then `d2lbook build html`

Building PDF needs latex and others:

- Latex for PDF sudo apt-get install texlive-full librsvg2-bin
- Fonts for PDF
[code]
- Install pandoc, sudo apt-get install pandoc

[2019-11-16 17:58] mli commented on #462
@astonzhang

[2019-11-16 17:58] mli commented on #406
We plan to cover yolo v3 in a

[2019-11-16 17:58] #406 closed

[2019-11-16 18:00] mli commented on #385
already fixed.

[2019-11-16 18:00] #385 closed

[2019-11-16 23:24] astonzhang commented on #462
Thanks and Fixed.

[2019-11-16 23:24] #462 closed

[2019-11-16 23:36] astonzhang commented on #565
Done: https://github.com/d2l-ai/d2l-en/commit/abf419e8507f34bd058956acfbecd0a2b7546f36

[2019-11-16 23:36] #565 closed

[2019-11-16 23:37] astonzhang commented on #572
Thanks. We've fixed it earlier.

[2019-11-16 23:37] #572 closed

[2019-11-16 23:48] jjangga0214 commented on #565
@astonzhang
Which branch is the commit in?

[2019-11-17 00:09] jjangga0214 commented on #565
@mli @astonzhang Thanks for the response.
I'd like to also modify/contribute to https://github.com/d2l-ai/d2l-ko/.
It's created in April, so it doesn't have `config.ini`.

I also just tried
[code]
but an error occurred.

The real problem is that the repo(https://github.com/d2l-ai/d2l-ko/) is not active.
I've also made PRs and issues 10 days ago, but no response. Actually they seems not responding

[2019-11-17 00:33] astonzhang commented on #565
The commands above only apply to d2l-en for now.
For the other repos, just follow
https://github.com/d2l-ai/d2l-zh/blob/master/INFO.md

[2019-11-18 09:43] kornatzky opened #620 "How can this be used in AWS SageMaker?"
Cannot figure out how to use this code in a AWS SageMaker notebook instance.
The standard conda_mxnet_p36 kernel does not support,
[code]
Get the message cannot import np

[2019-11-18 10:15] astonzhang commented on #620
it will be available in 1.6.0 (not released yet)
for now, you can try nightly build, such as
pip install mxnet==1.6.0b20190915
or the cuda version

[2019-12-04 06:16] astonzhang commented on #620
Besides, before the MXNet 1.6.0 release, you may try a later nightly build via pypi:

pip install mxnet==1.6.0b20191122
or the cuda version such as
pip install mxnet-cu101==1.6.0b20191122

[2019-12-09 09:45] 2c2c opened #662 "solutions manual"
Any plans to publish solutions to the exercises?

[2019-12-09 19:14] astonzhang commented on #662
For exercises on the book, probably no.
For assignment in the Berkeley course: https://courses.d2l.ai/berkeley-stat-157/homework.html
Instructors may request all the homework solutions by emailing rlhu at amazon dot com.

[2019-12-16 14:11] songtaoshi commented on #662
Dear Dr Zhang,

      Thanks for reading my message !!!

      I am really impressed and thankful to your fantastic book!!!!

      I think this book will **change my life** because I have no access to such valuable resource. This book make me available to really valuable teaching of deep learning and my dream is to use fancy technology to create a popular product of my own. This book gives me hop

[2019-12-16 14:12] songtaoshi commented on #662
Dear Dr Zhang,

      Thanks for reading my message !!!

      I am really impressed and thankful to your fantastic book!!!!

      I think this book will **change my life** because I have no access to such valuable resource. This book make me available to really valuable teaching of deep learning and my dream is to use fancy technology to create a popular product of my own. This book gives me hop

[2019-12-19 19:13] mli commented on #620
@kornatzky  we added a new section to explain how to use sagemaker
http://d2l.ai/chapter_appendix-tools-for-deep-learning/sagemaker.html

[2019-12-20 09:51] mohamed-ali opened #670 "How to start a new translation?"
I would like to start translating d2l-ai book to Arabic. I see that you have a repository per language, could you create one for Arabic? If not what's the procedure? Thanks.

[2019-12-20 17:26] astonzhang commented on #670
Thanks! At the moment you may create your own repo d2l-ar, and start translating the Preliminaries chapter of the Release 0.7 (https://github.com/d2l-ai/d2l-en/releases/tag/v0.7.0). If we make changes in this chapter in the future release, you may git diff and incorporate translation of such changes. When translating, just leave math/code/labels/filenames as they are.

[2019-12-20 18:20] mohamed-ali commented on #670
@astonzhang Thanks for the details. Arabic (like hebrew, persian and others) are right-to-left languages. So I would like to test the framework that generates the books to see the changes required to support such languages. Could you point to a minimal examples generated with the same framework that I could play with to create a todo list of the changes required for RTL?
Thanks

[2019-12-20 18:46] astonzhang commented on #670
Sure, you may follow the instructions of http://book.d2l.ai/ to play with any example you like.

[2019-12-31 02:09] mli commented on #670
you can change the _build/rst/conf.py manually to add support for Arabic, see http://www.sphinx-doc.org/en/master/usage/configuration.html#options-for-internationalization

the pdf is built with xelatex, it should support Arabic as well

[2019-12-31 02:10] #620 closed

[2019-12-31 11:52] mohamed-ali opened #674 "d2l setup.py should include mxnet as depency with appropriate version"
After setting up a conda environment with all the required dependencies, running ` d2lbook build html` fails with the error message:

[code]
Attempting to solve this problem with `pip install mxnet` doesn't work, because d2l isn't using the stable released version of mxnet

[code]

I think mxnet should be added to the setup.py of d2l as a dependency. The appropriate mxnet version should be specifi

[2019-12-31 22:24] astonzhang commented on #674
Thanks. In https://d2l.ai/chapter_installation/index.html, we separate the installation of mxnet from dependency of d2l's setup. This will allow users to specify the CPU version or a certain cuda version of mxnet based on their preference.

[2020-01-01 09:24] umairsiddiqui-digitek opened #675 "kindly update the python code in chapter_preliminaries/ndarray.md for (Python 3.7.4+ and mxnet 1.5.0+)"
following code in `chapter_preliminaries/ndarray.md` is not working in
Python 3.7.4 (win64) and mxnet 1.5.0 (mxnet-1.5.0-py2.py3-none-win_amd64.whl )

[code]
------------------------------------------------------
i installed mxnet in python virtual-environment using

[code]
which installed following python packages:

[code]

i'm getting following error
[code]

[2020-01-02 10:41] mohamed-ali commented on #674
Thanks for clarifying. That seems reasonable.

[2020-01-02 10:42] #674 closed

[2020-01-02 19:36] astonzhang commented on #675
np will be available soon in the 1.6 release. You may
`pip install mxnet --pre`

[2020-01-03 07:29] mohamed-ali commented on #670
@mli thanks for suggesting using language="ar" but it doesn't actually have an impact on the page layout.

I spent sometime investigating various options to support RTL, I found that the best way is to create a rtl.css file and include it in the book's config.ini file.

[code]

The only blocker against using this technique is that, currently, mxtheme layout loads the custom css files before the ma

[2020-01-03 15:45] mohamed-ali commented on #670
@mli I added a PR to change the css files load order: https://github.com/mli/mx-theme/pull/4

[2020-01-04 07:11] tambry opened #682 "IPv6 support"
The website lacks IPv6 support.

Since it seems to use CloudFront, fixing this should be as easy as [enabling IPv6 on the CloudFront distribution](https://aws.amazon.com/blogs/aws/ipv6-support-update-cloudfront-waf-and-s3-transfer-acceleration/) and [creating an AAAA ALIAS record pointing to it](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-to-cloudfront-distribution.html#routi

[2020-01-06 03:33] calpa opened #685 "[BUG] NameError: name 'DATA_URL' is not defined"
When I follow the example in Chapter 2.4 Calculus, the first block can not be executed.
[code]

Which prompts the following error:

[code]

https://github.com/d2l-ai/d2l-en/blob/master/d2l/d2l.py#L361

The DATA_URL is defined in `chapter_multilayer-perceptrons/kaggle-house-price.md`, but not in the d2l.py.

[2020-01-06 10:18] cclauss opened #686 "Undefined names: missing imports?"
[flake8](http://flake8.pycqa.org) testing of https://github.com/d2l-ai/d2l-en on Python 3.8.0

$ __flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics__
[code]
https://flake8.pycqa.org/en/latest/user/error-codes.html

On the flake8 test selection, this PR does _not_ focus on "_style violations_" (the majority of flake8 error codes that [__psf/black__](https://github.com/psf/black) c

[2020-01-06 19:47] astonzhang commented on #685
We made this change recently in https://github.com/d2l-ai/d2l-en/blob/master/d2l/d2l.py
Can you:
[code]

[2020-01-06 19:48] astonzhang commented on #686
See https://github.com/d2l-ai/d2l-en/issues/685

[2020-01-06 19:50] cclauss commented on #686
One down, four to go.

[2020-01-06 22:40] astonzhang commented on #685
Thanks. We are adding those back
https://github.com/d2l-ai/d2l-en/commit/bca6cfbc48189b8b5655dbcaf8aa2fe7442546a2

[2020-01-07 08:19] ezzatmostafa96 commented on #685
So what's the answer to such a problem?

[2020-01-07 10:03] calpa commented on #685
@ezzatmostafa96 downgrade d2l to 0.11.0, i.e. `pip install d2l==0.11.0` or wait the new patch.

[2020-01-07 21:18] Binh0103 commented on #686
.

[2020-01-11 03:04] astonzhang commented on #685
To always get the most updated `d2l` lib, simply

[code]

Below lists the uploaded versions of `d2l`:
https://pypi.org/project/d2l/#history

For now, you may get the most updated version by
[code]

[2020-01-11 03:04] astonzhang commented on #685
@ezzatmostafa96 see my comment above. thanks

[2020-01-15 15:03] IronOnet commented on #675
Hi astonzhang, are you working on upgrading the d2l module to mxnet 1.5.0, if not i was wandering if can be of any help by contributing, im currently using the book, best regards!!

[2020-01-15 18:59] astonzhang commented on #675
The d2l module has been upgraded to mxnet 1.6.0 (will be release shortly)

[2020-01-21 17:47] #685 closed

[2020-01-21 17:49] astonzhang commented on #686
We have fixed the missing imports. For the remaining flake8 style issues, we'll fix in the end

[2020-01-21 17:49] #686 closed

[2020-01-21 19:00] cclauss commented on #686
$ __flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics__
[code]

[2020-01-28 13:37] sanjaradylov opened #712 "d2l.py installation issue"
I have installed d2l-0.11.2 (the latest version so far) using pip as it was suggested in [Installation](https://d2l.ai/chapter_installation/index.html). When I attempted to run `d2l.Vocab` from [Machine Translation and the Dataset](https://github.com/d2l-ai/d2l-en/blob/master/chapter_recurrent-modern/machine-translation.md#vocabulary), I got
[code]
I turned to the source code of d2l package instal

[2020-01-28 18:15] astonzhang commented on #712
Thanks. I just uploaded the latest d2l source to pypi. You may do `pip install d2l --upgrade` now.

We keep editing the source file of d2l and only regularly upload such changes to the pypi package. Next time when you encounter similar problems, you may install from source, which may have not been uploaded to pypi yet:

[code]

[2020-01-29 07:37] #712 closed

[2020-02-04 00:49] rigtorp opened #724 "Broken links"
~~Seems like there is some issue with internal cross references:~~
The hash id link errors are due to a bug in the muffet tool.

[code]

[2020-02-04 02:44] astonzhang commented on #724
@goldmermaid Could you take a look at it?

[2020-02-05 23:15] goldmermaid commented on #724
Hi @rigtorp , is this a bug for the muffet tool? I try the links (such as https://www.stat.cmu.edu/~ryantibs/convexopt-F15/lectures/26-nonconvex.pdf) and they seem to be worked.

[2020-02-07 03:37] rigtorp commented on #724
@goldmermaid Right it doesn't handle hash id links as I stated. But these links are broken on my workstation (Fedora 31):
	404	https://static.googleusercontent.com/media/research.google.com/en//people/jeff/Stanford-DL-Nov-2010.pdf
	x509: certificate signed by unknown authority	https://www.stat.cmu.edu/~ryantibs/convexopt-F15/lectures/26-nonconvex.pdf

[2020-03-06 16:05] xiaojidan opened #766 "ERROR : pip install git+https://github.com/d2l-ai/d2l-en"
When I enter 'pip install git+https://github.com/d2l-ai/d2l-en', it shows that

"`Cloning https://github.com/d2l-ai/d2l-en to /private/var/folders/42/wvdnbdv97t36hl2tbpl7qnhm0000gn/T/pip-req-build-3ifoib73
  Running command git clone -q https://github.com/d2l-ai/d2l-en /private/var/folders/42/wvdnbdv97t36hl2tbpl7qnhm0000gn/T/pip-req-build-3ifoib73
  error: RPC failed; curl 18 transfer closed with

[2020-03-06 17:14] astonzhang commented on #766
I tested `pip install git+https://github.com/d2l-ai/d2l-en` on my end and it still works. Did you google the error?
Alternatively, you may
option 1) `pip install d2l`
option 2) `git@github.com:d2l-ai/d2l-en.git && cd d2l-en && python setup.py --develop`

[2020-03-07 14:39] xiaojidan commented on #766
@astonzhang  Thanks a lot . I solve it by your suggestions.

[2020-03-08 14:59] gregbruss opened #774 "Correct method of making changes?"
Hi, first time contributor here. I've made some changes to my local (forked) repo on the MLP chapter, and then committed these changes to my fork and pushed it.

When I opened a pull request, it seems to have confused github as I see large diffs between our versions, and it fails some of the CI tests. I just reworded a couple sentences and fixed some typos

![image](https://user-images.githubuserc

[2020-03-08 22:51] astonzhang commented on #774
See my comments in https://github.com/d2l-ai/d2l-en/pull/771

[2020-03-08 22:51] #774 closed

[2020-03-10 23:35] cvdelannoy opened #780 "error in last code block of 8.5 (RNN from scratch)?"
If you run notebook 8.5 and you arrive at the last code block, a model should be trained where state is re-initialized at the start of each epoch:
[code]

However if you run the code as-is, it will take the model generated from the previous code block:
[code]
and continue training that one. Is this an error or was this as it was meant to be? I'm afraid I don't understand which one it should be fro

[2020-03-10 23:42] astonzhang commented on #780
In Jupyter notebook, it is expected that "it will take the model generated from the previous code block" "and continue training that one". If you want to train a fresh model, you need to do re-initialize `model` before invoking `train_ch8`

[2020-03-10 23:49] cvdelannoy commented on #780
Okay, if it should be like that I'm closing. Thanks for clarifying!

[2020-03-10 23:49] #780 closed

[2020-03-19 21:19] Momentum-TN opened #795 "Typo in chapter Preliminaries in Probability part"
Hello, I am using the book for refreshing my mind.
I have found a typo: "Say that we cast a DICE...." not a die

it has been repeated 22 times in the chapter.

Thank you for your effort for making ML free to learn.

[2020-03-19 21:55] astonzhang commented on #795
Thanks. Do you want to send a PR to fix them:
https://d2l.ai/chapter_appendix-tools-for-deep-learning/contributing.html

[2020-03-20 16:20] szha opened #796 "MXNet Nightly Builds Moved to S3"
Hi,

MXNet nightly builds have been moved from PyPI to S3 (https://github.com/pypa/pypi-support/issues/243). If this project requires the nightly builds for CI validation, please make sure that your CI pipeline now takes the nightly builds from https://dist.mxnet.io/python. Furthermore, as MXNet [1.7](https://github.com/apache/incubator-mxnet/issues/16864) and [2.0](https://github.com/apache/incub

[2020-03-21 11:19] paulaurel opened #798 "Fix graphic [d2l-en/img/vgg.svg]"
The VGG network uses a MaxPooling layer with a 2x2 kernel not a 3x3 kernel.

[2020-03-23 00:32] graytowne opened #800 "Wrong citation in Chapter recommender system"
Hi d2l authors,

I found a minor mistake in the [chapter of recommender system](https://github.com/d2l-ai/d2l-en/blob/master/chapter_recommender-systems/seqrec.md):
The citation link for Caser is wrong:
[code]
,which should be:
[code]
Thanks for providing this high-quality content. Also, as a author of the mentioned method, I really appreciate it could be introduced in this valuable book.

[2020-03-23 02:17] astonzhang commented on #800
Hi Jiaxi, thanks for spotting it and your great work on Caser!
Do you mind [sending a PR](https://d2l.ai/chapter_appendix-tools-for-deep-learning/contributing.html) to fix it?

[2020-03-23 02:48] graytowne commented on #800
Sure thing, here's the PR: #801.

[2020-03-23 03:05] #800 closed

[2020-03-23 03:06] #766 closed

[2020-03-24 06:00] kaharjan opened #803 "Why AddNorm() in the Transformer 9.3.3 (line: `self.norm(self.dropout(Y) + X)` ) is different from the Original one (line :` x + self.dropout(sublayer(self.norm(x))) ` ) ?"
In [The Annotated Transformer](https://nlp.seas.harvard.edu/2018/04/03/attention.html) the residual connection is implemented like that :  ` x + self.dropout(sublayer(self.norm(x))) `
However, in the section  9.3.3, it is implemented in this way:
`self.norm(self.dropout(Y) + X)` . Is it correct?

[2020-03-25 03:02] Guiming opened #806 "Error: module 'd2l' has no attribute 'train_ch5'"
I was following the Feb 2020 version of the book, tried running alexnet.ipynb (chapter_convolutional-modern) and got this error: module 'd2l' has no attribute 'train_ch5'.
This error is from

d2l.train_ch5(net, train_iter, test_iter, num_epochs, lr)

It seems the d2l module does not include the train_ch5 function.

[2020-03-25 20:18] astonzhang commented on #806
Since the book is still under development, we only track major changes in each [release](https://github.com/d2l-ai/d2l-en/releases).

If you are reading the latest version, it uses `train_ch6` now:
http://d2l.ai/chapter_convolutional-modern/alexnet.html

If you use any of the previously released version, you may follow the instruction section and still be able to run its code.

[2020-04-03 00:35] sergulaydore opened #810 "Typo in Figure d2l-en/chapter_attention-mechanisms/seq2seq-attention.md"
The content should be context and also the outputs of decoder are coded as encoder outputs.

[2020-04-06 12:36] Mxbonn commented on #662
+1, I think for any decent self study we should be able to verify our solutions to exercises.

[2020-04-20 00:15] austinmw opened #824 "Possible typo in 3.4.3"
In 3.4.3, under _Cross-Entropy Revisited_, it says:

I can't interpret what this means, so I think it may be a typo.

[2020-04-24 14:02] austinmw opened #834 "[Question] in 4.4.2 Validation Dataset"
In the section _Validation Dataset_ it says,

`"The uncertainty in our estimates can be shown to be of the order of $\mathcal{O}(n^{\frac{-1}{2}})$"`

Would it be possible to expand on how this is derived or add a citation?

[2020-04-30 17:28] szha commented on #796
@astonzhang checking in. is the infra change ready?

[2020-04-30 18:58] astonzhang commented on #796
We currently use released version. I'll close it. Thanks for the heads up!

[2020-04-30 18:58] #796 closed

[2020-05-03 20:56] austinmw opened #843 "Data leakage in Kaggle House Prices example"
In _4.10.4. Data Preprocessing_, normalization is applied to `all_features`, therefore information from the test set is being leaked to the training set.

I believe you should instead fit the normalization to the training set, and then apply the fitted transform to both sets, for example:

[code]

Ref: https://stackoverflow.com/questions/49444262/normalize-data-before-or-after-split-of-training-an

[2020-05-04 00:27] austinmw commented on #843
Closing. After thinking about it, this is fine for a Kaggle competition.

[2020-05-04 00:27] #843 closed

[2020-05-13 16:29] choldgraf opened #852 "What infrastructure do you use to build this site?"
Hey there 👋 - this is a really amazing resource! I work on an open source project called [Jupyter Book](https://jupyterbook.org) that builds books similar to this one, and I am really curious what your build / website infrastructure looks like! Trying to see if I can find some pieces of inspiration in your infra :-)

[2020-05-13 19:17] astonzhang commented on #852
Thanks. Just check out http://book.d2l.ai/

[2020-05-13 19:17] #852 closed

[2020-05-13 19:21] choldgraf commented on #852
Very cool - thanks for the link. Just FYI Jupyter Book actually now uses Sphinx entirely for building books as well - we just finished a total re-write: check out the docs if you're curious (jupyterbook.org)

[2020-05-14 08:55] Alexander-Schiendorfer opened #855 "Little understanding issue in 8.1"
I am a litte confused by the following paragraph

Isn't the former (hindsight) called **intrapolation** and the latter (foresight) called **extrapolation**. So, the other way around?

[2020-05-19 16:16] astonzhang commented on #824
Thanks. Solved.

[2020-05-19 16:16] #824 closed

[2020-05-19 21:59] goldmermaid commented on #855
Hey @Alexander-Schiendorfer , great catch! I have made a PR through https://github.com/d2l-ai/d2l-en/pull/878

[2020-05-20 18:49] goldmermaid commented on #810
Hi @sergulaydore , good catch! I have made changes in the PR https://github.com/d2l-ai/d2l-en/pull/882

[2020-05-20 18:50] goldmermaid commented on #798
Hi @paulaurel , great catch! Thanks for @cuongvng corrected the text. I made the plot changes as well at PR https://github.com/d2l-ai/d2l-en/pull/881

[2020-05-22 21:37] mli opened #886 "[RFC] Code structure refactor"
## Background

Most d2l chapters follows the data/network/loss/training/prediction structure. Codes are reused by saving into the d2l package. However, APIs are not consistent and some functions have a lot of arguments. Some users are using the d2l package in their products after learning the materials. So it's good to have d2l to be a mini deep learning framework, and also improves its readabilit

[2020-05-22 21:38] mli commented on #886
@astonzhang @smolix @AnirudhDagar @archersama

[2020-05-23 02:02] astonzhang commented on #886
Thanks. The idea is very good and the workaround of breaking a class def into multiple cells may address our earlier concerns. One thing we need to think carefully is the design of the `Trainer` base class, such as its `fit` method: D2L has many different use cases such as sequence to sequence and object detection.

[2020-05-23 05:38] AnirudhDagar commented on #886
As @astonzhang suggested, I have the same concerns with the design of the `Trainer` base class `fit` method which needs to handle various scenarios.

Other than that, type hints will surely be a great addition for type checking using mypy and it also adds to the readability of the code, making it more understandable. We should definitely add it to the key APIs.
Also `fstrings` in `python3` again h

[2020-05-23 19:19] mli commented on #886
we can have multiple version of `Trainer`, for example, the basic CPU trainer `BasicTrainer`, the multi-gpu trainer `Trainer`, and others. The idea is to reuse codes.

We don't need to have a single trainer to support every framework, but make them as similar as possible. I'm thinking about have all codes in the `d2l` module, then

[code]

[2020-05-26 14:37] ChaiBapchya commented on #670
@mohamed-ali any update on this? Looks like it's not merged yet.

[2020-05-26 14:42] ChaiBapchya opened #902 "[Website] Table of contents incorrectly displayed"
https://d2l.ai/chapter_computer-vision/image-augmentation.html
![Screen Shot 2020-05-26 at 7 38 54 AM](https://user-images.githubusercontent.com/10992635/82914186-0a612880-9f24-11ea-98c4-1fee6ade500c.png)

https://d2l.ai/chapter_computer-vision/rcnn.html
![Screen Shot 2020-05-26 at 7 39 02 AM](https://user-images.githubusercontent.com/10992635/82914248-1d73f880-9f24-11ea-9ce8-c608e3b8311c.png)

As

[2020-05-26 14:43] mohamed-ali commented on #670
@ChaiBapchya I started some translations locally which required few changes. I can push PRs with the changes and translations, but as you can the PR in my last comment is still open.

[2020-05-26 14:49] ChaiBapchya commented on #670
Yes. I'm guessing we need to first get the change to css file load order merged & then your subsequent PR for translation. Right?
But to get css file load order verified, it would be great if you could verify existing functionality doesn't break + Arabic translations work too. Just because I don't know CSS thoroughly.

[2020-05-26 15:31] ChaiBapchya opened #903 "chapter_computational-performance/multiple-gpus-gluon.md failure"
Upon running
[code]
It fails with `IndexError: list index out of range`
### Stack Trace
[code]

[2020-05-26 16:13] mli commented on #903
@astonzhang  we need to check if there are two gpus to use x_shards[0] and x_shards[1]

[2020-05-26 17:27] astonzhang commented on #903
Sure. Currently we require that the machine has to have at least 2 GPUs.

[2020-05-26 17:32] astonzhang commented on #903
@ChaiBapchya  For now, can you put such notebooks that require > 2 GPUs in exclusions of config.ini: https://github.com/d2l-ai/d2l-en/blob/master/config.ini#L28 ?

[2020-05-26 18:21] ChaiBapchya commented on #903
And should this be for local testing or pushed as a change to master?

[2020-05-26 19:32] astonzhang commented on #903
local testing

[2020-05-27 18:15] mli commented on #902
fixed

[2020-05-27 18:15] #902 closed

[2020-05-27 18:24] ChaiBapchya commented on #902
Thanks. Curious to know which commit fixed it.

[2020-05-28 19:09] astonzhang commented on #855
Thanks @Alexander-Schiendorfer and @goldmermaid, I made some further edits:
https://github.com/d2l-ai/d2l-en/commit/8402f99660acb6fa1a1cc0cb67bbde0b947fe788

[2020-05-28 19:09] #855 closed

[2020-05-29 08:48] cuongvng opened #905 "Inconsistent learning curve of two NiN training"
When our team trained the NiN network in chapter 7 more than one time, we got different learning curves:
**First time:**

![image](https://user-images.githubusercontent.com/30251584/83240593-d2781080-a1c3-11ea-8ca0-8337490d4c76.png)

**Second time:**

![image](https://user-images.githubusercontent.com/30251584/83240283-62698a80-a1c3-11ea-8d16-4566568e3c16.png)

Maybe there is a problem with the in

[2020-05-30 18:15] mli commented on #905
it looks like the training is not very stable, maybe learning rate is too large?

[2020-05-31 06:24] #675 closed

[2020-05-31 06:24] astonzhang commented on #724
Thanks. Currently our building system is unstable, we'll fix all the broken links after it gets stable.

[2020-05-31 06:24] #724 closed

[2020-05-31 06:25] #795 closed

[2020-05-31 06:25] astonzhang commented on #798
Thanks. Closing since it's fixed

[2020-05-31 06:25] #798 closed

[2020-05-31 06:25] #806 closed

[2020-05-31 06:26] astonzhang commented on #810
Closing since it's fixed.

[2020-05-31 06:26] #810 closed

[2020-05-31 07:34] nguyenhoa93 commented on #905
I think that @cuongvng used the same parameters from the book for two pieces of training but got two different results (one good and one bad). Perhaps, he is mentioning about the reproducibility of the code.

I saw in [this discussion](https://discuss.mxnet.io/t/ensuring-the-same-result-with-dropout-using-random-seed/392/7) that @mli also find some way to make the result reproducible but the rando

[2020-06-01 06:59] goldmermaid opened #919 "eifjccinlfvugtgvejbvubvccubnjkccbgcffejvcivd"

[2020-06-01 13:47] cuongvng commented on #905
@mli thank you for your advice. I tried reducing `lr` from 0.1 to 0.01, and the learning curves after running 5 times followed the same pattern, though they were not identical. The mxnet code still cannot reproduce the same result.

[2020-06-01 15:05] #919 closed

[2020-06-01 15:11] goldmermaid commented on #905
Hi @cuongvng ,can you try to the change the `force_reinit = True` to False at `train_ch6` https://github.com/d2l-ai/d2l-en/blob/4b0ea4bf1821049fa4a044c88fa6e0ec52a0630d/d2l/mxnet.py#L417? I tried with running 7 times and they all work well.

[2020-06-02 07:10] cuongvng commented on #905
@goldmermaid thank you. Setting `force_reinit=False` is better than `True`. The learning curves had the same pattern, though they did not have exactly the same loss and acc.

[2020-06-02 08:06] xidulu opened #925 "What happened to the discussion website?"
It seems that all the past threads in https://discuss.d2l.ai/ are gone?

Also, discussion sections of some chapters become `Error Embedding` in my browser. e.g https://www.d2l.ai/chapter_linear-networks/linear-regression.html

[2020-06-03 11:46] SoojungHong opened #929 "Number of parameters in Transformer"
Hi, All

I want to count the number of trainable parameters in Transformer.
In PyTorch, there is a function (e.g. encoder.parameters()) to get the number of parameter.
But it seems that d2l.EncoderDecoder(TransformerEncoder, TransformerDecoder) doesn't provide this kind of function.
The reference model is following Transformer.
https://d2l.ai/chapter_attention-mechanisms/transformer.html

Anyone k

[2020-06-03 14:39] AnirudhDagar commented on #929
You can try using `collect_params()` for any network and loop over the params like this:
[code]
Not sure if a more concise/easier method exists. But this should work.

[2020-06-03 20:53] SoojungHong commented on #929
Thank you so much.
I could count parameters with your advice.

[2020-06-04 21:45] astonzhang commented on #905
We force_reinit=True since it may be invoked multiple times in a notebook and each invocation should train the model from scratch (re-initialize params). Note that train_ch6 uses Xavier init. If you set it to False, in the nin section it will use the default init by `net.initialize()` before invoking train_ch6.

[2020-06-05 17:27] mli commented on #925
fixed

[2020-06-05 17:27] #925 closed

[2020-06-05 22:54] manuel-arno-korfmann-webentwicklung opened #935 "German translation"
Is a german translation already in the progress somewhere?

I've [started translating a few sentences of the preface to german](https://github.com/manuel-arno-korfmann-webentwicklung/d2l-de/pull/1/files) and wondered if this is something already pursued by someone else.

[2020-06-06 00:35] manuel-arno-korfmann-webentwicklung opened #936 "Reading group via online video chat"
We would take turns reading the material and discuss after every passage to help with understanding and also attempt to solve exercises together.

[2020-06-06 11:50] manuel-arno-korfmann-webentwicklung commented on #936
https://coursera.community/artificial-intelligence-ai-64/reading-group-for-dive-into-deep-learning-book-https-d2l-ai-10414

[2020-06-08 14:14] cclauss opened #948 "Undefined name: 'vocab' in mxnet.py"
@astonzhang https://github.com/d2l-ai/d2l-en/blob/master/d2l/mxnet.py#L2222-L2223 on these lines `vocab` is an undefined name.

[flake8](http://flake8.pycqa.org) testing of https://github.com/d2l-ai/d2l-en on Python 3.8.3

$ __flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics__
[code]
https://flake8.pycqa.org/en/latest/user/error-codes.html

On the flake8 test selection, this PR d

[2020-06-08 17:02] goldmermaid commented on #803
Hey @kaharjan ! If we carefully read the paper (https://arxiv.org/abs/1706.03762), in section 3.1, it states "We employ a residual connection around each of the two sub-layers, followed by layer normalization". Hence, it should be an 'Add' followed by a 'Norm', i.e.,
- Add: self.dropout(Y) + X
- Norm: self.norm()

There is not an extra "X + ". Please ask your question on our forum (https://discuss

[2020-06-08 17:38] goldmermaid commented on #948
Hi thanks for raising the issue. I had a PR https://github.com/d2l-ai/d2l-en/pull/951.

[2020-06-08 17:47] goldmermaid commented on #929
Hey @SoojungHong , could you close this issue if everything is clear?

[2020-06-08 17:59] goldmermaid commented on #935
Hi @manuel-arno-korfmann-webentwicklung , we haven't started translating to German yet. If you seriously decide to volunteer, we can guide you through the process.

[2020-06-08 18:37] astonzhang commented on #935
Thanks for the interest! Currently we are still editing the entire book like crazy. For translation repo, there are two options:

option 1: start translation right now based on a stable release (most stable release is https://github.com/d2l-ai/d2l-en/releases/tag/v0.8.0). While we are still editing text and code every day, when there's a new release, `git diff` so you can translate those changes.

[2020-06-08 19:40] SoojungHong commented on #929
ok, thanks a lot for your help!

[2020-06-08 19:40] #929 closed

[2020-06-08 20:51] xiaotinghe commented on #948
PR #953

[2020-06-08 21:15] astonzhang commented on #948
Thanks @goldmermaid and @xiaotinghe . It's fixed now.

[2020-06-09 01:50] cclauss commented on #948
Fixed in #953

[2020-06-09 01:50] #948 closed

[2020-06-09 01:52] cclauss commented on #686
Fixed in #953

[2020-06-09 20:09] AnirudhDagar opened #974 "Issue with plot titles in Section 18.6.1.6"
In section [18.6.1.6. Standard Deviations](https://d2l.ai/chapter_appendix-mathematics-for-deep-learning/random-variables.html#standard-deviations) the three different plots with different probabilities show the same title i.e. `p>1/8`.

This should be resolved to `p>1/8, p=1/8,  p<1/8` for the 3 plots respectively.
We need to update `plt.title` for this. I'll send in a PR to fix this issue.

[2020-06-09 21:26] astonzhang commented on #974
@bwerness

[2020-06-09 21:40] AnirudhDagar commented on #974
@astonzhang Do you want me to send in a fix?

[2020-06-09 21:44] bwerness commented on #974
I think if you just change it from
`d2l.plt.title("p > 1/8")`
to
`d2l.plt.title("p > {}".format(p))`
or similar should resolve this.

[2020-06-09 21:44] bwerness commented on #974
Send in the fix IMO.

[2020-06-09 22:34] #974 closed

[2020-06-10 06:03] smolix commented on #936
That's awesome if you do this. Why don't you record the videos and post them on YouTube. I'm sure it'll help others, too.

[2020-06-10 09:34] manuel-arno-korfmann-webentwicklung commented on #936
That is a good idea, I will try to get that started.

I also created a MailChimp newsletter to keep people up to date with the reading group's schedule:

https://247reading.group

[2020-06-10 11:38] manuel-arno-korfmann-webentwicklung commented on #936
@smolix The link to the first (partially) recorded session's video: https://us10.campaign-archive.com/?u=f6f2e1610af661ab8230eab77&id=29786ffa00 (Youtube link is just at the beginning of the message, it's a bit confusing since the campaign-archive doesn't seem to show the subject line)

[2020-06-11 08:43] StevenJokes opened #988 "Disscusion session:Error Embedding"
![image](https://user-images.githubusercontent.com/25657787/84364432-a9637100-ac02-11ea-8965-ca6018ee9dd2.png)

[2020-06-11 08:44] StevenJokes commented on #988
discuss.d2l.ai 拒绝了我们的连接请求。

[2020-06-11 08:55] #988 closed

[2020-06-11 11:29] StevenJokes opened #989 "2.5.2 does’t have PyTorch's version. And I added it."
https://discuss.d2l.ai/t/auto-differentiation/35

[2020-06-11 18:21] mli commented on #989
@AnirudhDagar

[2020-06-11 19:01] AnirudhDagar commented on #989
Can you please explain the doubt exactly? I have also replied to the thread in the forum.

[2020-06-12 02:53] StevenJokes commented on #989
The **first** reply is my 2.5.2's pytorch code. I use "detach" and "clone" to simulate what “copy” do in MXNET.**But which one is best, "detach" or "clone"?**

The **second** reply is about "the meaning of **d / a**" in 2.5.4. I tried another "b".The return of "b.grad == (d / b)" is false rather than true.**why?**

The **third** reply is my answer to 2.5.7. I'm still working on how to import plot

[2020-06-12 13:08] AnirudhDagar commented on #989
Answer to **first** question.
`tensor.detach()`  creates a tensor that shares the same storage with  `tensor`  that does not require grad.
But `tensor.clone()` will also give you original tensor's requires_grad attributes. It is basically an exact copy including the computation graph.

Use  `detach()`  to remove a tensor from computation graph and use  `clone`  to copy the tensor while still keepi

[2020-06-15 07:33] StevenJokes commented on #989
please look my new reply.

[2020-06-16 10:39] StevenJokes commented on #989
My new reply:
https://discuss.d2l.ai/t/auto-differentiation/35/9

[2020-06-16 22:33] AnirudhDagar commented on #989
Replied to the questions.

[2020-06-18 07:29] #989 closed

[2020-06-20 22:11] vzlamal opened #1049 "Sample weighting description + Example"
Recently I've built a classification code where was weighting of samples per class needed. During the process, I missed some chapter with example code on this topic.

Not sure where to place this chapter, but I think I can write it and create an example code. I imagine something like a brief intro and example on a dataset where classes will be from normal distributions with different means. Than o

[2020-06-21 01:31] astonzhang commented on #1049
Thanks. There are many topics that we can cover. As a book focusing on DL, currently we intentionally keep the first few foundational chapters *minimal* so readers can quickly get hands dirty with deep nets. We may consider adding more foundational topics when we expand our scope in topics such as data science/ML 101.

[2020-06-21 23:04] allenzhao opened #1051 "PDF of the torch version?"
Is there a way to download the torch version of the book in pdf? Thanks!

[2020-06-21 23:17] astonzhang commented on #1051
will provide later

[2020-06-22 20:21] vzlamal commented on #1049
I can even imagine this section in some appendix chapter with more specific problems just for sake someone is really looking for it, like I have. I leave the decision on you if it is worthy of writing it at this point.

[2020-06-25 15:49] StevenJokes opened #1065 "19.6.2. How to activate a particular implementation?"
$ pip install --user git+https://github.com/d2l-ai/d2l-book

  Building wheel for d2lbook (setup.py) ... done
  Created wheel for d2lbook: filename=d2lbook-0.1.16-py3-none-any.whl size=45335 sha256=b8dc8e4e0f672849f54dc05c008db79c8e3282605306e4035f0c47bc1fc7a1b8
  Stored in directory: C:\Users\a8679\AppData\Local\Temp\pip-ephem-wheel-cache-4t0dup_k\wheels\2b\cf\1b\550addc9241a37aebb7bf36b1bede4642

[2020-06-25 20:09] #415 closed

[2020-06-26 00:40] mli commented on #1065
does `d2lbook: command not found` mean `d2lbook` not found or `activate` not found. For the latter, I bumped version to 0.1.17, you can install d2lbook again to check if you have the 0.1.17 installed

[2020-06-26 02:26] StevenJokes commented on #1065
Installing collected packages: d2lbook
  Attempting uninstall: d2lbook
    Found existing installation: d2lbook 0.1.16
    Uninstalling d2lbook-0.1.16:
      Successfully uninstalled d2lbook-0.1.16
Successfully installed d2lbook-0.1.17

a8679@LAPTOP-8UNNKSEA MINGW64 /d/onedrive/文档/code/DL/d2l-en
$ d2lbook activate pytorch chapter_multilayer-perceptrons/mlp-scratc
h.md
**[d2lbook:config.py:L59] CRI

[2020-07-01 22:18] alexanderchr opened #1093 "test accuracy is evaluated with dropout"
In the torch code in section 4.6.4.2, an instance variable `is_training` is defined, but is kept constant during training, so the test accuracy is evaluated with dropout enabled which is probably not intended.

There is an instance variable `training` inherited from `nn.Module` (used by the `nn.Dropout` layer) that could be used instead. See https://pytorch.org/docs/stable/nn.html#torch.nn.Module.

[2020-07-01 22:18] alexanderchr opened #1094 "typo in section 6.3.1"
In section 6.3.1,

I think it should be "if p_h is even/odd", not k_h, since p_h will be odd if k_h is even and conversely.

[2020-07-02 00:01] astonzhang commented on #1093
@AnirudhDagar

[2020-07-02 00:17] StevenJokes commented on #1094
You are right.The Chinese version is the version.

[2020-07-02 03:35] StevenJokes commented on #1094
Can you close?

[2020-07-02 04:00] StevenJokes commented on #1093
It doesn't matter. Still works in training mode

[Discuss]( (https://discuss.pytorch.org/t/what-does-nn-modules-train-true-train-false-do/4004))

check for [source code]
(https://github.com/pytorch/pytorch/blob/2cdbb140e62d80906c4a6b1944e7e36650ec54b1/torch/nn/modules/module.py#L978)

[2020-07-03 02:43] astonzhang opened #1105 "[PT/TF Adaption] Overfit/Underfit"
For both PyTorch/TensorFlow Adaptations:

In [4.4](http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_multilayer-perceptrons/underfit-overfit.html), the plots for normal fitting (4.4.4.3.) and overfitting (4.4.4.5) have random non-ideal results: they can significantly differ from the mx plots.

@AnirudhDagar  @terrytangyuan, can you take a look at them? Or do you have a

[2020-07-03 08:02] terrytangyuan commented on #1105
Does this occur after reducing the number of epochs?

[2020-07-03 12:38] alexanderchr commented on #1094
thanks!

[2020-07-03 12:38] #1094 closed

[2020-07-03 12:58] StevenJokes opened #1108 "add a feature:Click Chinese button just like what pytorch and mxnet to return words of the Chinese version."

[2020-07-04 16:26] AnirudhDagar commented on #1093
@alexanderchr this has been addressed in #1110

[2020-07-05 04:27] StevenJokes commented on #1093
@AnirudhDagar `net.train()` doesn't need to be explicit, but it is better to be.But net.eval needs to be explicit, because it is not default.

[2020-07-05 04:28] AnirudhDagar commented on #1093
Yes, I know. But once you switch to net.eval(), you need to switch back to net.train() in the training loop.

[2020-07-05 05:44] StevenJokes commented on #1108
It means that we don't need another third level domain.
But it maybe cause that the docs is too long and hard to compare...So I dropped this idea.

[2020-07-05 05:59] StevenJokes commented on #1108
But I still think that it is worth to try to add a button to shift to Chinese words . And it means that everyone needs to understand English annotations in three forms of code. Maybe it will give Chinese readers a chance to start smoothly  by Chinese, and dive easily by English.

[2020-07-05 07:02] StevenJokes opened #1116 "[pytorch]4.4 has a bug in preview version. PR in #1117"
<img width="1199" alt="bug" src="https://user-images.githubusercontent.com/25657787/86527305-46e35500-bed0-11ea-9487-a78efd0a842a.png">
fix it in 8th cell:
https://github.com/StevenJokes/D2L_enread/blob/39eed9751b195d14da685c8374e992045b2fc19e/Ch04_MP/4-4-new.ipynb

[2020-07-05 07:10] StevenJokes commented on #1116
I have found it in
<img width="798" alt="no_bug" src="https://user-images.githubusercontent.com/25657787/86527456-72b30a80-bed1-11ea-96a4-130e3d95284c.png">
https://github.com/d2l-ai/d2l-en/blob/master/chapter_multilayer-perceptrons/underfit-overfit.md
why doesn't it appear in my preview version?

[2020-07-05 07:23] StevenJokes commented on #1116
It didn't happen too in http://preview.d2l.ai/d2l-en/PR-1115/chapter_multilayer-perceptrons/underfit-overfit.html.

[2020-07-05 07:24] StevenJokes commented on #1116
I got it! we forget to change `all` to `mxnet`!

[2020-07-05 07:31] StevenJokes commented on #1116
Have PR in https://github.com/d2l-ai/d2l-en/issues/1116 ！

[2020-07-05 07:34] StevenJokes commented on #1116
`#tab pytorch` and `#tab mxnet` lost their functions because of  `#tab all`.
![image](https://user-images.githubusercontent.com/25657787/86527766-a93e5480-bed4-11ea-8fad-a7f167804911.png)
![image](https://user-images.githubusercontent.com/25657787/86527803-eb679600-bed4-11ea-9169-a2332347780f.png)

[2020-07-05 07:40] StevenJokes commented on #1116
It tells us not to use `#@tab all` abusively

[2020-07-05 16:55] #1051 closed

[2020-07-06 10:33] alexanderchr commented on #1093
@AnirudhDagar Thanks! I think to fully resolve this issue, the class Net defined in section 4.6.4.2 should be changed to use `self.training` instead of `self.is_training`.

[2020-07-06 10:56] #935 closed

[2020-07-06 14:31] NishantTharani opened #1123 "Sudden drops in plots of loss/accuracy with extended training of a neural network"
Following along with the [concise implementation of multiplayer perceptrons](https://d2l.ai/chapter_multilayer-perceptrons/mlp-concise.html) I then tried to train a neural network with one extra hidden layer, for 50 epochs instead of 10. The resulting plot of training loss/train acc/test acc exhibits sudden drops:

<img width="263" alt="image" src="https://user-images.githubusercontent.com/3364104

[2020-07-06 21:08] AnirudhDagar commented on #1123
Hi @NishantTharani,
I was able to verify the issue and reproduce your results. The reason for the sudden drops is because the training loss becomes NaN after a few epochs.
You can fix this easily by using a smaller learning rate, which will keep this in control. A good default for SGD is lr=0.01 or 0.05.
Please try reporting back your results with these. :)

[2020-07-07 00:09] astonzhang opened #1125 "Unnecessary output <tensorflow.python.keras.engine.sequential.Sequential at 0x7fd94cc7aa50>"
http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_convolutional-neural-networks/lenet.html

Is there a way to avoid printing unnecessary output for train_ch6 (and possibly other similar functions):
<tensorflow.python.keras.engine.sequential.Sequential at 0x7fd94cc7aa50>

@terrytangyuan

[2020-07-07 00:12] astonzhang commented on #1105
Given the current hyperparameters, the current num_epochs is needed to demo underfitting/overfitting.

[2020-07-07 00:45] abhinavsp0730 commented on #1125
Hey, @astonzhang it's not the training output. I think the train_ch6 function is having a return statement. So while calling the model it's returning the model and thats why it's printing the address of the model.
How, about making the train_ch6 without a return statement. @astonzhang @terrytangyuan does it work?

[2020-07-07 00:55] astonzhang commented on #1125
Hiding the return statement will be ideal.

[2020-07-07 01:00] terrytangyuan commented on #1125
The `return` is necessary since we are creating the model object inside the function the model will be used outside of the function scope. We can assign the function output to a local variable to hide it.

[2020-07-07 02:59] StevenJokes commented on #1116
In `#tab all`  situation,
![image](https://user-images.githubusercontent.com/25657787/86697286-d3ad2080-c040-11ea-8e9e-3ae3215043b2.png)
You can look 6th cell in https://github.com/StevenJokes/D2L_enread/blob/39eed9751b195d14da685c8374e992045b2fc19e/Ch04_MP/4-4-new.ipynb

[2020-07-07 20:19] astonzhang commented on #1116
@AnirudhDagar can you take a look?

[2020-07-07 20:41] AnirudhDagar commented on #1116
I've already looked at this issue and PR #1117 @astonzhang!
@StevenJokes can you please mention the exact issue clearly?
I don't understand what problem you are facing here.

Everything looks good to me, other than #1105 which we are looking into.

[2020-07-07 20:53] AnirudhDagar commented on #1093
@alexanderchr that is the custom model we have built from scratch and hence it doesn't relate to how PyTorch's `net.train` sets `self.training=True`. Hence it is perfectly okay to use `self.is_training`.

On the other hand, for the concise implementation, we do need to use this, hence, I've fixed the issue already.

[2020-07-07 20:54] aksrajvanshi opened #1131 "Confusion regarding AlexNet dense layer ordering"
@AnirudhDagar

Problem: In the book, when AlexNet is implemented, in MxNet, it shows

`nn.Dense(4096, activation="relu"), nn.Dropout(0.5)` which is understood to be in the order :

dense layer -> relu -> dropout.

However, in pyTorch, the order seems to have changed and looks like this:

[code]

which seems like a different ordering than MxNet.

Can someone clarify this and edit the exact ordering

[2020-07-07 21:02] AnirudhDagar commented on #1131
Thanks, @aksrajvanshi for pointing this out. This is indeed a mistake. Raised a PR to fix this.

[2020-07-07 21:20] #1131 closed

[2020-07-07 22:51] alexanderchr commented on #1093
@AnirudhDagar: of course you can call it anything, but as it stands the value of ‘net.is_training’ is never changed. So either ‘train_ch3’ need to set the value of ‘net.is_training’ (in addition to calling ‘net.train()/eval()’) or the custom model should be modified to use ‘self.training’ instead.

[2020-07-07 23:10] AnirudhDagar commented on #1093
Yes @alexanderchr  Thanks for pointing this out.

[2020-07-07 23:12] AnirudhDagar commented on #1093
Yes @alexanderchr Thanks a tonne, for pointing this out.

[2020-07-08 01:14] StevenJokes commented on #1116
![image](https://user-images.githubusercontent.com/25657787/86861784-783f6900-c0fa-11ea-971f-693cacf8206d.png)
![image](https://user-images.githubusercontent.com/25657787/86861791-7c6b8680-c0fa-11ea-9200-2aa15ec5b110.png)
@astonzhang  `@#tab all`覆盖了 `@#tab pytorch`和`@#tab tensorflow`的内容，6楼的能运行，这个有bug.
@AnirudhDagar  In 4.4.4.1, `@#tab pytorch` was covered by `@#tab all`. Please try to run the pyto

[2020-07-08 01:18] StevenJokes opened #1133 "`#@tab pytorch` and `#@tab tensorflow` lost their functions because of `#@tab all`."
`#@tab pytorch` and `#@tab tensorflow` lost their functions because of  `#@tab all`.
![image](https://user-images.githubusercontent.com/25657787/86527766-a93e5480-bed4-11ea-8fad-a7f167804911.png)
![image](https://user-images.githubusercontent.com/25657787/86527803-eb679600-bed4-11ea-9169-a2332347780f.png)

_Originally posted by @StevenJokes in https://github.com/d2l-ai/d2l-en/issues/1116#issuecomm

[2020-07-08 01:20] StevenJokes commented on #1133
Just try the reference feature. Sorry, please look https://github.com/d2l-ai/d2l-en/issues/1116 again.

[2020-07-08 01:20] #1133 closed

[2020-07-08 12:00] terrytangyuan commented on #1116
I don't understand the issue you are having either. I don't see any issues in the preview.

[2020-07-08 12:05] StevenJokes commented on #1116
@terrytangyuan 您从头跑一遍程序，其他非1117的preview里，tensorflow和pytorch都只显示这个内容
![image](https://user-images.githubusercontent.com/25657787/86916495-42c86900-c156-11ea-842c-befeda8497de.png)
而不是
![image](https://user-images.githubusercontent.com/25657787/86916547-57a4fc80-c156-11ea-9484-e55cf467b9dd.png)

[2020-07-08 12:23] terrytangyuan commented on #1116
Okay feel free to close it if it's no longer an issue. Thanks.

[2020-07-08 12:29] StevenJokes commented on #1116
But I think that it is better to use common words other than annotatation in code.
The whole book has a style which there is always some sentences before code cell.
So I have a habit to copy the following code, thus I missed the line.
What's your point?

[2020-07-08 12:33] StevenJokes commented on #1116
Anyway. My mistake.

[2020-07-08 12:34] #1116 closed

[2020-07-08 13:37] StevenJokes opened #1136 "[pytorch] add -f https://download.pytorch.org/whl/torch_stable.html for pip."
http://preview.d2l.ai/d2l-en/PR-1132/chapter_installation/index.html
![image](https://user-images.githubusercontent.com/25657787/86925738-cf2d5880-c163-11ea-9f3a-7eb436ac8dd1.png)

![image](https://user-images.githubusercontent.com/25657787/86924460-1581b800-c162-11ea-9a8a-2b0886a9de34.png)

why don't we follow the code in pytorch.org?
![image](https://user-images.githubusercontent.com/25657787/86

[2020-07-08 13:45] StevenJokes commented on #1136
![image](https://user-images.githubusercontent.com/25657787/86926156-537fdb80-c164-11ea-99b1-17aa5eeec9bb.png)

[2020-07-08 14:00] StevenJokes commented on #1136
I found it is necessary add `https://download.pytorch.org/whl/torch_stable.html`
![image](https://user-images.githubusercontent.com/25657787/86927851-6a273200-c166-11ea-883a-40b9ec6e0abf.png)

[2020-07-08 14:08] StevenJokes commented on #1136
For Chinese guy, pypi mirror source of Tsinghua
![image](https://user-images.githubusercontent.com/25657787/86928582-4fa18880-c167-11ea-9ee9-fc40bdce75f0.png)

[2020-07-08 14:13] StevenJokes commented on #1136
I still suggest `using conda install`

[2020-07-08 17:32] #1136 closed

[2020-07-08 18:18] StevenJokes opened #1141 "[pytorch]Some questions in torch.py."
https://github.com/d2l-ai/d2l-en/commit/7a6d2973f85274f2e11cb6286bb68955254cc693#diff-7199ea3162d85ba4377898f52160727b

![image](https://user-images.githubusercontent.com/25657787/86955566-5d1c3a00-c18a-11ea-83ab-fb83a6f9dd3c.png)

![image](https://user-images.githubusercontent.com/25657787/86955734-a3719900-c18a-11ea-883b-08f38076a18d.png)

[2020-07-08 21:00] #936 closed

[2020-07-09 05:00] lalith1403 opened #1143 "Tensorflow For remaining chapters"
Tentatively, when is the release expected for Tf version of the entire course? Currently it supports till chapter 7.

[2020-07-09 10:40] terrytangyuan commented on #1143
We don’t have a particular date yet but please stay tuned.

[2020-07-09 18:01] #1093 closed

[2020-07-10 17:00] AnirudhDagar opened #1150 "MXNet/PT Non Ideal Results NiN"
The loss/accuracy plots are problematic for both MXNet and PyTorch.

@mli @astonzhang
http://preview.d2l.ai/d2l-en/master/chapter_convolutional-modern/nin.html

[2020-07-11 02:37] StevenJokes commented on #1123
#1141, `sum` may cause the result wrong

[2020-07-11 15:30] StevenJokes opened #1155 "[pytorch]just complete pytorch android demo app."
There are some ** bugs**  not shown in [PyTorch Mobile Runtime for Android](https://www.youtube.com/watch?v=O_2KBhkIvnc&list=PL_lsbAsL_o2CltIzzbaS_j1q1Lcvdyjsg&index=5&t=0s)
My github repo:https://github.com/StevenJokes/pytorch-andriod-greatdemo
My blog:https://blog.dltech.xyz/post/pytorch-android/

[2020-07-11 16:15] #1143 closed

[2020-07-12 03:50] StevenJokes commented on #1141
Please fix it quickly! @mli @astonzhang @AnirudhDagar

[2020-07-13 09:53] StevenJokes commented on #1141
It also happens in mxnet.py and tensorflow.py, so it maybe influences all eval process.
I reinstall my system, and lost d2l old version. But I will not install d2l until it fixed.

[2020-07-13 09:54] StevenJokes commented on #1141
prod!

[2020-07-14 00:23] astonzhang opened #1165 "Flaky test failure"
Below are a list of (possibly) flaky test failures. They make building tf portion less efficient thus should be addressed:

* http://ci.d2l.ai/blue/organizations/jenkins/d2l-en/detail/PR-1164/1/pipeline

[2020-07-14 03:54] StevenJokes opened #1167 "Add a feature:cite not only section num but also title."
![image](https://user-images.githubusercontent.com/25657787/87381920-5cd7d080-c5c8-11ea-8157-23bad9a8625a.png)
![image](https://user-images.githubusercontent.com/25657787/87381939-69f4bf80-c5c8-11ea-85d9-39eedb4bb05e.png)
Just like the Chinese version, we need to add title of cited section, in order to have a better recall of memory.

[2020-07-14 13:33] StevenJokes commented on #1141
No answer...

[2020-07-14 16:20] goldmermaid commented on #1141
Hi @StevenJokes , please refer to the latest updates: https://github.com/d2l-ai/d2l-en/blob/master/d2l/torch.py.

Let us know if that solve your questions.

[2020-07-14 17:44] StevenJokes commented on #1141
It didn't.
![image](https://user-images.githubusercontent.com/25657787/87458505-acf07a80-c63c-11ea-8567-54333b170c3b.png)
in https://numpy.org/doc/stable/reference/generated/numpy.ndarray.size.html
![image](https://user-images.githubusercontent.com/25657787/87458415-86324400-c63c-11ea-881d-1f789ac1c5ac.png)

[2020-07-14 17:46] StevenJokes commented on #1150
I said that they were caused by #1141:https://github.com/d2l-ai/d2l-en/issues/1141. Why did nobody fix it?

[2020-07-14 17:56] StevenJokes commented on #1141
The function was saved in torch.py, tensorflow.py, mxnet.py.
I have to PR first.

[2020-07-14 18:09] StevenJokes commented on #1141
OK. PR all related.

[2020-07-15 17:22] terrytangyuan commented on #1165
Perhaps setting some seeds would help.

[2020-07-15 20:29] astonzhang commented on #1165
@mli Do you think we can set seeds to disable randomness? It may help undesirable flaky test failure.

[2020-07-15 20:31] mli commented on #1165
i think we need to find the root cause, i.e. maybe due to bad weight initializations.

[2020-07-15 20:35] astonzhang commented on #1167
In academic writing, it's common to refer to section numbers.

[2020-07-15 22:47] astonzhang commented on #1123
This result is obtained after one additional layer without re-tuning hyperparameters. How could `sum` cause this result? Could you please be clearer? Thanks.

[2020-07-15 23:05] astonzhang commented on #1123
@StevenJokes see my comments in https://github.com/d2l-ai/d2l-en/pull/1176

[2020-07-15 23:06] AnirudhDagar commented on #1123
I and @goldmermaid discussed about this issue and she suggested it is probably due to the loss becoming NaN. Later, I verified that with a reduced learning rate as can be seen in my last comment. This probably hints at exploding gradients issue. What do you think @astonzhang?
I don't understand what Steven is suggesting.

[2020-07-15 23:06] astonzhang commented on #1150
@StevenJokes  plz see my comments https://github.com/d2l-ai/d2l-en/pull/1176

[2020-07-15 23:07] astonzhang commented on #1141
See my comments in https://github.com/d2l-ai/d2l-en/pull/1176

[2020-07-15 23:11] astonzhang commented on #1123
@AnirudhDagar Thanks for checking. When modifying architectures, hyperparameters (e.g., lr) may need to re-tuned.

[2020-07-15 23:12] astonzhang commented on #1155
Please use Issues to report issues. Thanks.

[2020-07-15 23:14] AnirudhDagar commented on #1123
@astonzhang Should we update the code in the chapter to use `lr=0.05` instead of `lr=0.5`? Or we leave this to be figured out by the readers?

[2020-07-16 02:14] astonzhang commented on #1123
When you changed it to 0.05, what acc did you get?

[2020-07-16 02:24] astonzhang commented on #1123
@AnirudhDagar , nvm, i just tested it and modified it to be 0.1

[2020-07-16 10:08] #1155 closed

[2020-07-16 10:18] StevenJokes commented on #1167
OK, I got it.

[2020-07-16 10:18] #1167 closed

[2020-07-16 12:47] StevenJokes opened #1188 "add a feature: github button to the matching .md"

[2020-07-16 13:07] StevenJokes opened #1189 ":numref:img_conv_pad not working."
https://github.com/d2l-ai/d2l-en/blob/master/chapter_convolutional-neural-networks/padding-and-strides.md
![image](https://user-images.githubusercontent.com/25657787/87674291-63bd3980-c7a8-11ea-82c5-f7aad58525c7.png)

[2020-07-16 13:44] StevenJokes opened #1190 "Add a chapter to deploy our model: mobile, server,etc."

[2020-07-16 16:32] StevenJokes commented on #1189
![image](https://user-images.githubusercontent.com/25657787/87697647-eeac2d00-c7c4-11ea-9ff4-07c99d41e894.png)
http://preview.d2l.ai/d2l-en/master/chapter_recurrent-modern/gru.html

[2020-07-18 12:31] SportsTHU opened #1211 "Doc string for dataloader in "image-classification-dataset" part"
Dear Professor/authors:
  I am not sure whether I've mis-understood the meaning.

  The doc string in **chapter_linear-networks/image-classification-dataset.ipynb** says:

[code]

  But I think maybe `except for` will be less ambiguous than `expect for`, especially for those non-native English speakers.

  I am a student learning _d2l_, it is a really amazing book, making deep learning interesting

[2020-07-19 00:18] astonzhang commented on #1211
Good catch! Would you like to send a PR to fix it? See how here: https://d2l.ai/chapter_appendix-tools-for-deep-learning/contributing.html

[2020-07-19 01:45] SportsTHU commented on #1211
Sure! I have just made a PR, for your reference :)

[2020-07-19 01:46] SportsTHU commented on #1211
Sure! I have just made a PR, for your reference :)

[2020-07-20 20:06] astonzhang commented on #1211
Could you point me to your PR?

[2020-07-21 02:38] SportsTHU commented on #1211
Oh, because I am not that familiar with _Pull Request_. So I just make a PR 2 days ago, but didn't submit it correctly. The PR is https://github.com/d2l-ai/d2l-en/pull/1215
I am sorry for being late.

[2020-07-21 02:42] astonzhang commented on #1211
Thanks for being a contributor to D2L!
https://github.com/d2l-ai/d2l-en/commit/b767e858885e9ee0125d2680181652371e19629b#diff-12c91c71c89f53d4c79132aefe798e57R426

[2020-07-21 02:52] SportsTHU commented on #1211
Thank you!
Hope _D2L_ will become better and better, making more people enjoy `Deep Learning`!

[2020-07-21 02:52] #1211 closed

[2020-07-22 01:58] astonzhang opened #1216 "FIXME that should be fixed"
* FIXME, don’t use Sequential to implement MySequential. in http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_deep-learning-computation/model-construction.html

[2020-07-22 02:14] astonzhang opened #1217 "Adaptation inconsistency"
Below are adaptations that are inconsistent from the original MXNet implementations

* FixedHiddenMLP, x.norm().item(), in http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_deep-learning-computation/model-construction.html

[2020-07-22 02:16] astonzhang opened #1218 "Adaptation inconsistency"
Below are adaptations that are inconsistent from the original MXNet implementations

* FixedHiddenMLP, tf.norm(x), in http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_deep-learning-computation/model-construction.html

[2020-07-22 12:57] terrytangyuan commented on #1216
Could you clarify? Currently the implementation of `MySequential` does not use Sequential.

[code]

[2020-07-22 19:11] #1217 closed

[2020-07-22 19:11] #1218 closed

[2020-07-22 19:14] astonzhang commented on #1216
It seems that this FIXME is added by Mu. @mli, shall we update this FIXME?

[2020-07-22 19:16] astonzhang commented on #1125
Sure, can we just hide it from the output?

[2020-07-22 19:25] terrytangyuan commented on #1216
Yes this has been resolved before our announcement of TF implementation. Where did you see the FIXME?

[2020-07-22 19:39] astonzhang commented on #1216
Just click the link and turn on tf tab, ctrl + F "FIXME".

[2020-07-22 19:49] #1125 closed

[2020-07-22 19:49] astonzhang commented on #1125
Reason for closure: https://github.com/d2l-ai/d2l-en/pull/1221

[2020-07-22 23:31] astonzhang opened #1223 "adaptation inconsistency: chapter_deep-learning-computation/parameters"
http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_deep-learning-computation/parameters.html

1.
mxnet:

[code]

pytorch

[code]

For instance, `net[1].state_dict()` returns an empty OrderedDict(), which is inconsistent with the mxnet output

2.

mxnet:

[code]

pt:

[code]

Can we do `print('Init', name, data.shape)` in pt?

[2020-07-22 23:34] astonzhang opened #1224 "adaptation inconsistency: chapter_deep-learning-computation/parameters"
http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_deep-learning-computation/parameters.html

mxnet:

[code]

tf:

[code]

For instance, bias is missing.

Besides:

mxnet:

[code]

tf:

[code]

The output does not look like bias.

[2020-07-24 11:31] StevenJokes commented on #1065
![image](https://user-images.githubusercontent.com/25657787/88387010-3134c180-cde4-11ea-8948-969951acfaed.png)
How to fix it?

[2020-07-24 11:49] StevenJokes commented on #1065
![image](https://user-images.githubusercontent.com/25657787/88388286-ce90f500-cde6-11ea-958c-624517d28a8f.png)
I think it is caused by
![image](https://user-images.githubusercontent.com/25657787/88388308-d6509980-cde6-11ea-8ef1-0ac7eb8690cb.png)

[2020-07-24 11:54] StevenJokes commented on #1065
It is well now!
![image](https://user-images.githubusercontent.com/25657787/88388649-83c3ad00-cde7-11ea-84d9-d27a136f9693.png)

[2020-07-24 12:06] StevenJokes commented on #1065
I think it maybe has relation about operation system?

[2020-07-24 12:37] #1216 closed

[2020-07-24 13:49] AnirudhDagar commented on #1223
@astonzhang Consistency fix in #1235

[2020-07-24 20:16] #1223 closed

[2020-07-25 19:40] AnirudhDagar commented on #1105
@astonzhang I was able to fix the issue after setting seed. @mli @terrytangyuan do you have any other ideas to make this more robust since we won't be using a seed after all.

[2020-07-28 22:50] astonzhang opened #1270 "adaptation inconsistency: wrong output in maxpool"
http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_convolutional-neural-networks/pooling.html

mxnet

pool2d = nn.MaxPool2D((2, 3), padding=(1, 2), strides=(2, 3))
pool2d(X)
Copy to clipboard
array([[[[ 0.,  3.],
         [ 8., 11.],
         [12., 15.]]]])

pt

pool2d = nn.MaxPool2d((2, 3), padding=(1, 1), stride=(2, 3))
pool2d(X)
Copy to clipboard
tensor([[[[ 1.,  3.]

[2020-07-28 22:51] astonzhang opened #1271 "adaptation inconsistency: wrong output in maxpool"
http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_convolutional-neural-networks/pooling.html

mxnet

pool2d = nn.MaxPool2D((2, 3), padding=(1, 2), strides=(2, 3))
pool2d(X)
Copy to clipboard
array([[[[ 0.,  3.],
         [ 8., 11.],
         [12., 15.]]]])

tf

pool2d = tf.keras.layers.MaxPool2D(pool_size=[2, 3], padding='same',
                                   strid

[2020-07-28 23:08] astonzhang opened #1272 "Errors in train_ch3"
http://ci.d2l.ai/blue/organizations/jenkins/d2l-en/detail/PR-1273/5/

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-19-a66acf440358> in <module>
      1 num_epochs = 10
----> 2 train_ch3(net, train_iter, test_iter, cross_entropy, num_epochs, updater)

<ipython-input-17-69547449c

[2020-07-29 20:17] astonzhang commented on #1272
I've fixed it: https://github.com/d2l-ai/d2l-en/commit/96b6ceafbc72a081f811b781ef4db23e56534a41

[2020-07-29 20:17] #1272 closed

[2020-07-30 10:57] StevenJokes opened #1279 "13.7 SSD : context is chaos"
![image](https://user-images.githubusercontent.com/25657787/88915551-1b694580-d297-11ea-9762-408fea664075.png)
![image](https://user-images.githubusercontent.com/25657787/88915096-3f785700-d296-11ea-8fc0-342eddd4d9cf.png)

http://preview.d2l.ai/d2l-en/master/chapter_computer-vision/ssd.html
Loss Function shouldn't plugs into the exercises. @astonzhang

[2020-07-30 15:12] astonzhang commented on #1279
This loss is not essential for the main text so keeping it in exercises makes it optional for readers.

[2020-07-31 09:31] StevenJokes commented on #1279
I haven't find the relation of 1st exercise and this loss, maybe we put the loss at last?

[2020-07-31 21:28] astonzhang commented on #1279
Would this be clearer?
https://github.com/d2l-ai/d2l-en/commit/211f506ce7ec4952488a3b23d3dc6465064b15c4

[2020-08-01 09:11] StevenJokes commented on #1279
yes

[2020-08-03 16:22] abhinavsp0730 opened #1286 "PR #1282 is failing to pass the ci."
@astonzhang  @AnirudhDagar @terrytangyuan

### Issue.
The PR #1282 is failing to pass the ci. You, can find the error [here](http://ci.d2l.ai/blue/organizations/jenkins/d2l-en/detail/PR-1282/7/pipeline/).

### Code to reproduce the error.
https://colab.research.google.com/drive/1zaW6HrrhZD1ntx_W4vxpb8Q0KSbc7mk4?usp=sharing

### Details.
I'm not able to use train_ch6 more than one time in a noteboo

[2020-08-03 18:40] terrytangyuan commented on #1286
The variable `net` might get referenced/updated inside `train()`. Could you look into it?

[2020-08-03 18:46] abhinavsp0730 commented on #1286
I'm not able to find anyway to run the Train_ch6 more than one.

The only Idea I'm having is to make new variable every time.

But, It'll look ugly. Would you please suggest me a better solution.

On Tue 4 Aug, 2020, 12:10 AM Yuan Tang, <notifications@github.com> wrote:

[2020-08-03 18:59] abhinavsp0730 commented on #1286
I guess I've to do something like this inside train()
[code]

[2020-08-04 08:23] abhinavsp0730 commented on #1286
@terrytangyuan  Tried every possible way, but none of them worked. Please have a look again.

[2020-08-04 10:29] abhinavsp0730 commented on #1286
update: The issue has been fixed.
Thanks, @terrytangyuan  for giving me the cause for the error and providing me the correct path to solve it.

closing the issue.

[2020-08-04 10:29] #1286 closed

[2020-08-04 19:52] astonzhang opened #1290 "try_gpu(), try_gpu(10), try_all_gpus() do not provide meaningful outputs in TF"
http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_deep-learning-computation/use-gpu.html

Text:
Now we define two convenient functions that allow us to run code even if the requested GPUs do not exist.

Code:
[code]

Thus, the output is inconsistent with text descriptions. Is it possible to show similar outputs as in mx and pt?

[2020-08-05 12:31] StevenJokes opened #1291 "github buttons not working"
![image](https://user-images.githubusercontent.com/25657787/89412999-9a102800-d75a-11ea-87c8-ff35aafa8566.png)
We need to add spaces to separate two words, when it happens.
http://preview.d2l.ai/d2l-en/master/
http://d2l.ai/

[2020-08-05 12:32] #1279 closed

[2020-08-05 13:31] StevenJokes commented on #1188
I think it is too necessary, it already drives me crazy now.

[2020-08-05 13:38] StevenJokes opened #1293 "add image/"
@terrytangyuan
![image](https://user-images.githubusercontent.com/25657787/89419440-f166c600-d763-11ea-8d72-d1008988f66c.png)

[2020-08-05 13:42] terrytangyuan commented on #1293
What do you mean?

[2020-08-05 13:53] AnirudhDagar commented on #1293
@StevenJokes this is perfectly ok. Please only open relevant issues.
Thank you!

I'm closing this.

[2020-08-05 13:53] #1293 closed

[2020-08-05 13:54] AnirudhDagar commented on #1291
I don't understand the issue?

[2020-08-05 14:13] terrytangyuan commented on #1290
I thought about this earlier. Something like the following would give more info:
[code]

However, this is using an internal method and not stable. Also, for `try_gpus()`, we can format the string inside the function definition but for cases like `tf.device('/CPU:0'), tf.device('/GPU:0'), tf.device('/GPU:1')`, it will look very inelegant and inconsistent with other implementations.

[2020-08-05 15:35] StevenJokes commented on #1291
The issue is that it was button like
![image](https://user-images.githubusercontent.com/25657787/89433022-63470b80-d774-11ea-9b3a-1b52dd26c208.png)

[2020-08-05 15:40] StevenJokes opened #1294 "Blue line doesn't show in my 11.5 code"
![image](https://user-images.githubusercontent.com/25657787/89433406-dfd9ea00-d774-11ea-9495-81a2787759cc.png)
My code:https://github.com/StevenJokes/d2l-en-read/blob/master/Ch11_Optimization_Algorithms/11-5.ipynb
@AnirudhDagar

[2020-08-05 15:52] ankishb opened #1296 "Adding code in tensorflow and pytorch"
First of all, Thanks for sharing this amazing book!

I would love to contribute in the form of code base in the tensorflow and pytorch. Please let me know if this option is open?

[2020-08-05 15:58] StevenJokes commented on #1296
Yes, http://preview.d2l.ai/d2l-en/master/chapter_appendix-tools-for-deep-learning/contributing.html

[2020-08-05 16:02] ankishb commented on #1296
Thanks, got it.

[2020-08-05 16:03] StevenJokes commented on #1293
@terrytangyuan
I just suggest add your .jpg to image. It maybe cause problem when producing a pdf file. I'm not sure about it.

[2020-08-05 16:05] StevenJokes commented on #1296
If you use Win10, you should pay attention to https://github.com/d2l-ai/d2l-en/pull/1231.

[2020-08-05 16:19] StevenJokes commented on #1296
@ankishb ,I'm closing the issue.

[2020-08-05 16:21] StevenJokes commented on #1293
My concern is unnecessary.  PDF doesn't have any authors'  images
![image](https://user-images.githubusercontent.com/25657787/89437857-ab692c80-d77a-11ea-9cfb-07593d65916e.png)

[2020-08-05 16:30] ankishb commented on #1296
Sure, closing it.

[2020-08-05 16:30] #1296 closed

[2020-08-05 19:12] NishantTharani commented on #1123
Hi @AnirudhDagar sorry for the very late reply and thank you for investigating for me, I tried to reproduce it but for some reason couldn't step through to a point where the training loss became NaN.

In any case I tried changing it to 0.05 and the problem went away so I guess that's it

[2020-08-05 19:12] #1123 closed

[2020-08-05 22:00] astonzhang commented on #1290
Got it. In that case, do you suggest that we just modify text for tf?

[2020-08-06 00:54] terrytangyuan commented on #1290
I am not sure which part of the text is inconsistent but yes feel free to update the text if necessary and leave the code as is for now.

[2020-08-06 01:04] AnirudhDagar commented on #1291
So?

[2020-08-06 01:11] AnirudhDagar commented on #1294
Works for us. Try running in collab. Did you change anything? Your loss seems to be `0.718` and we fixed our `ylim` to `[0.22,0.35]`. Hence no plot for you.

[2020-08-06 01:12] #1294 closed

[2020-08-06 05:57] StevenJokes commented on #1291
So the button isn't working. Just look not so pretty.

[2020-08-06 05:59] StevenJokes commented on #1294
I hate you just close the issue. I don't change anything. You can check my code here: https://github.com/StevenJokes/d2l-en-read/blob/master/Ch11_Optimization_Algorithms/11-5.ipynb

[2020-08-06 06:11] AnirudhDagar commented on #1294
If you want you can reopen the issue. I closed it since there was no problem when I ran it. Also please use only the latest binaries.

[2020-08-06 13:29] StevenJokes opened #1297 "COLAB [MXNET] is wrong while pytorch"
![image](https://user-images.githubusercontent.com/25657787/89537401-e0818780-d82b-11ea-96f4-5df01987088b.png)
https://d2l.ai/_modules/d2l/torch.html

[2020-08-06 14:37] StevenJokes opened #1300 "[pytorch] code for 17.1: GAN"
I'm trying to translate [GAN](http://preview.d2l.ai/d2l-en/master/chapter_generative-adversarial-networks/gan.html) to pytorch.

When I search, then I found someone has translated it in https://www.pythonf.cn/read/33854.
But I have some questions about the Sigmoid layer.

![image](https://user-images.githubusercontent.com/25657787/89544619-f0519980-d834-11ea-8cbe-0cbac639d12f.png)

http://preview.

[2020-08-06 14:44] StevenJokes commented on #1300
lr_D, lr_G, latent_dim, num_epochs = 0.05, 0.005, 2, 20
train(net_D, net_G, data_iter, num_epochs, lr_D, lr_G,
      latent_dim, data[:100].numpy())
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
 in
      1 lr_D, lr_G, latent_dim, num_epochs = 0.05, 0.005, 2, 20
----> 2 train(net_D, net_G, dat

[2020-08-06 15:05] StevenJokes commented on #1300
@AnirudhDagar ,Would you like to help me to review my pytorch code before I PR to GAN.md ? It cost me whole night.
https://github.com/StevenJokes/d2l-en-read/blob/master/chapter-generative-adversarial-networks/my5gan.ipynb

[2020-08-07 04:12] StevenJokes commented on #1300
Any reply? :face_with_raised_eyebrow:
@goldpiggy

I really need a job .
@mli  @astonzhang @terrytangyuan
这几天一直失眠 :crying_cat_face:感觉毕业即失业太痛苦了

山西大学金融本科, 简历；https://blog.dltech.xyz/post/jian-li/
Github: https://github.com/StevenJokes
精读D2L的repo：https://github.com/StevenJokes/d2l-en-read

计算机基础也就凑合，啊，真的在家待疯了，
话说能不能不面试，真的 :joy:好菜啊 :persevere:
带带我带带我，邮箱：llgg8679@qq.com
最近学校下周三调档案，之后就不能轻易转工作档案了。 :mask:

[2020-08-07 15:34] StevenJokes opened #1303 "we should use solid line ：3*3"
![image](https://user-images.githubusercontent.com/25657787/89662333-8275a280-d906-11ea-838b-47384060c68c.png)
![image](https://user-images.githubusercontent.com/25657787/89662515-c8cb0180-d906-11ea-8626-19381c7378d7.png)

[2020-08-07 18:39] AnirudhDagar opened #1306 "Bug in MultiFactorScheduler implementation TF"
In [11.11.3.2. Multi Factor Scheduler](http://preview.d2l.ai/d2l-en/master/chapter_optimization/lr-scheduler.html#multi-factor-scheduler) the `__call__` in the class defined will behave incorrectly when the user inputs an argument where size of list in `step` is more than 2.

[code]

Eg if step = [10,15,30] the TF implementation is not correct for such case.

PTAL @abhinavsp0730 @terrytangyuan
cc

[2020-08-08 01:55] StevenJokes commented on #1306
@AnirudhDagar ,Would you like to help me to review my pytorch code before I PR to GAN.md ? It cost me whole night.
https://github.com/StevenJokes/d2l-en-read/blob/master/chapter-generative-adversarial-networks/my5gan.ipynb

[2020-08-08 05:19] abhinavsp0730 commented on #1306
@Anirudh would you please tell me my whether my understanding is correct or not,
If the step is [15,30]
Then make the learning rate alph, b/w epochs 15 to 30.
If the step is [15,20,30],
Then make the learning rate, alpha only in the epochs {15}, {20} and {30} .
Please verify my understanding, If it is correct then the solution of this issue is just one If condition away.

[2020-08-08 05:25] StevenJokes commented on #1306
You @ the wrong guy.@abhinavsp0730
@AnirudhDagar please

[2020-08-08 05:35] StevenJokes opened #1307 "[pytorch] code for 17.2.1: The Pokemon Dataset"
http://preview.d2l.ai/d2l-en/master/chapter_generative-adversarial-networks/dcgan.html
**My Right Code**: https://github.com/StevenJokes/d2l-en-read/blob/master/chapter-generative-adversarial-networks/dcgan_torch5.ipynb
All my research process: https://github.com/StevenJokes/d2l-en-read/blob/master/chapter-generative-adversarial-networks/dcgan_torch.ipynb
Please help me review the code, and you ca

[2020-08-08 05:36] StevenJokes commented on #1303
@goldmermaid

[2020-08-08 05:40] StevenJokes commented on #1307
Why nobody helps me find a job? 😭

[2020-08-08 05:55] AnirudhDagar commented on #1306
@abhinavsp0730 [MultiFactorScheduler](https://mxnet.apache.org/versions/1.6/api/r/docs/api/mx.lr_scheduler.MultiFactorScheduler.html) or [MultiStepLR](https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.MultiStepLR) decays the learning rate of each by gamma/factor once the number of epoch reaches one of the milestones/steps.

So you need to multiply the learning rate with the facto

[2020-08-08 05:58] AnirudhDagar commented on #1300
@StevenJokes I can't review your code like this. Please follow the contribution guidelines to make the PR similar to how other PRs have been made. We can review then.

[2020-08-08 06:15] #1141 closed

[2020-08-08 06:18] StevenJokes commented on #1300
Ok, I'm trying

[2020-08-09 19:02] StevenJokes commented on #1300
Any reply? :face_with_raised_eyebrow:
@goldpiggy

I really need a job .
@mli  @astonzhang @terrytangyuan
这几天一直失眠 :crying_cat_face:感觉毕业即失业太痛苦了

山西大学金融本科, 简历；https://blog.dltech.xyz/post/jian-li/
Github: https://github.com/StevenJokes
精读D2L的repo：https://github.com/StevenJokes/d2l-en-read

计算机基础也就凑合，啊，真的在家待疯了，
话说能不能不面试，真的 :joy:好菜啊 :persevere:
带带我带带我，邮箱：llgg8679@qq.com;微信：C867907127;
最近学校下周三调档案，之后就不能轻

[2020-08-09 22:18] astonzhang commented on #1297
Thanks. This is a known minor issue.

[2020-08-09 22:32] astonzhang commented on #1303
fixed: https://github.com/d2l-ai/d2l-en/commit/480040486e8d2a8612aa0079d2278d7f4db921f7

[2020-08-09 22:32] #1303 closed

[2020-08-09 22:33] astonzhang commented on #834
Thanks. We have removed this unclear statement.

[2020-08-09 22:33] #834 closed

[2020-08-10 04:02] StevenJokes opened #1320 "encoding='utf-8' , is necessary to avoid `d2lbook build lib`:UnicodeDecodeError"
win10:
![image](https://user-images.githubusercontent.com/25657787/89751104-5d00b880-db01-11ea-8f2b-585239ca661e.png)

[2020-08-10 04:18] StevenJokes commented on #1320
add `encoding = 'UTF-8'`
![image](https://user-images.githubusercontent.com/25657787/89751653-989c8200-db03-11ea-8c02-9ea7b4f4cc25.png)

[2020-08-10 04:26] StevenJokes commented on #1320
Problem:
![image](https://user-images.githubusercontent.com/25657787/89751872-7fe09c00-db04-11ea-89a3-8bf260655312.png)
Fix:
![image](https://user-images.githubusercontent.com/25657787/89751886-8f5fe500-db04-11ea-9656-efe29b13a9c0.png)

---

Problem:
![image](https://user-images.githubusercontent.com/25657787/89751898-971f8980-db04-11ea-970e-9810dea21dbc.png)

Fix:
![image](https://user-images.git

[2020-08-10 04:26] StevenJokes commented on #1320
Maybe I should PR in d2lbook?

[2020-08-10 05:40] StevenJokes opened #1321 "The issues after I run `d2lbook build lib`"
![image](https://user-images.githubusercontent.com/25657787/89754304-f59d3580-db0d-11ea-9dbb-eeeef69eec1a.png)

I found all code lost in
file:  ./chapter_preface/index.md
file:  ./chapter_preface/index.md

Then I found that after  I run `d2lbook activate all .\chapter_preface\index.md`

![image](https://user-images.githubusercontent.com/25657787/89754410-5af12680-db0e-11ea-88a7-1ff5461ad6eb.png)

[2020-08-10 06:14] StevenJokes commented on #1297
fix?

[2020-08-10 06:30] StevenJokes opened #1323 "Please help me `d2lbook build lib` in linux/macOS"
@AnirudhDagar , I haven't figure out how to `d2lbook build lib` in my WIN10.
Not solve: https://github.com/d2l-ai/d2l-en/issues/1321
solve:https://github.com/d2l-ai/d2l-en/issues/1320
I have gan.md in my repo: https://github.com/StevenJokes/d2l-en-read/blob/master/chapter-generative-adversarial-networks/gan%20-%20Copy.md
You just need to move it to the right folder and rename it  to gan.md.
And as

[2020-08-10 08:51] AnirudhDagar commented on #1323
@abhinavsp0730 PTAL

[2020-08-10 08:53] AnirudhDagar commented on #1321
@abhinavsp0730 can help with Windows related issues. I'm using a macOS.

[2020-08-10 09:03] abhinavsp0730 commented on #1323
d2lbook is not fully supported in windows. It's only supported in Linux/Mac os. But you  can  download ubuntu app from Microsoft store and then after installing it you can run ubuntu in Windows.

After installing ubuntu app from Microsoft store you need to do simply this things:
1. Install Python 3
2. If you wish install Venv
3. Make a virtual env .(or ignore this step)
3. Install d2lbook
4. Then

[2020-08-10 09:04] abhinavsp0730 commented on #1321
I've answered here, https://github.com/d2l-ai/d2l-en/issues/1323#issuecomment-671242243

[2020-08-10 09:06] abhinavsp0730 commented on #1320
Feel free to send a PR for windows support for d2lbook. Otherwise, you can just follow the steps which I've mention here, https://github.com/d2l-ai/d2l-en/issues/1323#issuecomment-671242243

[2020-08-10 09:35] StevenJokes commented on #1323
I know you are talking about WSL. I used it for a while. It is not so convenient to use anaconda in WSL as I know.
And it maybe has some problem with virtualbox I am using for docker now.
https://stackoverflow.com/questions/62184881/virtualbox-and-wsl2.
So I feel it is not so worth to waste a lot of time to install it and config VPN for GFW.
@AnirudhDagar Please help me to PR. You can feel free. A

[2020-08-10 09:38] StevenJokes commented on #1321
Wait for somebody to help windows' d2lbook.

[2020-08-10 10:01] StevenJokes commented on #1320
Still have problem in #1321

[2020-08-10 10:01] #1320 closed

[2020-08-10 10:17] abhinavsp0730 commented on #1323
Well this is a just quick fix. You can do whatever you want in windows, but when you need to execute ``` d2lbook build lib```  you can execute in WSL. Rest of the things we're gonna do in Windows. This is just a quick fix untill there is a windows support of d2lbook.

[2020-08-10 12:48] StevenJokes commented on #1323
Yes, I don't have time to install WSL and config for a project I will not PR any more.. My family always blame me "playing computer". So if I don't get some money, maybe I have to read some boring books to prepare for my exam next months just to get a CS master degree. I heard the message that having a CS degree is so necessary to get a job to big company like FLAG, and I only have a finance under

[2020-08-11 11:11] mathresearch opened #1324 "Colab does not support MXNet 1.6"
ERROR: Could not find a version that satisfies the requirement mxnet-cu101mkl==1.6.0 (from versions: 1.4.1, 1.5.0, 1.5.1, 1.5.1.post0, 1.6.0.post0)
ERROR: No matching distribution found for mxnet-cu101mkl==1.6.0

[2020-08-11 12:57] StevenJokes opened #1325 "[pytorch] code for 17.2.3"
http://preview.d2l.ai/d2l-en/master/chapter_generative-adversarial-networks/dcgan.html

plot:
**The final code**: https://github.com/StevenJokes/d2l-en-read/blob/master/chapter-generative-adversarial-networks/plot2.ipynb
1st try code: https://github.com/StevenJokes/d2l-en-read/blob/master/chapter-generative-adversarial-networks/plot1.ipynb

D_block:
**The final code**: https://github.com/StevenJok

[2020-08-11 13:13] StevenJokes commented on #1325
![image](https://user-images.githubusercontent.com/25657787/89901243-6a0fcb80-dc17-11ea-8346-4e5f480098b6.png)
Maybe it need to be deleted.

[2020-08-11 13:33] StevenJokes commented on #1323
https://github.com/StevenJokes/d2l-en-read/blob/master/chapter-generative-adversarial-networks/PR1308.ipynb

[2020-08-11 13:57] StevenJokes commented on #1324
![image](https://user-images.githubusercontent.com/25657787/89906134-93335a80-dc1d-11ea-9ca0-032218fc9786.png)
you are right!
@astonzhang

[2020-08-11 14:01] StevenJokes commented on #1324
`!pip install -U mxnet-cu101mkl==1.6.0.post0 # updating mxnet to at least v1.6`
use it to replace `!pip install -U mxnet-cu101mkl==1.6.0 # updating mxnet to at least v1.6`

[2020-08-11 14:15] StevenJokes opened #1326 "bug for 17.1 or 17.2"
![image](https://user-images.githubusercontent.com/25657787/89908025-fcb46880-dc1f-11ea-8c29-f660d0b7f077.png)

http://preview.d2l.ai/d2l-en/master/chapter_generative-adversarial-networks/dcgan.html
http://preview.d2l.ai/d2l-en/master/chapter_generative-adversarial-networks/gan.html
I think there is a bug.

[2020-08-11 14:21] StevenJokes commented on #1324
@astonzhang we should change all ipynb ASAP.

[2020-08-11 15:01] StevenJokes commented on #1326
https://github.com/StevenJokes/d2l-en-read/blob/master/chapter-generative-adversarial-networks/dcgan_switch.ipynb

[2020-08-11 15:48] StevenJokes opened #1328 "[colab]read img: No such file"
require image for colab:
![image](https://user-images.githubusercontent.com/25657787/89918843-1e681c80-dc2d-11ea-99c2-ce3ef8bfa218.png)

[2020-08-11 16:45] StevenJokes opened #1329 "Necessary to suggest which can use only cpu at first."
It's best to use my computer to run all these code.
But sometimes I have problem to figure out whether it's possible to run on my cpu.
So Necessary to suggest cpu or gpu in colab at first.

[2020-08-11 17:15] StevenJokes opened #1330 "add how many seconds cost for all training"
![image](https://user-images.githubusercontent.com/25657787/89927672-41003280-dc39-11ea-8252-30103d97994e.png)

[2020-08-11 17:17] StevenJokes opened #1331 "16.3: Oops! That page doesn’t exist or is private."
![image](https://user-images.githubusercontent.com/25657787/89927889-976d7100-dc39-11ea-9a66-d23ea96fa16a.png)
http://preview.d2l.ai/d2l-en/master/chapter_recommender-systems/mf.html
https://discuss.d2l.ai/t/matrix-factorization/400

[2020-08-11 17:21] StevenJokes commented on #1331
https://discuss.d2l.ai/t/matrix-factorization/400

[2020-08-11 17:21] #1331 closed

[2020-08-11 18:24] #1300 closed

[2020-08-11 18:40] astonzhang commented on #1324
Thanks for reporting this issue. It's due to the update from MXNet and now it's fixed.

[2020-08-11 18:40] #1324 closed

[2020-08-12 09:19] StevenJokes opened #1336 "duplicate DATA_URL"
![image](https://user-images.githubusercontent.com/25657787/89998314-f2e24200-dcbf-11ea-957f-809fe9e011fb.png)
https://github.com/d2l-ai/d2l-en/blob/master/d2l/mxnet.py

[2020-08-12 09:22] StevenJokes commented on #1336
![image](https://user-images.githubusercontent.com/25657787/89998550-4c4a7100-dcc0-11ea-8edd-bd41e5565525.png)

[2020-08-12 09:22] StevenJokes commented on #1336
I can't `d2lbook build lib`

[2020-08-12 09:50] StevenJokes opened #1337 "require #@save after def and class"
![image](https://user-images.githubusercontent.com/25657787/90001435-0394b700-dcc4-11ea-91f2-faaa6cf5f9f0.png)
I found #@save until
![image](https://user-images.githubusercontent.com/25657787/90001705-58d0c880-dcc4-11ea-976f-3f85bdfbbe45.png)

[2020-08-12 09:51] StevenJokes commented on #1337
Maybe we should keep all #@save just after two spaces.

[2020-08-12 10:05] StevenJokes opened #1338 ""/ 2 + 0.5" is error?"
![image](https://user-images.githubusercontent.com/25657787/90003181-4c4d6f80-dcc6-11ea-8728-fafe97f890b8.png)
https://github.com/d2l-ai/d2l-en/blob/master/chapter_generative-adversarial-networks/dcgan.md

[2020-08-12 10:23] StevenJokes commented on #1338
![image](https://user-images.githubusercontent.com/25657787/90004673-a0f1ea00-dcc8-11ea-8082-abd32843d028.png)
No error!
But why is `/2 + 0.5` , rather than other way to normalize?

[2020-08-12 10:23] #1338 closed

[2020-08-12 11:19] StevenJokes commented on #1323
switch 'discriminator', 'generator' for #1326

[2020-08-12 11:21] StevenJokes commented on #1323
@goldmermaid maybe you can help me to update gan.md for pytorch.

[2020-08-12 11:41] StevenJokes opened #1339 ":eqref:eq not working, 15.5.2.2"
![image](https://user-images.githubusercontent.com/25657787/90011182-bae4fa00-dcd3-11ea-89d8-ea5351db3636.png)

http://preview.d2l.ai/d2l-en/master/chapter_natural-language-processing-applications/natural-language-inference-attention.html

[2020-08-12 12:27] StevenJokes commented on #1330
`f', totally {timer.stop().3f} secs'`

[2020-08-12 12:33] StevenJokes commented on #1330
Does time.stop() mean that only first epoch time?

[2020-08-12 15:33] goldmermaid commented on #1323
Hi @StevenJokes , could you reopen a PR for https://github.com/d2l-ai/d2l-en/pull/1327#? (And please don't link non-necessary PR/issues together.)

[2020-08-12 15:56] StevenJokes commented on #1328
Is there some way to load whole project including all img needed?

[2020-08-12 16:03] StevenJokes commented on #1323
@goldmermaid. #1327 is right?[reopen it already.] (VS #1335 is wrong?)
#1323 is related to #1326. The gan.md include the code for gan.
So if #1327 is right, maybe my gan.md (include mxnet and pytorch code) should change again, just because I use the #1335 code.
Just to ask you to confirm it.

[2020-08-12 22:05] goldmermaid commented on #1330
Hi @StevenJokes , please distinguish "Issue" and "question". If you find an issue of the existing text, formula or code that **everyone** questioned about, please ask here. On the other hand, please ask it in the discussion forum.

Please close this issue if it is clear to you. Thanks!

[2020-08-13 00:08] aksrajvanshi opened #1341 "Random labels on retrieving data with shuffle = false"
Hey! I am trying to run Section 13.6 with the banana dataset. I have turned the shuffle= False with getting the training dataset. However, I tried printing the first 10 images along with the labels. The labels turn out to be different every time.

![Screen Shot 2020-08-12 at 8 03 08 PM](https://user-images.githubusercontent.com/16722550/90080003-7f4c2f00-dcd7-11ea-91a3-969b304934e1.png)

![Screen

[2020-08-13 00:35] astonzhang commented on #1341
@xiaotinghe, can you take a look at it first?

[2020-08-13 09:02] StevenJokes commented on #1330
I'm suggesting a feature for all trainings here, not only this training.
How to calculate total epochs time?
I maybe get a hint from the notebook's GPU time to get if my cpu has enough ability to finish training code in 5min.
I'll avoid wasting unnessary waiting time.

[2020-08-13 10:48] xiaotinghe commented on #1341
These differences are caused by random clipping. When loading data, we use random clipping by `rand_ crop=1`.
If you want to get the raw data, you can turned the `rand_ crop=0`.

[2020-08-13 21:54] aksrajvanshi commented on #1341
Great! that works. Thank you! :)

[2020-08-14 00:06] AnirudhDagar opened #1349 "[TF] Bug in RNN Scratch TensorFlow implementation"
Perplexity is too high and the model doesn't converge. [Here](http://preview.d2l.ai/d2l-en/PR-1348/chapter_recurrent-neural-networks/rnn-scratch.html)

Please use this thread to track the issues with the RNN TF implementation @abhinavsp0730 @terrytangyuan

[2020-08-14 20:46] #1341 closed

[2020-08-14 23:36] #1326 closed

[2020-08-15 01:47] StevenJokes commented on #1323
@AnirudhDagar Please help me. Add GAN for me.
😢

[2020-08-15 05:44] StevenJokes opened #1353 "Unable to read notebook"
I think we don’t tell them to install jupyter at all.
https://discuss.d2l.ai/t/installation/24/6
new commit: https://github.com/d2l-ai/d2l-en/pull/1304/commits/198cc5ff657ae15c9c510448ffa73ac8bc19e452

[2020-08-15 05:46] StevenJokes opened #1354 "How to create a discussion about the book’s chapter？"
Can you tell me [How to create a discussion about the book’s chapter](https://discuss.d2l.ai/t/how-to-create-a-discussion-about-the-books-chapter/552/3)?
Then I can help you create following discussions for pytorch and tensorflow tab.

[2020-08-15 06:39] StevenJokes opened #1355 "14.9.1.1 .. _subsec_nsp:"
![image](https://user-images.githubusercontent.com/25657787/90306986-11854a80-df05-11ea-964c-f65413187ff6.png)
http://preview.d2l.ai/d2l-en/master/chapter_natural-language-processing-pretraining/bert-dataset.html

[2020-08-15 12:49] StevenJokes commented on #1325
Yes, it needs.

[2020-08-15 17:36] tallamjr opened #1359 "Question: TensorFlow/Pytorch code example in pdf version?"
Hello, firstly I would like say thank you for this incredible resource.

My question relates to the downloadable version of the book found at d2l.ai at this link:
https://d2l.ai/d2l-en.pdf

It seems that all the code examples in the PDF are for `mxnet` implementations. Is it possible to
render a PDF version with either Pytorch or TensorFlow examples instead?

I understand that not all sections hav

[2020-08-15 17:40] AnirudhDagar commented on #1359
Hi @tallamjr!
At the moment, only MXNET version of the pdf is available.

But we'll add other framework pdf versions soon! Stay tuned.

[2020-08-15 20:53] srcomm65 opened #1360 "Bug in 16.9: Factorization machines?"
In the model definition in cell 3, the forward methods outputs a sigmoid value.

If so, the loss should be setup as gluon.loss.SigmoidBinaryCrossEntropyLoss(**from_sigmoid=True**) as per man page (https://mxnet.apache.org/versions/1.6/api/python/docs/api/gluon/loss/index.html#mxnet.gluon.loss.SigmoidBCELoss).   In current implementation, from_sigmoid=False by default

I find that the traning loss

[2020-08-16 02:51] StevenJokes commented on #1359
I don't think it is soon... Just wait or join together.

[2020-08-16 16:39] StevenJokes opened #1365 "``d2lbook` package <http://book.d2l.ai/user/markdown.html>`__"
![image](https://user-images.githubusercontent.com/25657787/90339224-0aa02a00-e022-11ea-9d3f-a384f7a83b6e.png)
http://preview.d2l.ai/d2l-en/master/chapter_appendix-tools-for-deep-learning/contributing.html
![image](https://user-images.githubusercontent.com/25657787/90339229-12f86500-e022-11ea-800b-36201a4fa666.png)

[2020-08-17 15:17] wmn7 opened #1373 "How can I contribute to the Pytorch version release"
Hi, if I find some problems in the Pytorch version (in the newest release), but how to edit these.

Like in https://d2l.ai/chapter_preliminaries/linear-algebra.html#matrix-vector-products,

![snipaste_20200817_171632](https://user-images.githubusercontent.com/21176109/90412415-5e0b8a00-e0ad-11ea-9c77-da805440aab4.jpg)

It should be `torch.mv` rather than `np.dot` here.

[2020-08-17 15:20] StevenJokes opened #1374 "Why I can't find the newest def in torch.py"
@suvaansh @AnirudhDagar
I'm reviewing https://github.com/d2l-ai/d2l-en/pull/1370/files#
![image](https://user-images.githubusercontent.com/25657787/90412670-f7ec2a80-e0df-11ea-88ee-d4c60bbbcc36.png)

[code]

I can't find it in my package.
I have try to uninstall and install again.
![image](https://user-images.githubusercontent.com/25657787/90412569-dbe88900-e0df-11ea-81ee-a741a5aa8883.png)

There

[2020-08-17 15:38] StevenJokes commented on #1373
read http://preview.d2l.ai/d2l-en/master/chapter_appendix-tools-for-deep-learning/contributing.html
look forward to your pr.

[2020-08-17 16:31] StevenJokes opened #1376 "No content and structure for last chapters"
![image](https://user-images.githubusercontent.com/25657787/90420135-23741280-e0ea-11ea-8efa-482a4eb22966.png)

[2020-08-17 16:51] StevenJokes opened #1378 "Can you tell me these packages' function?"
PS C:\Users\a8679> pip search d2l
d2l (0.14.3)      - Dive into Deep Learning
  INSTALLED: 0.14.3 (latest)
d2l-zh (0.8.10)   - Dive into Deep Learning (in Chinese) Utils
quizmake (0.1.1)  - Question generator package for D2L and Moodle
d2lmf (1.0.0)     - A command-line tool to help mark assignments submitted to D2L.

[2020-08-17 20:03] astonzhang commented on #1360
@cheungdaven Can you take a look?

[2020-08-17 21:10] HarryDC opened #1379 "8.5.3 RNN Model missing link"
in the second paragraph of https://d2l.ai/chapter_recurrent-neural-networks/rnn-scratch.html#rnn-model it says

"As described in :numref:sec_mlp ..."

[2020-08-18 07:18] StevenJokes commented on #1374
Maybe @astonzhang needs to upload `d2l` to pypi?

[2020-08-18 07:23] StevenJokes commented on #1374
Does that means that we should update version everytime when we change `d2l`?
This time is 0.14.3 to 0.14.4.

[2020-08-18 09:13] StevenJokes opened #1381 "Maybe our DCGAN have extra nn.BatchNorm2d(ndf)?"
First, I think pytorch tutorial is wrong. "DCGAN's Discriminator : lack of nn.BatchNorm2d(ndf) "

https://github.com/pytorch/tutorials/issues/1126

![image](https://user-images.githubusercontent.com/25657787/90494474-1e5ca500-e176-11ea-911f-3cf8207aea21.png)

Then I went to https://github.com/soumith/dcgan.torch/blob/master/main.lua, and found no SpatialBatchNormalization(ndf) neither
![image](htt

[2020-08-19 07:17] kusur opened #1382 "Bug in the cross entropy implementation for Tensorflow in Section 18.11.5.1"
@astonzhang , @AnirudhDagar , @terrytangyuan

While going through the code of cross entropy in Tensorflow, I found that the output of tensorflow's implementation was significantly different from mxnet and pytorch. After taking a look at it, it seems that the logic for calculation of cross entropy in tensorflow is flawed. It should be the following -

[code]
instead of
[code]

Could someone please

[2020-08-19 08:01] StevenJokes commented on #1373
Can you close now?

[2020-08-19 10:48] cheungdaven commented on #1360
Thank you for pointing out. Setting it to False will lead to a recalculation of the sigmoid function. Another solution is to remove the sigmoid function in the forward function and keep the from_sigmoid as default.

[2020-08-19 11:33] #1373 closed

[2020-08-19 13:35] StevenJokes commented on #1381
https://www.zhihu.com/pub/reader/119607400/chapter/1182323947911188480
Also no nn.BatchNorm2d(ndf)
![image](https://user-images.githubusercontent.com/25657787/90641297-a79dd580-e263-11ea-8a38-8f41d5587521.png)

I also asked 深度学习之模型设计：核心算法与案例实践 book's author 言有三. His tensorflow code didn't have this layer too.

[2020-08-19 22:30] astonzhang commented on #1374
I've used a clean machine and followed the installation at http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_installation/index.html . In the end, there is no problem of running `from d2l import mxnet as d2l`. Please make sure that those installation steps are followed strictly, such as running `conda install pip -y`

[2020-08-20 11:53] StevenJokes commented on #1374
I'm talking about testing pytorch version: https://github.com/d2l-ai/d2l-en/pull/1370
![image](https://user-images.githubusercontent.com/25657787/90766862-cdd47b80-e31e-11ea-85e6-238c9bca468f.png)

And you need to reopen the pull: https://github.com/d2l-ai/d2l-en/pull/1384
![image](https://user-images.githubusercontent.com/25657787/90766805-b9907e80-e31e-11ea-924d-1ebebcdc8ccb.png)

[2020-08-20 12:08] StevenJokes opened #1385 "I will help you to create more new topic in discuss.d2l.ai"
I think
https://discuss.d2l.ai/t/information-theory-potential-issue-with-part-3-of-3rd-exercise-in-the-section-18-11-7/721/2
reflect a problem that we don't have matching discussion for remaining chapters.

@astonzhang Can you tell me [How to create a discussion about the book’s chapter?](https://discuss.d2l.ai/t/how-to-create-a-discussion-about-the-books-chapter/552)

Just need to add the matchin

[2020-08-20 12:17] StevenJokes commented on #1385
One more thing, do we need an extra discussion for three frameworks?
Sometimes just contrast about three frameworks and talk about chapters' math and DL history.

[2020-08-20 19:11] goldmermaid commented on #1385
Hi @StevenJokes , I am not fully understand what do you mean for "matching discussion". Could you elaborate more? Thanks!

[2020-08-20 19:15] goldmermaid commented on #1354
There is an interesting idea. @astonzhang how do you like this idea?

[2020-08-20 19:20] goldmermaid commented on #1376
Hey @StevenJokes , thanks for raising this issue. For the current cycle of revision, we are focusing on the first 15 chapters. While we will add more contents to the final ones later. Please close the issue if no other doubt. ;)

[2020-08-20 19:23] goldmermaid commented on #1378
Hey @StevenJokes  great questions and answers! ;) I suggest you to ask the similar questions on the forum since the question will valuable to other readers. Please close the issue if there is no other doubt.

[2020-08-21 05:10] sdjvarma opened #1389 "D2l"

[2020-08-21 06:35] #1389 closed

[2020-08-21 06:39] StevenJokes commented on #1376
OK. just be quick. Maybe I can help you?

[2020-08-21 06:39] #1376 closed

[2020-08-21 06:39] StevenJokes commented on #1385
![image](https://user-images.githubusercontent.com/25657787/90860069-f068a200-e3bb-11ea-8c67-f5c12f6fc299.png)

[2020-08-21 06:40] StevenJokes commented on #1385
One more thing, do we need an **extra discussion** for three frameworks?
Sometimes just contrast about three frameworks and talk about chapters' math and DL history.

[2020-08-21 06:44] StevenJokes commented on #1378
OK. https://discuss.d2l.ai/t/can-you-tell-me-these-packages-function/731

[2020-08-21 06:44] #1378 closed

[2020-08-21 06:47] StevenJokes commented on #1354
I found if there isn't a matching discussion, the forum will be chaos.

[2020-08-21 11:28] AshkaNozuki10 opened #1390 "This is Review"

[2020-08-21 11:33] #1390 closed, assigned to nobody

[2020-08-24 11:09] StevenJokes commented on #1385
My commit:
https://github.com/d2l-ai/d2l-en/pull/1358/commits/f37b08a3493158a23c9525d8d70fd3bddcf9ab10
My discuss:
https://discuss.d2l.ai/t/generative-adversarial-networks/776/2

@astonzhang
Am I right?

[2020-08-24 14:03] StevenJokes commented on #1374
Will https://github.com/d2l-ai/d2l-en/pull/1396 fix my problem?
Or you have to upload pip package manually?
@astonzhang

[2020-08-24 14:14] StevenJokes commented on #1374
![image](https://user-images.githubusercontent.com/25657787/91055359-21183800-e657-11ea-853c-29e4528b2f89.png)

![image](https://user-images.githubusercontent.com/25657787/91055332-152c7600-e657-11ea-89f5-ae6ea14b756f.png)

[2020-08-24 15:32] srcomm65 commented on #1360
@cheungdaven Got it. Two more issues noted

- The accuracy in train function `d2l.train_ch13()` is between the prediction and labels using equality.  Since the prediction in this model is the sigmoid value, the accuracy metric is incorrect.

- Not sure if you really need the linear layer for the first order terms. The embedding reflects the weight, as all features are one-hot.

[2020-08-24 19:27] #1355 closed

[2020-08-25 07:24] cheungdaven commented on #1360
@srcomm65
As I recall, the evaluation method did force type conversion such that the sigmoid value is transformed into a binary int value. So the evaluation should be correct.  The current accuracy looks lower than the previous version, I am not quite sure what is going on there. It used to be like 80-90 %.

def accuracy(y_hat, y):  #@save
    """Compute the number of correct predictions."""
    i

[2020-08-26 10:22] LeeJZh opened #1399 "Neural Collaborative Filtering for Personalized Ranking Prediction Layer missing?"
However the code is

Should not np.sum be replaced with a dense layer?

[2020-08-27 01:45] anikey783 opened #1403 "Deep learning"

[2020-08-27 02:37] #1385 closed

[2020-08-27 03:19] StevenJokes opened #1405 "Hall-Of-Fame will attract more contributors."
https://github.com/sourcerer-io/hall-of-fame

[2020-08-28 01:49] StevenJokes commented on #1374
@astonzhang
@astonzhang
@astonzhang
But I can't install the newest pypi package `d2l`
Where can I install it?

Or we need to release `d2l` now.

[2020-08-28 01:50] #1405 closed

[2020-08-28 02:12] StevenJokes commented on #1374
![image](https://user-images.githubusercontent.com/25657787/91513449-f3f9ad00-e916-11ea-8290-cce257805723.png)

[2020-08-28 02:23] astonzhang commented on #1374
You mean you want to pip install the latest `d2l` on the master (development) branch? You may:
git+https://github.com/d2l-ai/d2l-book

[2020-08-28 02:27] astonzhang commented on #1374
Note that master branch is for *developers* only. We upload the updated version of d2l package only when the master branch is pushed to the release branch. The release branch is for end users.

[2020-08-28 03:22] StevenJokes commented on #1374
I'm still not a developer??? 😢 😢 😢  After so many PR and issue?
![image](https://user-images.githubusercontent.com/25657787/91517431-52775900-e920-11ea-9b14-e76c6d04a027.png)

![image](https://user-images.githubusercontent.com/25657787/91517473-6d49cd80-e920-11ea-9311-ff0e07cac8e1.png)
`pip install git+https://github.com/d2l-ai/d2l-book` is only the `d2lbook` package, not `d2l`

[2020-08-28 03:25] StevenJokes commented on #1374
Is there some way to publish the nightly version of pypi package?
@astonzhang
Or for me, install the github `d2l` package?

[2020-08-28 03:30] StevenJokes commented on #1374
![image](https://user-images.githubusercontent.com/25657787/91517983-b51d2480-e921-11ea-9403-abba14e4faf2.png)
And I spent so many time on discussion. I'm not a developer???

I have tried `pip install d2l --pre -i https://pypi.python.org/simple`
It didn't work.
At least, you need to offer --pre to users.

[2020-08-28 03:46] StevenJokes commented on #1374
Or I can download github repo, then replace `d2l` in
![image](https://user-images.githubusercontent.com/25657787/91518996-029a9100-e924-11ea-82e5-87e78cca6849.png)

[2020-08-28 04:04] StevenJokes commented on #1374
`pip install git+https://github.com/d2l-ai/d2l-en`
OK now.
You told me the right way but wrong repo.:cry
@astonzhang

[2020-08-28 04:12] #1374 closed

[2020-08-28 04:23] StevenJokes opened #1409 "8.6 RuntimeError: Can't detach views in-place. Use detach() instead"
![image](https://user-images.githubusercontent.com/25657787/91520982-42b04280-e929-11ea-8a2c-bf15aa7e1658.png)

[2020-08-28 05:17] AnirudhDagar commented on #1409
It seems you are not running from the master. Please use the code from the master branch of repo to run chapters which are yet to be released. Or wait for the release if you want the wheel builds.

Sections after Ch7 are yet to be announced officially. Thanks :)

[2020-08-28 05:24] StevenJokes commented on #1409
I'm running from the master.
I have run `pip install git+https://github.com/d2l-ai/d2l-en`
@AnirudhDagar

[2020-08-28 05:25] StevenJokes commented on #1409
![image](https://user-images.githubusercontent.com/25657787/91524488-f4537180-e931-11ea-9c84-929034419032.png)
It is the newest.

[2020-08-28 05:30] AnirudhDagar commented on #1409
In that case please double-check your code. As I said, I just ran Section 8.6 and it works just fine for me.

[2020-08-28 05:32] StevenJokes commented on #1409
Your version of pytorch?
![image](https://user-images.githubusercontent.com/25657787/91524878-ea7e3e00-e932-11ea-9249-ba8ad3f17374.png)

[2020-08-28 05:34] StevenJokes commented on #1409
I'm using cpu version BTW

[2020-08-28 05:34] AnirudhDagar commented on #1409
We recommend using the latest version i.e 1.6 and we test all the code against the latest version. both on CPU and GPU.
Thanks!

[2020-08-28 05:45] StevenJokes commented on #1409
Oh my god.
I found the reason.
`activate pytorch` didn't work in Powershell, only in cmd or git bash.
I hate WIN10. I need money to buy a new computer.
So `pip install git+https://github.com/d2l-ai/d2l-en` didn't install in the right place.

[2020-08-28 05:49] StevenJokes commented on #1409
![image](https://user-images.githubusercontent.com/25657787/91525997-44800300-e935-11ea-9a6d-aa94a0cea41a.png)
Working now!

[2020-08-28 05:49] #1409 closed

[2020-08-28 15:46] phupe opened #1412 "Inconsistency of matrix dimensions in the sections softmax-regression / multilayer-perceptrons"
Hi,

It seems that there some inconsistencies in some matrice dimensions.

In the section **3.4.2. Network Architecture**, it is written:
`$\mathbf{o} = \mathbf{W} \mathbf{x} + \mathbf{b}$`

From the notations introduced in section **3.4.4. Vectorization for Minibatches**, we have:

- d = the number of features (number of input)
- q = the number of output

The size of the matrix `\mathbf{W}` in th

[2020-08-28 19:44] astonzhang commented on #1412
The shape of W depends on whether the input is a column vector (x, one data example) or a matrix (X, a minibatch of examples). In matrix X, each row (not column) is a data example.

See http://en.d2l.ai.s3-website-us-west-2.amazonaws.com/chapter_preliminaries/linear-algebra.html:

Matrices are useful data structures: they allow us to organize data that have different modalities of variation. For e

[2020-08-28 19:44] astonzhang commented on #1399
@cheungdaven

[2020-08-28 19:45] #1403 closed

[2020-08-28 19:45] astonzhang commented on #1403
Next time please specify issues.

[2020-08-28 20:19] cheungdaven commented on #1399
@LeeJZh You're right, we can add a dense layer over it. They will show similar performances.
@astonzhang I think we can merge this request.

[2020-08-28 21:06] phupe commented on #1412
Thanks. Sure, that's right.

You will see in the statement below that you have O (n, q) = X (n, d) * W (d, q) + b (1, q) and you cannot sum a (1, q) vector with a (n, q) matrix:

![matrix-dimension](https://user-images.githubusercontent.com/38132572/91613773-7bc7d180-e980-11ea-8f66-a29823a117b3.png)

you should have O (n, q) = X (n, d) * W (d, q) + B (n, q) with each line of B being the transpose

[2020-08-30 15:04] anikey783 commented on #1403
Next time first specify issues

[2020-08-31 08:57] Okroshiashvili opened #1416 "Bug in Chapter 8"
In **8.5. Implementation of Recurrent Neural Networks from Scratch** there is a bug in **train_epoch_ch8** function. It gives **AttributeError: module 'd2l.torch' has no attribute 'size'**. I did not figure out why is this case. Please, have a look.

[2020-08-31 09:37] StevenJokes opened #1417 "UnicodeDecodeError: 'gbk' codec can't decode byte 0xaf in position 33: illegal multibyte sequence"
![image](https://user-images.githubusercontent.com/25657787/91706180-997b7d80-ebb0-11ea-9524-7b00aa6beaca.png)

[2020-08-31 10:12] StevenJokes commented on #1417
![image](https://user-images.githubusercontent.com/25657787/91709572-84edb400-ebb5-11ea-9638-02e49258637a.png)

[2020-08-31 10:23] #1417 closed

[2020-08-31 19:01] astonzhang commented on #1416
Are you using the latest version? pip install d2l --upgrade

[2020-09-01 07:06] Okroshiashvili commented on #1416
The upgrading package solved the problem. Closing the issue.

[2020-09-01 07:06] #1416 closed

[2020-09-03 08:17] StevenJokes commented on #1381
@mli

[2020-09-04 15:34] StevenJokes opened #1425 "[Add Features] save models and pictures we have trained"

[2020-09-06 09:45] StevenJokes opened #1427 "[add Feature] download with expected time and progress bar"
![image](https://user-images.githubusercontent.com/25657787/92323106-924ce780-f068-11ea-816d-d9b4eb8b17b3.png)
Like this...

[2020-09-06 13:01] StevenJokes opened #1429 "[mxnet] FileNotFoundError: [WinError 2] The system cannot find the file specified"
![image](https://user-images.githubusercontent.com/25657787/92326350-fcbf5100-f083-11ea-83de-2e5a8e27e854.png)
https://github.com/StevenJokes/d2l-en-read/blob/master/Ch12_computational-performance/12-2mx.ipynb

[2020-09-06 13:22] StevenJokes opened #1430 "[mxnet]MXNetError: [13:10:18] src/engine/threaded_engine.cc:333: Check failed: exec_ctx.dev_id < device_count_ (1 vs. 1)"
![image](https://user-images.githubusercontent.com/25657787/92326734-ce8f4080-f086-11ea-9ed2-7c16d755334c.png)
https://colab.research.google.com/github/d2l-ai/d2l-en-colab/blob/master/chapter_computational-performance/multiple-gpus.ipynb#scrollTo=qmjTcAuRh9h4

[2020-09-06 15:38] StevenJokes opened #1431 "Need to fix ax.imshow(d2l.numpy(img)) in torch.py"
![image](https://user-images.githubusercontent.com/25657787/92329427-f6d46a80-f099-11ea-9637-232aa072e458.png)
https://github.com/StevenJokes/d2l-en-read/blob/master/Ch13_CV/13_2pt_colab_(3).ipynb

[2020-09-06 15:39] StevenJokes commented on #1431
![image](https://user-images.githubusercontent.com/25657787/92329470-3307cb00-f09a-11ea-91b5-dd82c7a21a62.png)
It works.

[2020-09-09 04:56] soumith commented on #1381
hey, BatchNorm seems unnecessary for the first layer, as the inputs to the first Conv2d are already zero-mean and unit std, and the Conv2d is initialized (initially in a random draw) in a way that the output of the Conv2d roughly maintains zero-mean and unit std.

This is why we avoided putting batchnorm in the first layer in our original code / paper

[2020-09-09 05:02] StevenJokes commented on #1381
Thanks for your reply.@soumith
Unnecessary means that it is OK to add the layer if we use D_block way to simplify code?

[2020-09-09 05:15] StevenJokes commented on #1381
And BTW, in my stupid code, I found pytorch is slower than mxnet. Can you help me improve the pytorch code...

[2020-09-09 21:58] soumith commented on #1381
Yes you can add if you want.

Maybe PyTorch is slower than MXNet :)

[2020-09-10 05:49] StevenJokes commented on #1381
@mli
Would you like to give me an offer?
Almost crazy about staying home with no income...

[2020-09-12 04:42] StevenJokes opened #1433 "Die DIe DIe DIE aaaaa Fk. I hate world. Non-sense. Shit！！！！"

[2020-09-12 04:45] StevenJokes commented on #1381
Die DIe DIe DIE aaaaa Fk. I hate world. Non-sense. Shit！！！！
You all go die...

[2020-09-12 06:27] #1433 closed

[2020-09-12 07:01] astonzhang commented on #1430
This section requires multiple GPUs to run, while colab notebook has 1 GPU

[2020-09-12 07:01] #1430 closed

[2020-09-12 07:02] astonzhang commented on #1427
However, it's not PDF-friendly :)

[2020-09-12 07:02] #1427 closed

[2020-09-12 07:03] astonzhang commented on #1425
We try to keep code minimal for each section to make it simple to follow.

[2020-09-12 07:03] #1425 closed

[2020-09-12 07:09] astonzhang commented on #1365
Thanks. I think it's fixed now: http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/d2l-en.pdf

[2020-09-12 07:09] #1365 closed

[2020-09-12 07:12] astonzhang commented on #1337
It's only for those that are saved to the d2l package.

[2020-09-12 07:12] #1337 closed

[2020-09-12 07:14] astonzhang commented on #1291
Thanks. I think the buttons work now.

[2020-09-12 07:14] #1291 closed

[2020-09-12 07:15] #1307 closed

[2020-09-12 07:20] astonzhang commented on #1321
duplicate of https://github.com/d2l-ai/d2l-en/issues/1323

[2020-09-12 07:20] #1321 closed

[2020-09-12 07:25] astonzhang commented on #1330
Users can freely print out the actual running time. For consistency throughout the book, we think throughput is a better measure for different types of tasks.

[2020-09-12 07:25] #1330 closed

[2020-09-12 07:25] #1325 closed

[2020-09-12 07:26] #1323 closed

[2020-09-12 07:31] astonzhang commented on #1431
I cannot reproduce the error in the notebook.

[2020-09-12 07:31] #1431 closed

[2020-09-12 07:33] astonzhang commented on #1354
So far pytorch and tf adaptations are still under development. We will only add discussion threads for them when we feel it's ready. Maybe we will add those discussion threads before next release

[2020-09-12 07:33] #1354 closed

[2020-09-12 07:36] #1065 closed

[2020-09-12 07:39] #1381 closed

[2020-09-12 07:40] astonzhang commented on #1190
This is not among our priority for the near future :)

[2020-09-12 07:40] #1190 closed

[2020-09-12 07:41] astonzhang commented on #1108
Thanks. For now, we think it makes our workflow much easier when splitting multi-lang into different repos.

[2020-09-12 07:41] #1108 closed

[2020-09-12 07:46] #1336 closed

[2020-09-12 07:50] #1359 closed

[2020-09-12 07:54] astonzhang commented on #1353
Thanks. It's automatically installed when `d2l` is installed: https://github.com/d2l-ai/d2l-en/blob/master/setup.py#L5
Installing `d2l` is required in the installation section.

[2020-09-12 07:54] #1353 closed

[2020-09-12 07:56] astonzhang commented on #1379
Thanks. It's fixed in the preview version: http://preview.d2l.ai/d2l-en/master/chapter_recurrent-neural-networks/rnn-scratch.html#rnn-model
It will show up on the main site when we make a new release soon.

[2020-09-12 07:56] #1379 closed

[2020-09-12 07:59] astonzhang commented on #1412
Broadcasting is applied here. See explanations that just follow (3.1.4) in http://preview.d2l.ai/d2l-en/master/chapter_linear-networks/linear-regression.html

[2020-09-12 20:36] terrytangyuan commented on #1290
@astonzhang The text looks fine though since we did not mention anything related to the output of these functions: "convenient functions that allow us to run code even if the requested GPUs do not exist." Could we close this then?

[2020-09-12 20:44] terrytangyuan commented on #1224
Reference fix for PyTorch https://github.com/d2l-ai/d2l-en/pull/1235. I'll take a look at the TF version later.

[2020-09-12 20:45] terrytangyuan commented on #1349
@abhinavsp0730 Any progress on this yet?

[2020-09-12 20:49] terrytangyuan commented on #1382
@kusur The suggested change is not valid TF syntax. See logs [here](http://ci.d2l.ai/blue/organizations/jenkins/d2l-en/detail/PR-1437/1/pipeline). I'll take a closer look soon but let me know if you have any suggested fix in the meantime.

[2020-09-13 21:44] astonzhang commented on #1290
@terrytangyuan Sure, though the output is not very illustrative.

[2020-09-13 21:44] #1290 closed

[2020-09-14 07:23] phupe commented on #1412
Dear Aston,
Great, thanks a lot for you reply.

[2020-09-14 07:23] #1412 closed

[2020-09-15 03:09] merajhashemi commented on #1270
pytorch:
`pool2d = nn.MaxPool2d((2, 2), padding=(1, 1),  stride=(2,3))`

[2020-09-16 13:51] Variiiest opened #1446 "Creating a pytorch and tensorflow version"
Pytorch version and tensorflow version are missing from the some chapters , I have an idea to create natural processing module in pytorch.

[2020-09-16 14:23] AnirudhDagar commented on #1446
Please see the contribution guidelines if you would like to contribute to the framework adaptation in PyTorch or Tensorflow.

[2020-09-16 14:28] phupe opened #1448 "Some :numref:`some_label` show-up in the pdf and website"
Fyi, for both the pdf file (https://d2l.ai/d2l-en.pdf) and the website, some internal link that refer to either Fig or Sections do not show-up:

![numref-broken-link](https://user-images.githubusercontent.com/38132572/93350867-5b7d8b00-f839-11ea-841e-b0a5e3deb341.png)

[2020-09-16 17:44] Vijayabhaskar96 commented on #1448
I see lot of :eqref:eq_matrix_def in [this chapter](https://d2l.ai/chapter_preliminaries/linear-algebra.html)

[2020-09-16 17:47] abhinavsp0730 commented on #1349
Sorry for the delayed response.
https://github.com/d2l-ai/d2l-en/pull/1450 I've done some modification but still, the model is not converging. @terrytangyuan It'd be great if you take a closer look and help me out.

[2020-09-16 18:08] Variiiest commented on #1446
Ok

[2020-09-16 18:08] #1446 closed

[2020-09-16 22:00] astonzhang commented on #1448
Thanks for reporting. This is a known issue due to our building tool. We will fix it but it is currently not among our prioritized items.

[2020-09-17 04:36] astonzhang opened #1451 "TF implementation of RNN-scratch runs much slower than other implementations"
http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_recurrent-neural-networks/rnn-scratch.html

On the same machine, TF runs for ~9mins, MX/PT runs for 3~5mins.

@abhinavsp0730, can you take a look? Thanks.

[2020-09-17 05:48] astonzhang commented on #1399
Thanks. It's merged.

[2020-09-17 05:48] #1399 closed

[2020-09-17 17:18] abhinavsp0730 commented on #1451
Hi, @astonzhang thanks good catch.
I've raised the PR to fix the issue.
But the notebooks of TF runs slower than because:
* we're throughout the Implementation we're using one device strategy. It means
the model is training in one GPU/CPU
* Till now we haven't used @tf.function decorator. By doing this we'll get 15x speed in executing python functions
Thanks

[2020-09-17 19:38] astonzhang commented on #1451
Thanks. RNN scratch does trains in one GPU for all the frameworks so I guess this is probably not the root cause. Maybe @terrytangyuan may help you with your PR on this.

[2020-09-18 03:21] abhinavsp0730 commented on #1451
@astonzhang I guess it doesn't because here http://d2l.ai/chapter_convolutional-neural-networks/lenet.html (train_ch6) we've to explicitly define one device strategy in order to utilize the gpu.
Thanks.

[2020-09-18 21:18] #1448 closed

[2020-09-19 07:30] StevenJokess opened #1455 "why `get_dataloader_workers()` are different in mxnet.py and torch.py?"
torch.py:
![image](https://user-images.githubusercontent.com/71307974/93661752-e30f0800-fa8c-11ea-8727-2e5c7e9a732c.png)
mxnet.py:
![image](https://user-images.githubusercontent.com/71307974/93661758-ebffd980-fa8c-11ea-82f0-a8ff6e4125c7.png)

[2020-09-19 09:05] astonzhang commented on #1455
MXNet will support this for windows later.
In the future, please post questions on the forum. This is for reporting issues.

[2020-09-19 09:05] #1455 closed

[2020-09-19 09:14] StevenJokess commented on #1455
forum's question never get attention...
cheer up, new MXNet!

[2020-09-22 13:38] gregbruss opened #1460 "Possible U-Net subsection in Chapter 7?"
Hi! Looking for a PR opportunity, I'm wondering if adding a subsection on [U-Net](https://arxiv.org/abs/1505.04597) might be a worthwhile contribution to Chapter 7: Modern ConvNets.

Just in terms of pedagogy, it might work to have it right before the NiN subchapter. Happy to send a PR if people think it would be worthwhile, I'm interested to hear what the community thinks and if a U-Net subsectio

[2020-09-22 16:59] astonzhang commented on #1460
Thanks for the interest! Our current goal is to finalize the entire book with v1.0 release asap so we intend not to add new sections before v1.0. Even for expanding chap 7 after v1.0, we may prioritize more recent architectures such as SENet, MobileNets, etc. However, you are welcome to contribute a PR of U-Net to contrib/ . It may get revised and moved back to main text when there's a good fit.

[2020-09-29 22:05] jwmueller opened #1476 "[WIP] New chapters: ML in practice, AutoML"
Plan is to contribute two new chapters:
1) Practical considerations when operationalizing ML (supervised learning)
2) Automated Machine Learning (with examples drawn from AutoGluon)

Link to repo where edits will be made:  https://github.com/jwmueller/d2l-en/tree/practice-auto

[2020-09-29 22:33] astonzhang commented on #1476
Thanks. Let's sync offline on the detailed plan and workflow.

[2020-09-29 23:49] #1460 closed

[2020-09-29 23:49] #1360 closed

[2020-10-02 22:10] astonzhang commented on #1476
Closing after sync.

[2020-10-02 22:10] #1476 closed

[2020-10-05 09:29] StevenJokess opened #1479 "two tabs' chaos"
![image](https://user-images.githubusercontent.com/71307974/95062948-41481600-0730-11eb-99cf-197d21ad6d3c.png)
http://preview.d2l.ai/d2l-en/master/chapter_deep-learning-computation/model-construction.html

[2020-10-05 19:04] astonzhang commented on #1479
There is indeed no compilation content for Pytorch.

[2020-10-05 19:04] #1479 closed

[2020-10-06 03:52] StevenJokess commented on #1479
But, when you click tensorflow, the compilation don't show.
![image](https://user-images.githubusercontent.com/71307974/95156973-64270880-07ca-11eb-869e-e6b1f2731ce3.png)
@astonzhang

[2020-10-14 20:03] astonzhang opened #1484 "PT implementation of Transformer has very bad translation results"
http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_attention-mechanisms/transformer.html

PyTorch:

go . => <unk> !, bleu 0.000
i lost . => je l'ai vu ., bleu 0.000
so long . => <unk> <unk> <unk> <unk> <unk> <unk> <unk> <unk> <unk> <unk>, bleu 0.000
i'm home . => <unk> à la maison ., bleu 0.000
he's calm . => sois <unk> <unk> <unk> <unk> <unk> <unk> <unk> <unk> <unk>, b

[2020-10-15 02:09] AnirudhDagar commented on #1484
Hmm, I can't see the root cause here.
If you check the stable version that seems to be doing very well. http://d2l.ai/chapter_attention-mechanisms/transformer.html#training

Could it be just this run or the change of hyperparams?  I'll try to investigate more.

[2020-10-15 06:05] astonzhang commented on #1484
In the stable version, both mx & pt perform poorly because there are issues in the initial implementations. Now they're fixed, but the pt version still didn't perform as well as the mx version:

http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_attention-mechanisms/transformer.html

MXNet:
go . => va !, bleu 1.000
i lost . => j'ai perdu ., bleu 1.000
i'm home . => je s

[2020-10-15 06:06] astonzhang commented on #1484
One hint is that
mx: loss 0.030
pt: loss 0.016

These are quite different

[2020-10-16 10:26] AnirudhDagar commented on #1484
I checked again and PyTorch is actually performing better than MX in this case if you look closely bleu score for the 1st example is perfect in PT unlike MX.

MX
[code]

PT
[code]

The loss difference is not a lot if you are hinting towards overfitting in PT.

[2020-10-16 16:59] astonzhang commented on #1484
Thanks. Could you run experiments for multiple runs to see if mx and pt results are comparable?

[2020-10-19 10:06] AnirudhDagar opened #1488 "MXNet installation version 1.7.0 not found"
With python 3.6 the following error is raised
[code]

@astonzhang changing the installation guidelines [here](http://d2l.ai/chapter_installation/index.html#installing-the-framework-and-the-d2l-package) to `1.7.0.post1` should fix the issue.

[2020-10-19 11:58] AnirudhDagar commented on #1484
Run 1: `loss 0.014, 5796.9 tokens/sec on cpu`
[code]

Run 2: `loss 0.014, 5826.1 tokens/sec on cpu`
[code]

Run 3: `loss 0.016, 5568.3 tokens/sec on cpu`
[code]

Run 4: `loss 0.018, 6071.4 tokens/sec on cpu`
[code]

Run 5: `loss 0.017, 4642.7 tokens/sec on cpu`
[code]

I guess there is indeed some issue with PT tranformer chapter since seq2seq has comparable results to mx but the transformer resul

[2020-10-19 17:35] #1488 closed

[2020-10-19 17:35] astonzhang commented on #1488
Thanks. Fixed

[2020-10-22 20:00] astonzhang commented on #1484
Just one more example of inconsistent performance

![Screen Shot 2020-10-22 at 12 59 49 PM](https://user-images.githubusercontent.com/22279212/96923708-85445600-1466-11eb-8751-1c456b3bab99.png)
![Screen Shot 2020-10-22 at 12 59 43 PM](https://user-images.githubusercontent.com/22279212/96923714-86758300-1466-11eb-8e8c-61b4a91b6d89.png)

[2020-11-04 14:34] 315930399 commented on #1484
First, *torch.repeat* should be used instead of *torch.repeat_interleave*. Someone point this out in the discussion of https://d2l.ai/chapter_attention-mechanisms/transformer.html
Second, I believe there are some issues in the *d2l.torch.predict_s2s_ch9* since it outputs differently with the same input. The mxnet version don't have this problem.

[2020-11-11 14:34] charleybeller commented on #1349
The current implementation converges quickly (perplexity around 17-18) and always predicts space (argmax(y) = 1). Not sure what's going wrong.

[2020-11-20 23:21] AnirudhDagar commented on #1484
Please see my comments on #1528 for the bug fix and reasoning.
Once the PR is merged, it will trigger a close on this issue. Thanks!

[2020-11-20 23:39] #1484 closed

[2020-11-21 00:28] astonzhang commented on #1484
Now both look better to me!

![Screen Shot 2020-11-20 at 4 28 00 PM](https://user-images.githubusercontent.com/22279212/99862097-61e7f600-2b4d-11eb-9621-d8f6a7ee0494.png)

![Screen Shot 2020-11-20 at 4 28 03 PM](https://user-images.githubusercontent.com/22279212/99862102-64e2e680-2b4d-11eb-9781-210cd89d3b43.png)

[2020-11-21 11:00] AnirudhDagar opened #1531 "[MXNet] Bug in 13.13 Image Classification CIFAR-10 Kaggle"
https://d2l.ai/chapter_computer-vision/kaggle-cifar10.html

Probably needs hyperparam tuning since the training is not stable.
![image](https://user-images.githubusercontent.com/23621655/99875527-7cd26d00-2c16-11eb-9362-9f27d9269fdf.png)
![image](https://user-images.githubusercontent.com/23621655/99875547-9ffd1c80-2c16-11eb-8a10-1c9337c90caa.png)

[2020-11-24 07:54] Hannibal046 opened #1537 "can not open the jupyter notebook from d2l"
Dear all:

I just downloaded the all jupyter notebooks from the web. And when I open it with my jupyter lab. It give me the 'NotJsonError'. Can anyone help me ?

I am using Macbook pro ,the os is Big Sur.

<img width="1894" alt="image" src="https://user-images.githubusercontent.com/38466901/100064113-0ed3b300-2e6d-11eb-964c-5736de1b0359.png">

<img width="909" alt="image" src="https://user-images.

[2020-11-24 20:27] astonzhang commented on #1531
This is ok because we do expect to just show a working example. We expect readers to practice the exercises to make the results better.

[2020-11-24 20:27] #1531 closed

[2020-11-24 20:29] astonzhang commented on #1537
Can you try to follow the installation guide https://d2l.ai/chapter_installation/index.html to open those jupyter notebooks?

[2020-11-24 21:30] AnirudhDagar commented on #1537
@Hannibal046  there are notebooks/sections in the book which are currently under dev for PyTorch and are not ported to PyTorch (Only available in MXNet as of today). Those notebooks (including the one in the screenshot) are actually empty files and you can't open those up. For now you can work with all notebooks till chapter 12 which are available in PyTorch. Please stay tuned and we'll soon relea

[2020-11-25 04:26] Hannibal046 commented on #1537
ok, thanks! Looking forward to the newer version!

[2020-11-25 09:55] #1306 closed

[2020-11-25 14:22] AnirudhDagar commented on #1537
Closing this for now!

[2020-11-25 14:22] #1537 closed

[2020-12-01 22:24] astonzhang commented on #1349
Fixed at https://github.com/d2l-ai/d2l-en/pull/1552

[2020-12-01 22:24] #1349 closed

[2020-12-10 20:49] marimeireles opened #1560 "Broken math notation on chapter 2.5"
Hi, great work!

The first cell in the autograd notebook have broken math notation.

I can fix it if you're interested!

[2020-12-10 21:07] marimeireles opened #1561 "Broken notations on chapter 2.6"
![image](https://user-images.githubusercontent.com/17600982/101829600-28daea00-3b2b-11eb-8449-a5d2d14079db.png)

Might be a problem of missing dependency?
I followed the installation chapter and I believe I have all of the specified deps. Here's a list of my env.:https://pastebin.com/RvCqsa91
I'm also available to fix this if it's confirmed as an issue.

Cheers.

[2020-12-10 21:23] smolix commented on #1561
Hi Mariana,

thanks for the pointer. Alas, if I look at
http://d2l.ai/chapter_preliminaries/probability.html all looks good to me.
It's true that on the notebooks that a user views they'll see tags such as
:numref: but that's primarily an issue with the fact that Jupyter doesn't
have the concept of cross-notebook references. And as such, they're only
visible in the rendered HTML version. This is a

[2020-12-11 01:08] astonzhang commented on #1560
Thanks. Please send a PR to fix

[2020-12-11 08:14] marimeireles commented on #1560
Okay, thanks for the reply.

[2020-12-11 08:14] #1560 closed

[2020-12-11 08:14] marimeireles commented on #1561
Thanks!

[2020-12-11 08:14] #1561 closed

[2020-12-15 21:19] astonzhang opened #1563 "VGG and DenseNet with TF 2.4.0 runs longer than 20 mins (no issue with 2.3.1)"
VGG timeoutError:
http://ci.d2l.ai/blue/organizations/jenkins/d2l-en/detail/master/308/pipeline

DenseNet timeoutError:
http://ci.d2l.ai/blue/organizations/jenkins/d2l-en/detail/master/309/pipeline/

[2020-12-16 06:08] JIElite opened #1564 "In chapter 10.3.2 missing RELU in MXNet implementation?"
Hi Dear Dive Into Deep Learning Team,

In [Chapter 10.3.2](https://d2l.ai/chapter_attention-mechanisms/transformer.html#position-wise-feed-forward-networks)

I've seen the implementation of Positional-wise Feed Forward Network of MXNet as the following:
[code]

In the `forward` method, `self.dense2(self.dense1(X)` can be downgrade to a single dense layer because of missing non-linear transformatio

[2020-12-16 06:10] JIElite commented on #1564
Sorry, I see the activation in MXNet implementation:
[code]

[2020-12-16 06:10] #1564 closed

[2020-12-19 12:37] AnirudhDagar opened #1567 "Use native torchvision.io instead of PIL Image"
### Issue with PIL
Semantic Segmentation Dataset uses VOC Dataset. When opening and reading multiple images in the function `read_voc_images` with PIL, if repeated multiple times the following IO Error is thrown `IOError: [Errno 24] Too many open files`. This issue is mentioned [here](https://github.com/pytorch/vision/issues/539) as well and seems to be some sort of internal issue with `PIL.Image`

[2020-12-20 00:07] astonzhang commented on #1567
That makes sense. Can you send a separate PR to update the build.yml and open & track a separate issue to update the next stable release that includes this feature?

[2020-12-21 08:34] #1567 closed

[2020-12-28 02:44] AnirudhDagar opened #1582 "[MXNet] Speedup SSD Scratch Implementation"
The scratch version of SSD is currently much slower than its counterpart PyTorch scratch implementation.

[2020-12-28 02:51] AnirudhDagar opened #1583 "Add minimum score threshold to multibox_detection"
`multibox_detection` returns a tensor with the shape `(batch_size x number_of_anchors x 6)`. The last dimension i.e 6 includes the `predicted class label`, `class confidence score` and `coordinates for predicted bbox in corner format`.

Adding a minimum score threshold ensures that all the predictions for a particular class below a `confidence score` of `0.01` are ignored and instead we return the

[2020-12-28 08:45] AnirudhDagar opened #1585 "[PyTorch] Add split_f argument to train_batch_ch13"
Current pytorch implementation ignores the argument `split_f` in the function `train_batch_ch13` as shown below.

[code]

Todo: Define the argument `split_f` similar to `mxnet` implementation which can then be used to simplify the `train_batch_ch13` function.

[code]

In this case, we can avoid the conditional `if isinstance` and instead pass `split_f` method which can then handle both:
* single i

[2020-12-28 08:57] AnirudhDagar opened #1586 "Switch back to stable torchvision release"
#1568 switched to a nightly `torchvision` build in an effort to utilize one of the `torchvision.io` features recently added i.e `mode = torchvision.io.image.ImageReadMode.RGB`. The idea was to use native io instead of PIL (unstable/erroneous when opening multiple files) as implemented in #1569.

Once the new stable release for `torchvision` is out, switch back to the stable version.

[2020-12-28 19:18] astonzhang commented on #1582
Can you fix it?

[2020-12-29 05:44] AnirudhDagar commented on #1582
I benchmarked the training loop and tried to find the bottleneck.
Interestingly just by using the `npx.multibox_target` method instead of the scratch implementation of `d2l.multibox_target` resulted in the desired speedup. This indicates that the custom multibox_target function implemented from scratch for mxnet is the bottleneck for speed. Although the exact same implementation using custom scrat

[2020-12-29 19:37] AnirudhDagar commented on #1583
#1588 closes this issue.

[2020-12-29 19:37] #1583 closed

[2021-01-04 23:35] AnirudhDagar opened #1601 "Rewrite PyTorch sections on async computation"
We need to provide more context regarding the difference in pytorch and mxnet async computation. By default all gpu operations are asynchronous and we currently leverage this in pytorch. mxnet has its own async engine to handle and manipulate operation queues which can enable async computation regardless of the hardware.

### Pitch
Rewrite sections 12.2 and 12.3 with respect to pytorch providing m

[2021-01-06 23:36] PHOENIXFURY007 opened #1615 "[TF ] Update required in Section 8.5.6 Training"
1. please update the images for both the graphs under Tensorflow in training
2. the perplexity value is coming to be near 1 for both while in the given output it is around 17
3. prediction results are not present for the outputs
``

[2021-01-08 19:34] AnirudhDagar commented on #1615
@PHOENIXFURY007 these are generated through CI. I think the perplexity is around 1 for `tf` in the latest release as seen [here](http://d2l.ai/chapter_recurrent-neural-networks/rnn-scratch.html). Feel free to re-open this issue if you have any other doubts.

[2021-01-08 19:34] #1615 closed

[2021-01-13 10:55] particle1331 opened #1632 "Minor issue: unnatural classifier for FashionMNIST in 18.1.3"
The classifier used in the text seems rather unnatural. A more natural way is to flatten the images, normalize them, then take the dot product as discussed in the text as a measure of similarity. The predicted label is the label of the average image that is more similar to the test image, hence the argmax.

[code]

This obtains an accuracy of ~0.95. In contrast, the classifier used in the text is

[2021-01-19 16:26] floriandonhauser opened #1639 "pip install only finds 0.16.0, not 0.16.1"
In the Google Colab notebooks, d2l is installed with version 0.16.1
`!pip install d2l==0.16.1`

However, the newest pip version right now seems to be 0.16.0 ([see here](https://pypi.org/project/d2l/#history)).
Therefore, this line will always fail with:
`ERROR: Could not find a version that satisfies the requirement d2l==0.16.1 (from versions: 0.8.2, 0.8.5, 0.8.6, 0.8.7, 0.9.1, 0.9.2, 0.10, 0.10.1

[2021-01-19 18:09] astonzhang commented on #1639
Thanks. We just released the 0.16.1. Can you try again in one or two hours?

[2021-01-19 21:42] floriandonhauser commented on #1639
Now it works, thank you :)

[2021-01-19 21:42] #1639 closed

[2021-01-21 02:04] nikisix opened #1642 "4.2. MLP From Scratch - colab worker timeout"
Running the code in section 4.2 yields a worker timeout:

[code]

[code]

[2021-01-21 18:43] astonzhang commented on #1642
![Screen Shot 2021-01-21 at 10 43 19 AM](https://user-images.githubusercontent.com/22279212/105397122-80ae4b80-5bd5-11eb-811c-8d29b43cdbfd.png)

I just tested it and it still works. Can you retry?

[2021-01-21 20:48] #1642 closed

[2021-01-21 20:49] nikisix commented on #1642
Sorry, by default runs fine.

Triggered this while attempting the first exercise, will drop a note here once I determine what happened.

[2021-01-22 22:19] #1270 closed

[2021-01-24 14:54] levimcclenny opened #1647 "[tensorflow] Section 12.1 - Compilers and Interpreters"
Ref: #1646. Opening an issue for tf-adapt tracking. PR is already up.

Thanks,

[2021-01-27 05:38] levimcclenny commented on #1647
Merged, closing

[2021-01-27 05:38] #1647 closed

[2021-01-27 19:12] astonzhang commented on #1271
@levimcclenny  Thanks for fixing this issue! cc @terrytangyuan

[2021-01-27 19:12] #1271 closed

[2021-02-25 19:39] froggie901 opened #1664 "17.1. Generative Adversarial Networks"
Second paragraph ~

(1) What does learn a model mean here? Something different than the commonly used phrase train a model?

(2) This paragraph is little bit like word soup, consider revising for clarity. Below is one option.

There is more to machine learning than just solving discriminative tasks. If you have a large dataset without any labels you might want train a model that can concisely capt

[2021-03-05 03:06] #1586 closed

[2021-03-09 09:23] aa12356jm opened #1668 "how to run the md file in vscode?"
hi ,i am using  vscode  to run the files ,  but md file in vscode can not work, thanks .

[2021-03-14 05:49] 315930399 commented on #1668
you can install an extension called _Markdown Preview Enhanced_

[2021-03-16 15:57] Banyc opened #1676 "Fomula 2.4.11 does not make sense"
![image](https://user-images.githubusercontent.com/36535895/111339410-b3932e00-86b2-11eb-90be-673ea5a50cc0.png)

This formula is in the ["calculus" section](https://github.com/d2l-ai/d2l-en/blob/83ecc03a240f1e30dc36dd53083b1d5914391bcc/chapter_preliminaries/calculus.md) -> "Chain Rule". If we remove those $du_i$, it becomes

<img src="https://render.githubusercontent.com/render/math?math=\displays

[2021-03-17 12:01] floriandonhauser opened #1678 "The second training with use_random_iter=True in rnn-scratch does not reset the weights"
I am currently working on chapters 8 and 9 for the tensorflow version (already merged 8.6).
I have found that the last code block in 8.5 continues the training of the previous code block.
In my opinion, the training should begin from new.

![rnn-scratch-training](https://user-images.githubusercontent.com/35968719/111464106-aa40aa80-8720-11eb-9e5a-56c272465813.png)

The new code to do so would be a

[2021-03-17 13:13] Swetha5 opened #1679 "Adding a sub-topic in Convolutions for images"
The current material under topic '6.2 Convolution for images', does not cover 'Dilated Convolutions'.

Proposed Content:
(To be added after '6.2.6. Feature Map and Receptive Field')
- Define dilated convolution
- Add visualizations depicting the larger receptive field compared to standard convolution
- Add code snippets

I am working on the above mentioned material and will create a PR for 6.2 (Co

[2021-03-17 13:44] terrytangyuan commented on #1678
Let's stick with the behavior in MXNet/PyTorch implementations for now to be consistent.

[2021-03-17 13:53] floriandonhauser commented on #1678
I think consistency is important but I suggest we change all three variants in the near future.
Other people have also found this problem and have mentioned it in the discussion of this chapter:
[https://discuss.d2l.ai/t/implementation-of-recurrent-neural-networks-from-scratch/486/9](https://discuss.d2l.ai/t/implementation-of-recurrent-neural-networks-from-scratch/486/9)

[2021-03-17 13:58] terrytangyuan commented on #1678
Okay yeah I'd suggest focusing on new chapters/sections first and make sure to discuss with other maintainers too if the change is involved in all frameworks.

[2021-03-17 17:32] xiaotinghe opened #1681 "zero-byte file in d2l.zip"
Tensorflow and Torch implementations in the d2l.zip contain some 0-byte files

- chapter_convolutional-neural-networks/why-conv.ipynb
- chapter_convolutional-neural-networks/index.ipynb
- chapter_linear-networks/softmax-regression.ipynb
- chapter_linear-networks/index.ipynb
- ...

[2021-03-17 18:20] astonzhang commented on #1678
@floriandonhauser  Thanks! Can you send a separate PR to only fix "resetting the params" in the second run? We'll merge this fix first to ensure correctness.

[2021-03-17 18:38] floriandonhauser commented on #1678
@astonzhang
Yes, I will first merge my RNN changes with all 3 versions being consistent.
Afterwards, I will make the change for all 3 versions at once.

[2021-03-19 19:23] astonzhang commented on #1676
Thanks. You may refer to total derivatives: https://en.wikipedia.org/wiki/Total_derivative

For instance:

![Screen Shot 2021-03-19 at 12 22 40 PM](https://user-images.githubusercontent.com/22279212/111832295-d63d6680-88ad-11eb-9e32-0da8525c7f12.png)

Just reopen this issue if it still doesn't make sense

[2021-03-19 19:23] #1676 closed

[2021-03-19 19:28] astonzhang commented on #1585
@AnirudhDagar perhaps you may wish to wrap it up when you have time? Later it's hard to recall what we were thinking two months ago :)

[2021-03-19 21:48] AnirudhDagar commented on #1585
Actually, if I can recall correctly, I later realized that the `split_f` arg in PyTorch won't be possible since we now manually split using `d2l.split_batch` in `chapter_computational-performance/multiple-gpus.md`. But in other PyTorch sections where the concise implementation is used, we don't want to repeat the splitting as `nn.DataParallel` internally does the same. The only thing that we wante

[2021-03-19 21:48] #1585 closed

[2021-03-20 04:43] Banyc commented on #1676
@astonzhang I hope the additional info about total derivatives can be considered adding to the book as there might be many like me who do not have that knowledge.

Thanks!

[2021-03-23 17:36] astonzhang commented on #1678
@floriandonhauser, would you like to send a PR to fix this issue now or wait after more RNN PRs being merged? Thanks!

[2021-03-23 18:28] floriandonhauser commented on #1678
@astonzhang I will work on a PR for this issue now (probably finished tomorrow) and will then continue my work on the rest of the RNN chapters.
I also noticed, that train_ch8 has an additional parameter in the TensorFlow implementation (num_hiddens) which is actually unnecessary and unused. I will include this change as well.

For the chapters 9.4 and 9.7 I might not be able to implement them on m

[2021-03-23 18:29] terrytangyuan commented on #1678
@floriandonhauser Thank you!

[2021-03-23 21:24] astonzhang commented on #1678
@floriandonhauser Understand. Thank you!

[2021-03-25 08:20] floriandonhauser commented on #1678
Fixed with PR #1693

[2021-03-25 08:20] #1678 closed

[2021-03-25 16:42] floriandonhauser opened #1696 "[TF] Help with TensorFlow version of Nadaraya-Watson Kernel Regression"
I have finished a TensorFlow implementation of Nadaraya-Watson Kernel Regression.
Unfortunately, it might be numerically unstable or I still have a bug (the likely problem).
I am unable to find the problem :(
I have saved all random values and I load the from file to eliminate this change.
I initialize the learnable parameter w with the same constant and after training the constant is identical.
U

[2021-03-25 17:11] astonzhang commented on #1696
Thanks. Can you check the default init methods for parameters?

[2021-03-25 17:34] floriandonhauser commented on #1696
In this example we initialize the single w number with a value from a uniform distribution [0, 1).
To make both implementations identical, I use the constant value 0.5.

[2021-03-26 18:10] terrytangyuan commented on #1696
Did you use high-level or low-level APIs to construct the experiment?

[2021-03-26 18:15] floriandonhauser commented on #1696
I am using tf.keras but I attached the code of my experiment above.
Maybe you can spot the problem.

[2021-03-27 10:07] chenjie04 opened #1699 "求带PyTorch源码的pdf！！！"
如题。pdf阅读更舒适，但是现在发布的pdf只有mxnet代码，求带PyTorch源码的pdf，英文版就行

[2021-03-27 12:42] chenjie04 commented on #1699
刚看到PyTorch代码才完成1-15章，不着急了！

[2021-03-27 12:44] #1699 closed

[2021-03-27 13:34] AliAkbarBadri opened #1700 "Request for Pytorch or Tensorflow version of PDF"
Hi
Is there any chance to release the PDF of the book in Tensorflow or Pytorch, please?
Thanks.

[2021-03-27 17:22] nikisix commented on #1700
`jupyter nbconvert mynotebook.ipynb --to pdf`

[2021-03-27 17:25] nikisix commented on #1696
Looks like high-variance, did you remember your normalizing constant (dividing by 2) in the tf-kernel?

[2021-03-27 20:05] floriandonhauser commented on #1696
@nikisix
I think I have the normalizing constant and the training seems to work.
w converges to the same value as far as I can tell.
The important parts that might contain the bug are:
[code]
[code]
[code]
[code]

[2021-03-27 20:11] floriandonhauser commented on #1696
@terrytangyuan @astonzhang
If you want, I can also create a [WIP] Pull request so you have an easier way to look at the code and its output.
The code runs and the only problem is the instability of the model.

[2021-03-29 19:39] murphyk commented on #1105
I noticed this problem, too: I cannot get the SGD optimizer in Pytorch to overfit for the degree-20 polynomial, even when using full-batch training. (I did not try exact least squares fitting.) So this is not a compelling example of overfitting.
My pytorch code is [here](https://github.com/probml/pyprobml/blob/master/book1/supplements/poly_regression_torch.ipynb). By contrast, my [sklearn demo](ht

[2021-03-29 20:13] murphyk opened #1701 "suggestion: rename train_ch3 to something more generic"
The [train_ch3](https://github.com/d2l-ai/d2l-en/blob/master/d2l/torch.py#L326) function could be renamed to 'train_loop_v1' or something like that, since it is quite generic, and is used in several chapters (eg sec 4.6 on dropout).

I would also suggest removing the hard-coded assertions about train/test accuracy from this function, since they may fail if different arguments are passed.

Similarl

[2021-03-29 21:54] astonzhang commented on #1701
Thanks Kevin for the great suggestions!

For assertions, we noticed that our TF implementations often produce random results that have larger variance. Thus we put assertion statements to help our CI server catch those undesirable results that don't match our text descriptions.

[2021-03-29 22:11] murphyk opened #1702 "suggestion: move sec 4.9 (Environment and Distribution Shift) out of ch 4 (MLPs)"
Sec 4.9 (presumably written by Zachary :) does not logically belong in sec 4, since it has nothing to do with MLPs.
(Indeed most of the examples concern image classification.) You might want to move it to a later part of the book. (Adding practical examples with code would also be nice, and would be more in the spirit of the rest of the book :)

[2021-03-29 22:31] astonzhang commented on #1702
Thanks! We put it right before a full Kaggle example to emphasize how ML in practice may look different than we thought. Besides authors, many other open-source community members also contribute to this section :) Hopefully there'll be contributions of code illustrations soon.

[2021-03-30 16:32] #1702 closed

[2021-03-30 20:00] nikisix commented on #1696
Actually Florian, yours might best fit in the discussion section if I'm not mistaken.

[2021-03-31 17:44] #1701 closed

[2021-04-02 23:14] murphyk opened #1707 "typo in eqn 10.2.7"
In the denominator of 10.2.7 in the [kernel regression section](http://d2l.ai/chapter_attention-mechanisms/nadaraya-waston.html), second line, it should be x_j not x_i.

[2021-04-03 03:21] astonzhang commented on #1707
Thanks Kevin! Fixed at https://github.com/d2l-ai/d2l-en/commit/26a8902723b2c9e33ef3a648f25d892c41a1fb80

[2021-04-03 03:21] #1707 closed

[2021-04-06 20:16] ToddMorrill commented on #1700
`jupyter nbconvert geometry-linear-algebraic-ops.ipynb --to pdf` is throwing errors related to svg files. Is there any chance you can compile the PDF version of the textbook using PyTorch?

I'm happy to share more information about the error messages if you think it's an easy fix.

[2021-04-07 12:50] VikramKharvi commented on #1700
PDF of the book in Tensorflow or Pytorch would be very help full for the community

[2021-04-07 18:07] nikisix commented on #1696
@floriandonhauser your formulas check out from what I can tell! Probably something else going on..

[2021-04-08 01:26] nikisix commented on #1700
Few workarounds mentioned here: https://github.com/jupyter/nbconvert/issues/552
godspeed

[2021-04-11 01:29] murphyk opened #1715 "sec 11.11.1 (learning rate schedule) has a null effect"
In the pytorch code, the difference between a constant learning rate of 0.3 and square root schedluing is non existent, despite claims that the latter works better.

[2021-04-12 00:57] murphyk opened #1717 "caption in fig 12.5.3 is incorrect"
Fig 12.5.3 in http://d2l.ai/chapter_computational-performance/multiple-gpus.html has the order of the labels in caption b-c mixed up.

[2021-04-12 04:20] murphyk opened #1718 "image_augmentation pytorch colab (sec 13.1) does not work"
[This colab](https://colab.research.google.com/github/d2l-ai/d2l-pytorch-colab/blob/master/chapter_computer-vision/image-augmentation.ipynb) fails because of the line
[code]
I think you need to use something like this:
[code]

[2021-04-12 04:21] murphyk opened #1719 "text of sec 13.1.2 needs updating for pytorch"
Sec 13.1.2 (Using an Image Augmentation Training Model) refers to `transform_first` which is just in MXnet, not pytorch. (There are also several references to Gluon that should be removed).

[2021-04-12 05:53] murphyk opened #1720 "text of 13.2.2 (fine-tuning) needs updating for pytorch"
Sec 13.2.1.2 says "The pre-trained source model instance contains two member variables: features and output".
This is not true for PyTorch. Instead, the resnet object has many layers, the final one with the name `fc` (as is clear from the code, but not the text).

[2021-04-12 17:27] astonzhang commented on #1718
Thanks. For now colab only supports single-GPU execution of notebooks.

[2021-04-14 22:00] bsuleymanov opened #1722 "Batch Normalization with batch size of 1."
In 7.5.1: "Note that if we tried to apply batch normalization with minibatches of size 1, we would not be able to learn anything. That is because after subtracting the means, each hidden unit would take value 0!".

I think, a hidden unit wouldn't take value 0, since we compute means and variances axis(channel)-wise and subtract them elementwise.

Minimal example:
`x = torch.FloatTensor(1, 1, 2, 1)

[2021-04-17 16:17] AnirudhDagar commented on #1718
Hi, this issue is not specific to PyTorch and is probably a feature we should add to [d2lbook](https://github.com/d2l-ai/d2l-book). Anyways I'll send a quick fix for now.

[2021-04-17 16:55] AnirudhDagar commented on #1719
Thanks for raising this, should be fixed in #1724.

[2021-04-19 01:27] #1719 closed

[2021-04-19 20:21] murphyk opened #1725 "need to update 15.7.3. (Fine-Tuning BERT) for pytorch"
in [15.7.3](http://d2l.ai/chapter_natural-language-processing-applications/natural-language-inference-bert.html), you mention `ignore_stale_grad=True` but this does not appear anywhere in the pytorch code (although I see it [here](https://github.com/d2l-ai/d2l-en/blob/master/d2l/mxnet.py#L1421) in mxnet code). Consequently pytorch code is very slow, since it optimizes all the parameters including

[2021-04-19 23:25] murphyk opened #1726 "small bug in naive bayes classifier math"
In [sec 18.9](http://d2l.ai/chapter_appendix-mathematics-for-deep-learning/naive-bayes.html), the add-one smoothing should be
`P_xy = (n_x + 1) / (n_y + 2).reshape(10, 1, 1)`
since you need to add 1 to both sets of pseudo counts (the 0 pixels and the 1 pixels) before normalizing, ie
$\theta_{ijc} = \frac{\alpha+N_{ijc}}{\alpha + N_{ijc} + \beta + (N_c - N_{ijc})}$, where $\alpha=\beta=1$ are the h

[2021-04-19 23:26] murphyk opened #1727 "bug in pytorch naive bayes code"
In [sec 18.9](http://d2l.ai/chapter_appendix-mathematics-for-deep-learning/naive-bayes.html), the pytorch code does not binarize the data, unlike the mxnet code.

[2021-04-19 23:59] murphyk opened #1728 "chapter 16 (recommender systems) needs translation to pytorch"
chapter 16 (recommender systems) needs translation to pytorch

[2021-04-20 01:47] astonzhang commented on #1728
Thanks. We'll add it when the team has more bandwidth.

[2021-04-23 06:53] siAyush commented on #1668
Open Markdown file in VS Code and press Ctrl+Shift+V.

[2021-04-23 07:17] #1668 closed

[2021-04-24 20:35] #1720 closed

[2021-04-26 06:14] Rukmini-Meda opened #1736 "Add "Open with Google Colab" feature in every notebook"
The notebooks in this book do not have the feature to run on Google Colab. This feature will be very helpful for those who are just beginning with deep learning and will help us familiarize ourselves with the code in a better way.

[2021-04-26 19:07] astonzhang commented on #1736
Have you checked out https://d2l.ai/chapter_appendix-tools-for-deep-learning/colab.html

[2021-04-26 22:16] indigoviolet opened #1737 "Search doesn't appear to work"
Currently, the search page shows no results and just "Preparing search"...

http://d2l.ai/search.html?q=transformer

![image](https://user-images.githubusercontent.com/114010/116157746-5cfe1400-a6a2-11eb-8185-902defd38792.png)

Possibly related to this error in the console:

![image](https://user-images.githubusercontent.com/114010/116157842-8454e100-a6a2-11eb-8c29-07553906d950.png)

[2021-04-27 00:10] bgreenawald opened #1738 "Typo in 5.2.2.1. Built-in Initialization"
The TensorFlow tab for the final block in this section of 5.2.2.1 has a typo in the initialization.

![image](https://user-images.githubusercontent.com/8428972/116166071-30122700-a6cb-11eb-9d6e-107c3d53fd99.png)

The text says the constant initialization is 42 while the code uses a constant of 1.

[2021-04-27 01:46] #1738 closed

[2021-04-27 13:47] yoderj commented on #1737
It has actually been broken for a few weeks.  Thanks for putting in the issue, @indigoviolet!

[2021-04-28 04:02] astonzhang commented on #1717
Thanks Kevin. Are you referring to Fig 12.5.2? This section was recently revised. Does it look good to you now?

[2021-04-29 05:24] murphyk commented on #1717
yes I meant 12.5.2. The middle two captions should be swapped (layerwise,
then network partitioning)

On Tue, Apr 27, 2021 at 9:02 PM Aston Zhang ***@***.***>
wrote:

[2021-04-29 08:44] astonzhang commented on #1717
Thanks. It was revised.

[2021-04-29 08:44] #1717 closed

[2021-05-08 21:20] mli opened #1741 "remove all `torch.no_grad():`"
I don't think it is necessary, but there are still multiple notebooks containing this sentence:

[code]

[2021-05-08 22:04] mli commented on #1737
that's due to the api change of sphinx. fixed by https://github.com/mli/mx-theme/commit/8e6d3ceed3f207956c6a3f6239c4b9800f9cd959 it may take a few days to take effect (need to wait a release to update the html).

@astonzhang  please have a check if the search issue is fixed for next release.

[2021-05-08 22:31] AnirudhDagar commented on #1741
@mli @astonzhang `with torch.no_grad():` just makes sure that unnecessary gradient computation is avoided. It is not necessary but a good practice since you reduce memory usage. I still feel we should keep it, and in fact, use it whenever there is no need to track gradients.

[2021-05-09 02:23] astonzhang commented on #1737
Thanks. Will do.

[2021-05-13 18:13] #1727 closed

[2021-05-16 03:15] #1737 closed

[2021-05-19 11:54] biswajitsahoo1111 commented on #1696
@floriandonhauser please check this out: https://github.com/biswajitsahoo1111/D2L_Attention_Mechanisms_in_TF/blob/master/10_2_Attention_based_regression.ipynb

The plots are not identical to that of PyTorch's but similar, in my opinion. I have used default weight initializations of tf.keras.

[2021-05-21 08:57] floriandonhauser commented on #1696
@biswajitsahoo1111 That's great :)
Would you be able to create Pull Requests for the chapters to include them in the normal D2l website/book?
If you want, I can also help with that but I do not want to "steal" your code for the "d2l-en" repo and would prefer if you would be the contributor :)

[2021-05-21 14:47] biswajitsahoo1111 commented on #1696
@floriandonhauser That's so nice of you. Let me try to create a pull request first. In case of any issues, I will definitely seek your help. Thanks.

[2021-05-21 23:53] biswajitsahoo1111 opened #1755 "[TF] Can we make slight modifications to `#@tab all` sections of code"
`#@tab all` sections of code are meant to be the same for all frameworks. But the following code chunk at the beginning of section 17.1 gives an error in TF-2.5.0.
[code]

However, if we modify the `#@tab all` section slightly, it runs without any issue.

[code]
So without changing the essence of the code, can we modify `#@tab all` sections? I would be happy to know if there is any way around. I e

[2021-05-22 02:43] astonzhang commented on #1755
Thanks. We'll probably modify syntax in https://github.com/d2l-ai/d2l-en/blob/master/config.ini#L106 when upgrading tf in future versions. For now tf stays at an older version due to other issues related to `d2l` API doc generation.

[2021-05-24 18:34] #1696 closed

[2021-05-24 18:43] #1755 closed

[2021-05-26 07:39] adyomin opened #1764 "Potentially confusing statement in "4.1.1.2. Incorporating Hidden Layers""
Does this statement assume non-linear activations in the hidden layer(s) introduced in 4.1.1.3.? If it does not, could authers please explain why and how adding more layers adds expressive power? And if non-linear activations are assumed, could you please make it explicit?

[2021-06-02 15:52] ingambe commented on #1700
From the recent commits, the PDF version of Pytorch's notebooks should soon be available officially.
However, for the most impatient one, I put a link to the pdf generation of the Pytorch PDF pull request: http://preview.d2l.ai/d2l-en/PR-1770/d2l-en-pytorch.pdf

[2021-06-02 18:27] VikramKharvi commented on #1700
Finally!!, Thanks a lot.

[2021-06-02 19:11] AnirudhDagar commented on #1700
Once #1771 is merged, it should be available in the release `v0.16.5`.

[2021-06-02 19:16] astonzhang commented on #1700
#1771 is merged. It may take 1 or 2 hours to access the PyTorch pdf on the D2L homepage.

[2021-06-02 19:31] ToddMorrill opened #1772 "Maximum Likelihood Exercise 1"
I think there might be a typo in [exercise 1 for the maximum likelihood chapter](https://d2l.ai/chapter_appendix-mathematics-for-deep-learning/maximum-likelihood.html#exercises). If you work out the calculations as it is, you'll get -1/3 for alpha, which results in negative pdf values. If the initial distribution is formulated as alpha*e^(-alpha*x) (aka the exponential distribution), everything wo

[2021-06-02 19:31] #1700 closed

[2021-06-02 19:37] astonzhang commented on #1764
Yes, we assume non-linear activations (omitted here before the "activation function" has been undefined yet) as explained in 4.1.1.3.

[2021-06-02 19:42] AnirudhDagar commented on #1741
Closing this for now, please feel free to re-open if a discussion is required in favour of removing `torch.no_grad`.

[2021-06-02 19:42] #1741 closed

[2021-06-04 22:46] mli opened #1775 "loss and accuracy are not right on kaggle-cifar and kaggle-dog"
the pytorch tab in http://d2l.ai/chapter_computer-vision/kaggle-dog.html:

![image](https://user-images.githubusercontent.com/421857/120869708-e3343280-c54b-11eb-86e3-bcfa092709df.png)

for http://d2l.ai/chapter_computer-vision/kaggle-cifar10.html

both mxnet and pytorch are not right

![image](https://user-images.githubusercontent.com/421857/120869756-00690100-c54c-11eb-8580-2b7153b3d447.png)

![

[2021-06-04 23:14] AnirudhDagar commented on #1775
@mli This is intentional. See comments on #1531
But I think it is not very obvious at first sight and we need to explicitly mention this. What do you think @astonzhang ?

[2021-06-04 23:17] mli commented on #1775
i'll suggest to have reasonable HP, otherwise audience may think there are bugs in the code. We should avoid  not very obvious at first sight things, as it causes confusions and eats our bandwidth to explain.

[2021-06-04 23:59] astonzhang commented on #1775
The demo datasets are both very small in these cases to save execution time. At the very least, we'll need to show declining training loss over time. The PyTorch plot misses the training loss due to random NAN error. Let me look into it.

[2021-06-05 00:49] mli commented on #1775
I feel most users will tune based on the small datasets, instead of the
full dataset. so having a good default HP for the small one matters

On Fri, Jun 4, 2021 at 5:00 PM Aston Zhang ***@***.***> wrote:

[2021-06-05 05:19] astonzhang commented on #1775
Totally agree - the original Kaggle data are very big and expensive to play with.

I've revised implementations in these two sections. Now on the local small-scale demo datasets we still have decent plots:

<img width="1123" alt="Screen Shot 2021-06-04 at 10 06 37 PM" src="https://user-images.githubusercontent.com/22279212/120880835-89e6f600-c581-11eb-9c69-5ab708859039.png">

<img width="1101" alt

[2021-06-05 05:27] astonzhang commented on #1775
A downside for such changes is that our exercises become slightly more verbose to describe a decent set of HPs for the full dataset. Since we expect that most users play with the demo small datasets, this should be ok.

[2021-06-05 21:26] goldmermaid commented on #1775
d2l-zh fixes [here](https://github.com/d2l-ai/d2l-zh/pull/855).

@AnirudhDagar please let me know once you are done with HP tuning. Thanks!

[2021-06-07 08:16] adyomin commented on #1764
Thank you for the clarification, this solves the issue for me personally. I'll leave it up to you to close or leave the issue open.

[2021-06-07 20:32] #1764 closed

[2021-06-08 00:35] astonzhang opened #1778 "Unify hyperparameters of all frameworks in DCGAN"
https://github.com/d2l-ai/d2l-en/blob/master/chapter_generative-adversarial-networks/dcgan.md

Currently the TF implementation uses a different set of hyperparameters:

#@tab mxnet, pytorch
latent_dim, lr, num_epochs = 100, 0.005, 20
train(net_D, net_G, data_iter, num_epochs, lr, latent_dim)

#@tab tensorflow
latent_dim, lr, num_epochs = 100, 0.0005, 40
train(net_D, net_G, data_iter, num_epochs, l

[2021-06-08 00:37] astonzhang commented on #1778
@biswajitsahoo1111 Could you take a look at it? Thanks.

[2021-06-08 01:42] astonzhang opened #1779 "The `devices` argument in the TF implementation of d2l.predict_seq2seq"
The TF implementation of `d2l.predict_seq2seq` in https://github.com/d2l-ai/d2l-en/pull/1768/files?file-filters%5B%5D=.md#diff-dbae7acee5140a9e76359207c8a1b718efcc82d4e7fbd194d6036ab0ee8e2130R883 removes `devices` argument with a note "We don't need the `device` argument in TF as TF uses available device automatically."

@biswajitsahoo1111, does it hurt if we force to specify `device` like what we

[2021-06-08 01:47] astonzhang opened #1780 "d2l.bleu(fra, translation) -> d2l.bleu(translation, fra)?"
https://github.com/d2l-ai/d2l-en/blob/master/chapter_attention-mechanisms/bahdanau-attention.md
https://github.com/d2l-ai/d2l-en/blob/master/chapter_attention-mechanisms/transformer.md

@biswajitsahoo1111 , @terrytangyuan , are there any specific reasons why we switch `translation` and `fra` when invoking `d2l.bleu` in the TF implementation? If not, I'd suggest to stay consistent/correct. Thanks!

[2021-06-08 14:34] terrytangyuan commented on #1779
Yes, I agree we should be consistent. @biswajitsahoo1111 Any special reason to not do that? I think at least we could make sure the function signature is consistent.

[2021-06-08 14:40] terrytangyuan commented on #1780
Fixing in https://github.com/d2l-ai/d2l-en/pull/1782

[2021-06-08 14:40] terrytangyuan commented on #1778
Agreed. We should also double check whether the results across all frameworks are consistent when the same set of hyperparameters are used.

[2021-06-08 19:21] biswajitsahoo1111 commented on #1778
@astonzhang Let me try a few other sets of hyperparameters. Getting a common set of hyperparameters should be our goal. I also agree with @terrytangyuan on this.

[2021-06-08 19:29] #1780 closed

[2021-06-08 19:33] biswajitsahoo1111 commented on #1779
@astonzhang @terrytangyuan There is no special reason behind that choice. I probably ran into some error while using it so I removed it for personal convenience. I will look into it and try to incorporate it for consistency. I might require @terrytangyuan's help in this regard. But first let me try and see how far I can go in resolving this. Thanks.

[2021-06-11 11:40] AnirudhDagar commented on #1775
Hi! Sorry for the late reply on this. Have been busy throughout this week. I'll send PRs to fix both these sections.

[2021-06-11 12:06] AnirudhDagar commented on #1775
@goldmermaid Please go ahead with the fixes in d2l-zh. Again sorry for the delay caused.

[2021-06-11 18:36] #1775 closed

[2021-06-11 18:38] astonzhang commented on #1775
Thanks! I also made very minor revision: https://github.com/d2l-ai/d2l-en/commit/0da9c0646ddc6e6c8c9512296414ccbf4bdb9857

@goldmermaid Now these two sections are ready to be ported to d2l-zh

[2021-06-12 00:52] goldmermaid commented on #1775
Migration done at https://github.com/d2l-ai/d2l-zh/pull/855!

[2021-06-12 09:17] biswajitsahoo1111 commented on #1779
@astonzhang @terrytangyuan One of the simplest solutions would be to include the argument in `d2l.predict_seq2seq` but never use it inside the function (because we don't have to in TF). That would make the code consistent with other implementations and would not cause any errors. But would that be a good choice to make? We would just be adding a redundant argument without ever using it. Let me kno

[2021-06-12 09:24] biswajitsahoo1111 commented on #1382
It's fixed in [1769](https://github.com/d2l-ai/d2l-en/pull/1769).

[2021-06-12 11:20] #1382 closed

[2021-06-12 21:39] astonzhang commented on #1779
Thanks. As long as the current implementation is correct (@terrytangyuan please double check), I'm ok with leaving it out in the argument list for now.

[2021-06-12 22:39] dowobeha opened #1789 "Missing word in §2.1.1, ¶1"
In the first paragraph of Section 2.1.1 **Getting Started**, we have the following sentence:

That should be changed to:

[2021-06-13 01:23] terrytangyuan commented on #1779
Yes that's fine. This is pretty minor in my opinion.

[2021-06-13 16:39] dowobeha opened #1792 "Inconsistent use of np.dot and torch.mv in Section 2.3.8"
The final paragraph of Section 2.3.8 *Matrix-Vector Products* mentions the use of `np.dot` but not `torch.mv`. The subsequent code examples uses `torch.mv` but not `np.dot`.

Either the text should describe `torch.mv` or the code should use `np.dot`

[2021-06-13 21:58] #1789 closed

[2021-06-14 00:53] AnirudhDagar commented on #1792
Thanks @dowobeha for raising this issue and pointing it out! :)

[2021-06-16 20:10] #1792 closed

[2021-06-22 07:53] armingh2000 opened #1807 "Tokenization in 8.2.2"
I think in tokenize function, if it's tokenizing words, it should add space_character to tokens too. Otherwise, in predict function, it will assume '<unk>' for spaces and the predictions doesn't have spaces between them (which can be solved by manipulating the predict function to this line: `return ''.join([vocab.idx_to_token[i] + ' ' for i in outputs])`)

I think tokenized should change like this

[2021-06-22 09:29] armingh2000 commented on #1807
The problem can be fixed by only changing the predict function. So there is no need to change tokenize function

[2021-06-25 11:09] AnirudhDagar opened #1813 "Flaky chapter_computational-performance auto-parallelism.md"
The section on [auto-parallelism](http://preview.d2l.ai/d2l-en/master/chapter_computational-performance/auto-parallelism.html) sometimes fails and raise out of memory CUDA runtime errors on CI randomly. See the failing CI for more details [here](http://ci.d2l.ai/blue/organizations/jenkins/d2l-en/detail/PR-1810/2/pipeline/).

Pitch: Maybe reduce the size of the tensors.
cc @astonzhang

[2021-06-25 17:12] astonzhang commented on #1813
Since the MXNet implementation does not fail using the same setting, can you dive deep to find out the root cause?

[2021-06-26 08:42] ardey26 opened #1816 "DEEP LEARNING"

[2021-06-26 21:57] astonzhang commented on #1816
for testing? :)

[2021-06-26 21:57] #1816 closed

[2021-07-09 00:45] #1563 closed

[2021-07-09 00:47] astonzhang opened #1823 "GRU and LSTM are running very slow in TF"
Task "Evaluating ./chapter_recurrent-modern/gru.md" on CPU [2], GPU [3] is running for 00:19:02
Task "Evaluating ./chapter_recurrent-modern/lstm.md" on CPU [3], GPU [1] is running for 00:14:28+

http://ci.d2l.ai/blue/organizations/jenkins/d2l-en/detail/master/935/pipeline

[2021-07-09 13:32] sazio opened #1825 "JAX/Flax Implementation"
Have you already considered to add a JAX based (could be Flax for NNs) implementation as an alternative to MXNet, Tensorflow and Pytorch?

[2021-07-09 14:43] terrytangyuan commented on #1823
Is this a regression or it's always been slow?

[2021-07-09 16:35] astonzhang commented on #1825
Yes. It's under planning but may take some time.

[2021-07-09 16:35] astonzhang commented on #1823
I think it's always. Can you look into it?

[2021-07-22 08:11] GuDzpoz opened #1837 "Minor typo in Figure 9.1.1: `function` misspelled as `fuction`"
In [Fig. 9.1.1](https://github.com/d2l-ai/d2l-en/blob/master/img/gru-1.svg) as well as some other diagrams in [9.1. GRU](https://d2l.ai/chapter_recurrent-modern/gru.html), `activation function` is misspelled as `activation fuction`.

![The image](https://github.com/d2l-ai/d2l-en/raw/07c2c8ac4903bb1973deea5870815f0cad426f86/img/gru-1.svg)

[2021-07-23 05:04] astonzhang commented on #1837
Thanks very much for pointing this out!
It's fixed: https://github.com/d2l-ai/d2l-en/commit/31053e469974410fbd3ffa90cdf23e917f3d84c1

[2021-07-23 05:04] #1837 closed

[2021-07-24 20:36] terrytangyuan commented on #1823
I took a look but couldn't find obvious mistakes yet. Did we get a chance to bump up TF version (trying to see if it's any low-level API bug that's fixed recently?

[2021-08-03 21:34] xuanthu2020 opened #1869 "Properties of Entropy"
Latex error:

H(X) :raw-latex:`\geq `0$ for all discrete :math:`X`

[2021-08-04 03:40] goldmermaid commented on #1869
Thanks @xuanthu2020 ! We have fixed in #1870 .

[2021-08-08 02:15] #1869 closed

[2021-08-11 19:03] smolix commented on #1736
Hi @Rukmini-Meda - I'm confused. Every notebook on the site can be launched in Colab. What else would you need? I'm going to close the issue since it seems that what you're asking for has already been implemented for a while.

[2021-08-11 19:03] #1736 closed

[2021-08-23 10:19] dbalabka commented on #1825
@astonzhang will you accept PRs with JAX implementations? 😎

[2021-08-24 03:47] AbhinandanRoul opened #1893 "Chapter 13.11 -Fully Convolutional Networks File not found in Error in Colab (PyTorch)"
<code> img = torchvision.transforms.ToTensor()(d2l.Image.open('../img/catdog.jpg')) </code>
I've already installed <code> !pip install d2l==0.17.0</code>
While executing this line, I'm getting
FileNotFoundError: [Errno 2] No such file or directory: '../img/catdog.jpg'

[2021-08-28 10:37] AbhinandanRoul commented on #1893
Earlier, I could not find the source image and it did not get imported automatically while running the notebook in colab. Now, it's solved. I put the images from the path. Thank you.

[2021-08-28 10:37] #1893 closed

[2021-08-30 05:51] dbalabka commented on #1825
@astonzhang could you please clarify where I can track refactoring progress (e.g., branch or ticket)?

[2021-08-30 16:30] astonzhang commented on #1825
@dbalabka You may watch this repo to stay updated with our release notes

[2021-09-14 15:40] shinglyu opened #1908 "Redirect HTTP to HTTPS"
The website can be accessed through both protocols: http://d2l.ai and https://d2l.ai. Please consider redirecting HTTP to HTTPS for better security.

This might be related to #366.

[2021-09-14 16:50] astonzhang commented on #1908
We keep http://d2l.ai to allow users from certain areas to access our website more easily.
E.g., http://www.baidu.com/ and https://www.baidu.com/ are both kept.

[2021-09-18 11:10] myrainbowandsky opened #1910 "module 'd2l.torch' has no attribute 'load_data_time_machine"
Just checked torch.py. There is no such function. (http://d2l.ai/chapter_recurrent-neural-networks/rnn-concise.html)

[2021-09-18 11:42] myrainbowandsky opened #1911 "module 'd2l.torch' has no attribute 'predict_ch8' & 'train_ch8'"
Name changed? module 'd2l.torch' has no attribute 'predict_ch8'. (http://d2l.ai/chapter_recurrent-neural-networks/rnn-concise.html)

[2021-09-18 21:01] astonzhang commented on #1910
cc @mli
We have been working on a major API revision that is still ongoing on the master branch.
Please refer to the release branch for the stable 0.17.0 release: https://github.com/d2l-ai/d2l-en/blob/release/d2l/torch.py

[2021-09-18 21:01] astonzhang commented on #1911
See https://github.com/d2l-ai/d2l-en/issues/1910

[2021-09-18 21:01] #1911 closed

[2021-09-28 11:43] tngt opened #1914 "Hope to implement the code of d2l based on paddlepaddle framework"
Hello, I am the staff of paddlepaddle. We want to implement the code of this book based on paddlepaddle, like pytorch and tensorflow. Currently, chapters 1-7 are being implemented. I hope someone can guide us on the specific process of contributing content to d2l. Looking forward to your reply.

[2021-09-28 18:15] astonzhang commented on #1914
Thanks! Is it this repo: https://github.com/tngt/Dive-into-DL-paddlepaddle/tree/master/docs

Currently we've been revising the API for the entire book: http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_linear-networks/api.html  Could you see if could adapt using the new API? Besides, we have been revising the chapters quite heavily recently (see the diff between the ma

[2021-09-29 03:16] tngt commented on #1914
Thank you very much for your reply. We are currently developing based on the Chinese version of d2l, here: [https://github.com/PaddlePaddle/awesome-DeepLearning/tree/master/Dive-into-DL-paddlepaddle](https://github.com/PaddlePaddle/awesome-DeepLearning/tree/master/Dive-into-DL-paddlepaddle)

Could you tell me when will the Chinese version of the d2l API be updated?

[2021-09-29 04:52] tngt commented on #1914
Thank you  for your reply and prompt. We are currently developing based on the Chinese version of d2l, here: [https://github.com/PaddlePaddle/awesome-DeepLearning/tree/master/Dive-into-DL-paddlepaddle](https://github.com/PaddlePaddle/awesome-DeepLearning/tree/master/Dive-into-DL-paddlepaddle)

Could you tell me when will the Chinese version of the d2l API be updated?

[2021-10-01 07:41] nnnnnzy opened #1917 "The training process of CNN implemented by Pytorch may have something wrong on the master branch."
In [7.6.2](http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_convolutional-neural-networks/lenet.html#training), [8.1.3](http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_convolutional-modern/alexnet.html#training), [8.2.3](http://preview.d2l.ai.s3-website-us-west-2.amazonaws.com/d2l-en/master/chapter_convolutional-modern/vgg.html#training)

[2021-10-02 22:19] dbalabka commented on #1825
@astonzhang is it possible to update Jax branch to make it up–to–date with the latest changes from `master`? I can help with that via PR if needed.

[2021-10-13 07:17] denzilc opened #1928 "PDF of TensorFlow Version"
I see a MXNet, PyTorch version of the D2L book in PDF. Is there a reason TensorFlow version is unavailable as a PDF on your website?

[2021-10-16 22:17] harryli0088 opened #1930 "Remember a user's framework selection?"
Hello! I'm wondering if it would be a nice convenience for the user if the website remembered their preferred framework (mxnet, pytorch, tensorflow) across pages or even across sessions. I would be happy to contribute if this is a good idea.

I'm not sure how the routing is done, but maybe there would be a way to save some local state in JS or in the URL within a session. Or this could be done acr

[2021-10-23 21:31] michaelsheidaei opened #1941 "Deep dive"

[2021-10-23 23:07] #1941 closed, assigned to nobody

[2021-10-24 20:04] gvtulder opened #1942 "Typo in GAN diagram"
There's a small typo in the GAN diagram (img/gan.svg), where the "Discrimiator" is missing an "n":

<img src="https://raw.githubusercontent.com/d2l-ai/d2l-en/ef44fa8642cd1306d80190ac7792dcd8fc37a02f/img/gan.svg">

Unfortunately, I don't have OmniGraffle/OS X to correct this and make a pull request myself.

[2021-10-25 12:04] g-i-o-r-g-i-o opened #1944 "duplicate"
canceled

[2021-10-25 12:05] #1944 closed, assigned to nobody

[2021-10-25 12:25] g-i-o-r-g-i-o opened #1945 "colab gives error code: '@save' is not an allowed annotation – allowed values include [@param, @title, @markdown]."
When I open the google colab files (pytorch or mx), I get this error:

'@save' is not an allowed annotation – allowed values include [@param, @title, @markdown].

This happens with all the colab files, in the specific case, this happens with the chapter 13 colab:
kaggle-cifar10.ipynb

![image](https://user-images.githubusercontent.com/9282332/138694548-bc590a76-a87a-4efa-a657-941fb51f1432.png)

[2021-10-29 11:43] #1942 closed, assigned to goldmermaid

[2021-11-11 06:53] hmh10098 commented on #1945
you can delete #@save, and you can run your  colab normally

[2021-11-11 07:09] GianniGi commented on #1945
Who knew :-D an editable file :-)

Il gio 11 nov 2021, 07:53 hmh10098 ***@***.***> ha scritto:

[2021-11-13 11:47] duncanlou opened #1961 "Animator class can't show images in pycharm project"
I pasted the pytorch.py file to my pycharm projects, and I used the train_ch6 function in my code, but the console window in pycharm could't show any images. The console showed this: "<Figure size 350x250 with 1 Axes>" .    How should I edit the code so that figures will be shown on pycharm?

[2021-11-25 09:12] breadfan commented on #1728
Hello. I'm feeling like I'll be able to do it since I'm learning recommender systems and want to do it by own hands.
Question is: **can** I do it (write code on PyTorch on chapter 16 for the book)?

[2021-11-27 22:36] astonzhang commented on #1728
Yes and thanks!

[2021-11-28 16:38] anandrajadarsh commented on #1928
From chapter 16.2-16.10, pytorch code is not present. Has it been taken down?

[2021-11-29 08:13] ashutosh-dwivedi-e3502 opened #1972 "Contributing to the jax version."
I want to contribute in the effort for the jax version, I see that there's already a branch call jax with ~20 commits but is quite behind the main branch.
Can you give me some more details on current jax effort and how I can contribute.

[2021-11-29 19:59] astonzhang commented on #1972
Thanks! See https://github.com/d2l-ai/d2l-en/issues/1825

[2021-11-29 20:03] astonzhang commented on #1825
Thanks! The refactoring is still ongoing and we'll update the Jax branch once it's in a better shape.

[2021-12-02 16:27] dbalabka commented on #1825
@NightMachinary , my initial idea was to keep the code much closer to TensorFlow and PyTorch. Using pure Jax will lead to the need to reimplement every layer that will be problematic to support. It is better to keep it simple. All NumPy level code snippets implement with Jax. For neural networks code snippets use Flax, Trax, or Haiku. AFAIK Flax is the most popular and based on Github statistics m

[2021-12-11 13:03] bjohn22 opened #1989 "Implementing Pretraining BERT"
I forgot to tune the `num_workers` and the `train_bert()` ran for extended time. I simply tuned the `num_worker` to `0`  and completed training in less than 1 minute on a single RTX 3090 GPU.

[2021-12-11 13:03] TalentWong commented on #1989
您好，邮件已收到，我会尽快处理，谢谢！

[2021-12-18 22:19] Melanol opened #1997 "Update main?"
Excuse me, how often do you update the main version of d2l.ai that people see? There are a lot of updates on Github, but I don't see them on d2l.ai English main, only in "http://preview.d2l.ai/d2l-en/PR-{some_number}/", where some some_number is a number I get when I receive conformation of my pull requests.

[2021-12-18 23:36] astonzhang commented on #1997
The main version of d2l.ai currently hosts stable releases on the https://github.com/d2l-ai/d2l-en/tree/r0.17 branch.
We have been refactoring the master branch like crazy - once it's in a good shape we'll release them on the main website.

[2022-01-07 00:14] #1917 closed

[2022-01-11 01:08] divo12 commented on #1728
I wish to contribute code for Recommender systems in Pytorch.May I contribute?

[2022-01-12 19:26] nblthree opened #2006 "Seq2Seq with BERT"
It will be great to have a Seq2Seq with BERT example because I can't get it to work right when I pass the `encoder` as `bert.encoder` here https://github.com/d2l-ai/d2l-en/blob/master/d2l/torch.py#L868 I get `bert` like this

[code]

And I change `train_seq2seq` to (I add `X_segments` because it's required in the forward method of the BERT encoder)

[code]

[2022-01-13 10:47] nblthree commented on #2006
this is the error that I get (in the decoder)

[code]

[2022-01-13 11:07] nblthree commented on #2006
if I change `context = state[-1].repeat(X.shape[0], 1, 1)` into `context = state[-1].repeat(X.shape[0], X.shape[1], 1)` I get this error `RuntimeError: Expected hidden size (2, 64, 256), got [20, 256]` from the decoder here

[code]

[2022-01-16 04:49] qingfengtommy opened #2011 "Hope to implement the answer for the end chapter questions."

[2022-01-16 06:02] Vortexx2 opened #2012 "Diagram Style For Contributing to Content"
I wanted to contribute to the content on the [lesson for DenseNet](http://d2l.ai/chapter_convolutional-modern/densenet.html), since in my opinion, I don't feel the lesson has an adequate explanation for a DenseBlock.
An image and a short explanation of its architecture might go a long way for learners, so I'd like to contribute the same image that was in the original paper -
![image](https://user-

[2022-01-17 18:32] nblthree commented on #2006
I got it to work

[2022-01-17 18:32] #2006 closed

[2022-01-19 04:09] KuanHaoHuang commented on #1728
I'd like to contribute PyTorch codes for the Recommender System chapter as well!

[2022-01-24 01:55] AnirudhDagar opened #2019 "[Tensorflow] Plots appear smoother inconsistent with MXNet/PyTorch"
Although the results look nice and ideal in all TensorFlow plots and are consistent across all frameworks, there is a small difference (more of a consistency issue). The result training loss/accuracy plots look like they are sampling on a lesser number of points. It looks more straight and smooth and less wiggly as compared to PyTorch or MXNet.

It can be clearly seen in chapter 6([CNN Lenet](http

[2022-01-24 02:17] AnirudhDagar opened #2020 "[PyTorch] Porting Chapter Recommender Systems"
Currently, the only missing chapter in the PyTorch port of the book is [Recommender Systems](https://d2l.ai/chapter_recommender-systems/index.html). Given the number of requests that we have been receiving regarding this section, and rising interest among readers, this is a good time to add PyTorch support.

This Issue serves as a tracker for various sections that need to be added. If you're inter

[2022-01-24 15:07] terrytangyuan commented on #2019
Good catch. Feel free to send PR to help make this more consistent and assign me to review.

[2022-01-25 05:25] Carla6-7 opened #2021 "Slut"

[2022-01-25 06:09] #2021 closed

[2022-01-25 10:51] shanmo opened #2022 "Where is internal state used in train_2d"
In `train_2d` defined in [gd](https://github.com/d2l-ai/d2l-en/blob/master/chapter_optimization/gd.md),  it says `s1` and `s2` are internal state variables that will be used later, but where exactly are those variable used are not clear, even after reading the following sections.

Perhaps it is better to put a reference in the comments, since it is confusing whether the internal states will be use

[2022-01-26 22:45] #2022 closed

[2022-01-27 01:03] astonzhang opened #2026 "[PyTorch] [NEW API] No plot in weight decay"
We need better plots to match our text discussions:

"We now run this code with lambd = 0, disabling weight decay. Note that we overfit badly, decreasing the training error but not the test error—a textbook case of overfitting."

`train_scratch(0)`

"Below, we run with substantial weight decay. Note that the training error increases but the test error decreases. This is precisely the effect we exp

[2022-01-27 08:03] astonzhang commented on #2026
Fixed by https://github.com/d2l-ai/d2l-en/commit/b68076d927775a1d7dd434ce40c15239dc2ab8ac

[2022-01-27 08:03] #2026 closed

[2022-01-27 14:25] DevPranjal opened #2028 "Improve contributing guidelines"
Current guidelines do not mention best practices to edit and preview files. It would be great to share some of them in the contributing guidelines.

cc: @AnirudhDagar

[2022-01-27 22:57] AnirudhDagar commented on #2028
Thanks @DevPranjal! I'll send a PR to improve our contributing guidelines, explaining `d2lbook` features used for d2l development in more detail.

[2022-01-28 09:10] KuanHaoHuang commented on #2020
Thanks Anirudh, for starting and arranging this tracker issue.

I'm working on 16.2. The MovieLens Dataset (#2030).

[2022-01-29 12:46] shanmo commented on #2020
I would like to work on `16.3. Matrix Factorization`

[2022-01-29 13:34] divo12 commented on #2020
I'll be working on 16.5 Personalized Ranking for Recommender Systems

[2022-01-29 17:20] KuanHaoHuang commented on #2020
I'm working on `16.4. AutoRec: Rating Prediction with Autoencoders`

[2022-01-31 05:15] AnirudhDagar commented on #2020
Thanks a tonne @KuanHaoHuang @shanmo @divo12. I'll review the PRs this week.

[2022-02-01 07:13] callmekofi opened #2032 "Contribution Steps"
The absence of the best techniques for revising and contributing to this project makes it is tedious. Can you update the contributing guidelines?

[2022-02-01 08:04] astonzhang commented on #2032
It's in https://d2l.ai/chapter_appendix-tools-for-deep-learning/contributing.html

[2022-02-02 14:24] malcolmsailor opened #2036 "ImportError in Attention Cues notebook"
I opened the [colab Pytorch notebook for section 10.1](https://colab.research.google.com/github/d2l-ai/d2l-pytorch-colab/blob/master/chapter_attention-mechanisms/attention-cues.ipynb#scrollTo=qR6NG8NczDII). Without making any changes whatsoever, I clicked "run all".

From the cell whose contents are
[code]
Got the following error:
[code]

Full traceback is:

[code]

[2022-02-02 15:16] malcolmsailor commented on #2036
Yes, that works! I had scrolled down well past the first cell so I must have missed that message. My bad! Though it would be nice if colab would have a dialog box pop up or something to get your attention.

[2022-02-02 15:16] #2036 closed

[2022-02-06 02:16] Roy-Kid commented on #1972
I also want to contribute to jax version and I pull the jax branch. But I only find there are a few changes in this branch, see:
![image](https://user-images.githubusercontent.com/42854324/152665399-54b178f2-4e55-46e9-a7c8-e2894babb40b.png)
Do I pull the right branch?

[2022-02-10 10:55] tuelwer commented on #1772
I agree! I it should either be `\alpha e^{-\alpha x}` or `\frac{1}{\alpha} e^{-\frac{x}{\alpha}}` [(see here)](https://en.wikipedia.org/wiki/Exponential_distribution#Definitions). It might also be good to mention that the random variable only takes positive values (otherwise the density does not integrate to one which might be confusing for the reader.)

[2022-02-14 18:07] AnirudhDagar opened #2044 "Pin the dependencies in setup.py"
The d2l library has various dependencies which are currently unpinned and install the latest (or collecting the cached) version of that dependency library. See below:

https://github.com/d2l-ai/d2l-en/blob/f742ee4b4d503187e6ced5dcc9ae54b955c7b0e4/setup.py#L4-L11

This leads to non-reproducible and unintentional bugs sometimes.

For example:

1. This issue in [section linear regression](http://prev

[2022-02-19 05:45] AnirudhDagar opened #2046 "[MXNet] matplotlib >=3.5 raises TypeError with ax.plot_wireframe in MXNet ndarray"
With the latest version of matplotlib, multiple notebooks fail with a type error in mxnet (mxnet==1.7.0 & CUDA 10.2). Some of the affected sections include [optimization intro](https://d2l.ai/chapter_optimization/optimization-intro.html), [integral calculus](https://d2l.ai/chapter_appendix-mathematics-for-deep-learning/integral-calculus.html), [multivariable calculus](https://d2l.ai/chapter_append

[2022-02-19 17:06] 315930399 opened #2048 "\n disappears when using if tab.selected"
![QQ图片20220220005831](https://user-images.githubusercontent.com/38678334/154810983-c4fb2cdd-fa58-4235-9969-48852870cd56.png)
![T)`AC)3NV(Z)`7T0}NB0686](https://user-images.githubusercontent.com/38678334/154810999-69389a93-9f32-4e4b-9598-d97dc0805e1c.png)
![YM(8OZ %)RP)DMGL23{ OW9](https://user-images.githubusercontent.com/38678334/154811024-378756a6-cf2c-469d-9806-c86bb24089ed.png)
![BSDGU 0SRAV3K

[2022-03-03 18:25] Y-H-Joe opened #2056 "multi-head Attention code has a big problem."
I only checked the pytorch version.
##################################################################
class MultiHeadAttention(nn.Module):
    """Multi-head attention.
    Defined in :numref:`sec_multihead-attention`"""
    def __init__(self, key_size, query_size, value_size, num_hiddens,
                 num_heads, dropout, bias=False, **kwargs):
        super(MultiHeadAttention, self).__init__(

[2022-03-05 16:10] Y-H-Joe opened #2057 "DecoderBlock code wrong?"
Hi guys, firstly, I can't find DecoderBlock in d2l/torch.py (although it exists in book).
Secondly, in forward function, there lies
`if self.training:`
However, no definition of `training` in `__init__` or other part of codes.

[2022-03-15 13:25] wudiweishao opened #2067 "can't load d2l using colab"
![1647350617(1)](https://user-images.githubusercontent.com/22288341/158387423-5dd42f34-a9ef-40d0-840a-5a24aa4c6096.png)

[2022-03-15 13:52] AnirudhDagar commented on #2067
Hi @wudiweishao, thanks for raising the issue. We are aware of the problem. It is due to the lack of python 3.8 support in colab and the latest version of `numpy>=1.22` has dropped python3.7 support. We're working on the issue in #2066. Should be fixed soon.

[2022-03-15 17:41] #1726 closed

[2022-03-17 14:01] KuanHaoHuang commented on #2020
Hi @AnirudhDagar, is there anything we can do to help this issue to progress?

[2022-03-21 15:23] AnirudhDagar commented on #2067
Fixed in #2066

[2022-03-21 15:23] #2067 closed

[2022-03-21 16:13] Y-H-Joe opened #2076 "MaskedSoftmaxCELoss code wrong"
this line:
 weighted_loss = (unweighted_loss * weights).mean(dim=1)
should be corrected to:
 weighted_loss = (unweighted_loss * weights).sum(dim=1)

reason:
when use `mean`, the padding locations will be calculated as denoimator to drag down the loss. In this case, model will learn to cheat by predicting as long as possible (as a result, no <eos> will be generated). ( I've tested it).
Also, use `m